/* Cal-HeatMap CSS */

.cal-heatmap-container {
	display: block;
}

.cal-heatmap-container .graph-label {
	fill: #353535;
	font-size: 12px
}

.cal-heatmap-container .graph, .cal-heatmap-container .graph-legend rect {
	shape-rendering: crispedges
}

.cal-heatmap-container .graph-rect {
	fill: #DEE3EA
}

.cal-heatmap-container .graph-subdomain-group rect:hover {
	stroke: #FFF;
	stroke-width: 1px
}

.cal-heatmap-container .subdomain-text {
	font-size: 8px;
	fill: #353535;
	pointer-events: none
}

.cal-heatmap-container .hover_cursor:hover {
	cursor: pointer
}

.cal-heatmap-container .qi {
	background-color: #353535;
	fill: #353535
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.cal-heatmap-container .q1 {
	background-color: #ff7671;
	fill: #ff7671;
}

.cal-heatmap-container .q2 {
	background-color: #ffda68;
	fill: #ffda68;
}

.cal-heatmap-container .q3 {
	background-color: #3fcbca;
	fill: #3fcbca;
}

.cal-heatmap-container .q4 {
	background-color: #4bb5ea;
	fill: #4bb5ea;
}

.cal-heatmap-container .q5 {
	background-color: #F782AA;
	fill: #F782AA;
}

.cal-heatmap-container rect.highlight {
	stroke: #444;
	stroke-width:1
}

.cal-heatmap-container text.highlight {
	fill: #444;
}

.cal-heatmap-container rect.now {
	stroke: red;
}

.cal-heatmap-container text.now {
	fill: red;
	font-weight: 800
}

.cal-heatmap-container .domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #000000;
	color: #ffffff;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: block;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
	border-width: 6px 6px 0;
	border-top-color: #222;
}
