@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/open-sans/OpenSans-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}
body,
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    font: normal 14px 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #101010;
    background: #E8EFF7;
}
a {
    color: #353535;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
a:focus {
    outline: none;
    color: #000000;
}
::selection {
    background: #4286F7;
    color: #ffffff;
    text-shadow: none;
}
::-moz-selection {
    background: #4286F7;
    color: #ffffff;
    text-shadow: none;
}
:focus,
:active {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.stylish-lists {
    padding: 0;
    margin: 0 0 0 25px;
    list-style-type: disc;
}
ul.stylish-lists li {
    color: #ff5c56;
    line-height: 24px;
}
ul.stylish-lists li a:hover {
    color: #ff5c56;
}
ul.stylish-lists li ul {
    margin-left: 25px;
    list-style-type: square;
}
ul.stylish-lists li:nth-child(1n+1) {
    color: #ff5c56;
}
ul.stylish-lists li:nth-child(2n+2) {
    color: #ffcd35;
}
ul.stylish-lists li:nth-child(3n+3) {
    color: #3fcbca;
}
ul.stylish-lists li:nth-child(4n+4) {
    color: #23b7e5;
}
ol.stylish-lists {
    padding: 0;
    margin: 0 0 0 25px;
}
ol.stylish-lists li {
    line-height: 24px;
}
ol.stylish-lists li:nth-child(1n+1) {
    color: #ff5c56;
}
ol.stylish-lists li:nth-child(2n+2) {
    color: #ffcd35;
}
ol.stylish-lists li:nth-child(3n+3) {
    color: #3fcbca;
}
ol.stylish-lists li:nth-child(4n+4) {
    color: #23b7e5;
}
ul.decimal-leading-zero {
    padding: 0;
    margin: 0 0 0 25px;
    list-style: decimal-leading-zero;
}
ul.decimal-leading-zero li {
    line-height: 24px;
}
ul.decimal-leading-zero li:nth-child(1n+1) {
    color: #ff5c56;
}
ul.decimal-leading-zero li:nth-child(2n+2) {
    color: #ffcd35;
}
ul.decimal-leading-zero li:nth-child(3n+3) {
    color: #3fcbca;
}
ul.decimal-leading-zero li:nth-child(4n+4) {
    color: #23b7e5;
}
ul.roman-list {
    padding: 0;
    margin: 0 0 0 25px;
    list-style: upper-roman;
}
ul.roman-list li {
    line-height: 24px;
}
ul.roman-list li:nth-child(1n+1) {
    color: #ff5c56;
}
ul.roman-list li:nth-child(2n+2) {
    color: #ffcd35;
}
ul.roman-list li:nth-child(3n+3) {
    color: #3fcbca;
}
ul.roman-list li:nth-child(4n+4) {
    color: #23b7e5;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #dde7f3;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    padding: 0;
}
h1 {
    font-size: 36px;
    margin: 0 0 30px 0;
}
h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
}
h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
}
h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
}
h5 {
    font-size: 15px;
    line-height: 150%;
    margin: 0 0 20px 0;
}
h6 {
    font-size: 11px;
}
p {
    padding: 0;
    margin: 0;
}
.heading-block {
    text-transform: uppercase;
    padding: 30px 20px;
    margin-bottom: 5px;
}
.number-block {
    counter-increment: heading;
}
.number-block .title-content:before {
    content: "0" counter(heading);
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    display: block;
    float: left;
    width: 100px;
    height: 64px;
    color: #23b7e5;
}
.height1 {
    height: 145px;
}
.height2 {
    height: 300px;
}
.min-height1 {
    min-height: 145px;
}
.min-height2 {
    min-height: 300px;
}
.min-height3 {
    min-height: 80px;
}
.no-border {
    border: 0;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.auto-margin {
    margin: auto;
}
.red-bg {
    background: #ff5c56;
}
.green-bg {
    background: #3fcbca;
}
.yellow-bg {
    background: #ffcd35;
}
.blue-bg {
    background: #23b7e5;
}
.pink-bg {
    background: #F782AA;
}
.purple-bg {
    background: #6a55c2;
}
.brown-bg {
    background: #ab7967;
}
.teal-bg {
    background: #47BCC7;
}
.fb-bg {
    background-color: #3B5998;
}
.tw-bg {
    background-color: #55ACEE;
}
.lk-bg {
    background-color: #007BB5;
}
.gplus-bg {
    background-color: #DD4C3B;
}
.random-bg-one {
    background-color: #816F76;
}
.random-bg-two {
    background-color: #648194;
}
.random-bg-three {
    background-color: #7C9490;
}
.random-bg-four {
    background-color: #C3807C;
}
.random-bg-five {
    background-color: #B1BDBC;
}
.random-bg-six {
    background-color: #007368;
}
.random-bg-seven {
    background-color: #D2A968;
}
.text-danger {
    color: #ff5c56;
}
.text-success {
    color: #3fcbca;
}
.text-warning {
    color: #ffcd35;
}
.text-info {
    color: #23b7e5;
}
.text-white {
    color: #ffffff;
}
.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.justified-text {
    text-align: justify;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.dropcap:first-child:first-letter {
    float: left;
    font-size: 64px;
    line-height: 64px;
    padding: 0 15px 0 0;
}
.dropcap.red:first-child:first-letter {
    color: #ff5c56;
}
.dropcap.yellow:first-child:first-letter {
    color: #ffcd35;
}
.dropcap.green:first-child:first-letter {
    color: #3fcbca;
}
.dropcap.blue:first-child:first-letter {
    color: #23b7e5;
}
.dropcap.fill-default:first-child:first-letter {
    background-color: #e6e6e6;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dropcap.fill-red:first-child:first-letter {
    background-color: #ff5c56;
    color: #ffffff;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dropcap.fill-yellow:first-child:first-letter {
    color: #ffffff;
    background-color: #ffcd35;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dropcap.fill-green:first-child:first-letter {
    color: #ffffff;
    background-color: #3fcbca;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dropcap.fill-blue:first-child:first-letter {
    color: #ffffff;
    background-color: #23b7e5;
    margin-right: 15px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
address {
    margin: 0;
}
blockquote {
    font-size: 16px;
    line-height: 24px;
}
blockquote small {
    color: #23b7e5;
}
blockquote.blockquote-default {
    border-color: white;
}
blockquote.blockquote-default small {
    color: #23b7e5;
}
blockquote.blockquote-green {
    border-color: #3fcbca;
}
blockquote.blockquote-green small {
    color: #3fcbca;
}
blockquote.blockquote-blue {
    border-color: #23b7e5;
}
blockquote.blockquote-blue small {
    color: #23b7e5;
}
blockquote.blockquote-yellow {
    border-color: #ffcd35;
}
blockquote.blockquote-yellow small {
    color: #ffcd35;
}
blockquote.blockquote-red {
    border-color: #ff5c56;
}
blockquote.blockquote-red small {
    color: #ff5c56;
}
.mark,
mark {
    background: #23b7e5;
    color: #ffffff;
}
header {
    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 25px;
    vertical-align: middle;
    position: fixed;
    background: #e0eaf4;
    width: 100%;
    z-index: 1010;
}
@media (max-width: 767px) {
    header {
        position: inherit;
        padding: 0 20px;
    }
}
.logo {
    margin: 0;
    /*float: left;*/

    position: relative;
    /*line-height: 50px; */
}
.logo .icon {
    color: #ffcd35;
    position: relative;
}
.logo .icon i {
    font-size: 48px;
    opacity: 0.7;
}
.logo img {
    max-width: 90px;
    margin: 5px 0 0 0;
}
ul#header-actions {
    margin: 0 0 0 20px;
    float: right;
}
ul#header-actions li.list-box {
    position: relative;
    cursor: pointer;
    float: left;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}
ul#header-actions li.list-box a {
    padding: 20px 14px 19px 14px;
    display: block;
    min-width: 48px;
    text-decoration: none;
}
ul#header-actions li.list-box a i {
    font-size: 20px;
    color: #333f88;
}
ul#header-actions li.list-box:hover {
    background: #333f88;
    background-position: 0 -1px;
}
ul#header-actions li.list-box:hover a i {
    color: #ffffff;
}
ul#header-actions li.list-box:hover .info-label {
    border: 2px solid #333f88;
}
ul#header-actions li.list-box .info-label {
    position: absolute;
    top: 12px;
    right: 3px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #e0eaf4;
}
ul#header-actions li.list-box .noti-label {
    position: absolute;
    top: 15px;
    right: 10px;
    line-height: 10px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.8;
}
ul#header-actions li.list-box.user-admin {
    text-align: right;
    background: transparent;
}
ul#header-actions li.list-box.user-admin .admin-details {
    float: left;
    margin: 17px 10px 0 20px;
    color: #212121;
}
ul#header-actions li.list-box.user-admin .admin-details .name {
    font-size: 13px;
}
ul#header-actions li.list-box.user-admin .admin-details .designation {
    font-size: 12px;
}
ul#header-actions li.list-box.user-admin a.dropdown-toggle {
    /*background: #212121;*/
    float: right;
    padding: 0px !important;
    min-width: 76px !important;
    margin-left: -17px;
}
ul#header-actions li.list-box.user-admin a.dropdown-toggle i {
    color: #ffffff;
    font-size: 30px;
}
ul#header-actions .dropdown-menu {
    min-width: 300px;
    right: 0;
    top: 57px;
    left: inherit;
}
ul#header-actions .dropdown-menu.sm {
    min-width: 200px;
}
ul#header-actions .dropdown-menu .dropdown-content {
    padding: 5px 0;
}
ul#header-actions .dropdown-menu .dropdown-content a {
    padding: 5px 10px;
    font-size: 12px;
}
ul#header-actions .dropdown-menu .dropdown-content a:hover {
    background: #23b7e5;
}
.user-rating .stars {
    margin: 10px auto 5px auto;
    width: 100%;
    text-align: center;
}
.user-rating .stars img {
    width: 16px;
    height: 16px;
}
.top-bar {
    margin: 0 0 20px 0;
}
.top-bar .page-title h3 {
    margin: 10px 0 0 0;
    color: #212121;
}
.top-bar .page-title p {
    line-height: 100%;
    margin-top: 6px;
    font-size: 13px;
}
.top-bar ul.right-stats {
    float: right;
}
.top-bar ul.right-stats li {
    display: inline-block;
    margin-left: 7px;
}
.top-bar ul.right-stats li a {
    min-width: 74px;
    min-height: 60px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.top-bar ul.right-stats li a span {
    display: block;
    font-size: 24px;
    line-height: 100%;
}
.top-bar ul.right-stats li a.btn i {
    display: block;
    font-size: 24px;
    margin: 0;
}
@media (max-width: 767px) {
    .top-bar .page-title {
        text-align: center;
    }
    .top-bar ul.right-stats {
        float: none;
        margin: 25px auto 10px auto;
        text-align: center;
    }
}
#scrollUp {
    bottom: 10px;
    right: 25px;
    width: 30px;
    height: 40px;
    padding: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border: 1px solid #afc8e3;
    color: #ff5c56;
}
#scrollUp i {
    font-size: 16px;
    line-height: 38px;
}
@media (max-width: 767px) {
    #scrollUp {
        right: 20px;
    }
}
.dashboard-wrapper {
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding: 150px 10px 20px 10px;
    min-height: 640px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*background: #E8EFF7;*/
}
@media (max-width: 767px) {
    .dashboard-wrapper {
        padding: 30px 0 20px 0;
    }
}
.custom-search {
    position: relative;
    float: right;
    padding: 0;
}
.custom-search::-webkit-input-placeholder {
    color: #333f88;
}
.custom-search:-moz-placeholder {
    color: #333f88;
}
.custom-search::-moz-placeholder {
    color: #333f88;
}
.custom-search:-ms-input-placeholder {
    color: #333f88;
}
.custom-search .search-query {
    margin: 0;
    padding: 6px 10px;
    font-style: italic;
    background: #f0f4fa;
    border: 1px solid #ceddee;
    width: 200px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    line-height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.custom-search .search-query:focus {
    outline: none;
    width: 260px;
}
.custom-search i {
    padding: 22px 0 0 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 16px;
}
.panel {
    margin-bottom: 10px;
    border: 1px solid #ceddee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    padding: 15px;
}
.panel.no-border {
    border: 0;
}
.panel-body {
    padding: 15px 0;
    position: relative;
    border: 0;
}
.panel-body h5.info {
    margin: 10px 0 0 0;
}
.panel-body.no-padding {
    padding: 0;
}
.panel-heading {
    position: relative;
    padding: 0 0 10px 0;
    border: 0;
    background: transparent;
}
.panel-heading h4 {
    font-size: 16px;
    margin: 0;
    text-align: center;
}
.panel-heading h4 span {
    font-size: 11px;
    color: #808080;
    font-style: italic;
}
.panel-heading h3 {
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 500;
}
.panel-bg-one {
    background: url(../img/watercolour.jpg) no-repeat;
    background-size: 100% 100%;
}
ul.imp-notify li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
ul.imp-notify li .icon {
    float: left;
}
ul.imp-notify li .icon img {
    width: 36px;
    height: 36px;
    border-left: 3px solid #23b7e5;
}
ul.imp-notify li .details {
    line-height: 18px;
    font-size: 13px;
    display: block;
    background: transparent;
    border: none;
    width: auto;
    margin-left: 48px;
}
ul.imp-notify li .details strong {
    font-weight: 500;
    margin-right: 3px;
    font-size: 13px;
    display: block;
}
ul.imp-notify li .details strong span {
    float: right;
    font-size: 11px;
    display: inline-block;
}
ul.imp-notify li .details span {
    display: block;
}
ul.imp-notify li:hover {
    background-color: #fafafa;
}
ul.progress-info {
    padding: 0;
    text-align: left;
}
ul.progress-info li {
    padding: 10px 15px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
ul.progress-info li:hover {
    background: #f7f7f7;
    cursor: pointer;
}
ul.progress-info li .progress-info {
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 11px;
}
ul.progress-info li .progress-info strong {
    margin-right: 3px;
    font-size: 13px;
}
ul.progress-info li .progress-info span {
    font-weight: 400;
}
ul.progress-info li.plain {
    padding: 5px 0px;
    border: 0;
    display: block;
    font-size: 14px;
    background: transparent;
    display: block;
}
ul.progress-info li.plain .btn {
    float: right;
}
ul.progress-info li.plain .btn i {
    color: #ffffff;
    font-size: 16px;
}
.social-details .social-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}
.social-details .social-icon .round-icon {
    border: 1px solid #23b7e5;
    height: 64px;
    width: 64px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.social-details .social-icon .round-icon i {
    font-size: 24px;
    line-height: 64px;
    vertical-align: middle;
    color: #ff5c56;
}
.social-details .social-icon .round-icon.red-icon {
    border: 1px solid #ff5c56;
}
.social-details .social-icon .round-icon.red-icon i {
    color: #ff5c56;
}
.social-details .social-icon .round-icon.green-icon {
    border: 1px solid #3fcbca;
}
.social-details .social-icon .round-icon.green-icon i {
    color: #3fcbca;
}
.social-details .social-icon .round-icon.yellow-icon {
    border: 1px solid #ffcd35;
}
.social-details .social-icon .round-icon.yellow-icon i {
    color: #ffcd35;
}
.social-details .social-icon .round-icon.blue-icon {
    border: 1px solid #23b7e5;
}
.social-details .social-icon .round-icon.blue-icon i {
    color: #23b7e5;
}
.social-details .social-num {
    margin-left: 75px;
}
.social-details .social-num h2 {
    color: #ffffff;
    margin: 0;
    position: relative;
}
.social-details .social-num h2 .label {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 24px;
    opacity: 0.9;
    color: #ffffff;
    border: none;
}
.social-details .social-num h2 .label:before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
}
.social-details .social-num h2 .label:after {
    position: absolute;
    left: -10px;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
}
.social-details .social-num h2 .label.label-danger:after {
    border-bottom: 10px solid #ff5c56;
}
.social-details .social-num h2 .label.label-danger:before {
    border-top: 10px solid #ff5c56;
}
.social-details .social-num h2 .label.label-warning:after {
    border-bottom: 10px solid #ffcd35;
}
.social-details .social-num h2 .label.label-warning:before {
    border-top: 10px solid #ffcd35;
}
.social-details .social-num h2 .label.label-success:after {
    border-bottom: 10px solid #3fcbca;
}
.social-details .social-num h2 .label.label-success:before {
    border-top: 10px solid #3fcbca;
}
.social-details .social-num h2 .label.label-info:after {
    border-bottom: 10px solid #23b7e5;
}
.social-details .social-num h2 .label.label-info:before {
    border-top: 10px solid #23b7e5;
}
.social-details .social-num p {
    margin: 6px 0 2px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.social-details .social-num .progress {
    margin: 0;
    opacity: 0.7;
}
@media (min-width: 768px) and (max-width: 991px) {
    .social-details .social-icon {
        display: none;
    }
    .social-details .social-num {
        margin-left: 0;
    }
}
.website-performance {
    position: relative;
}
.website-performance .performance-graph {
    height: 50px;
}
.website-performance .performance h5 {
    margin: 0 0 5px 0;
    padding: 0;
}
.website-performance .performance-stats {
    text-align: right;
}
.website-performance .performance-stats h3 {
    font-weight: 600;
    margin: 0 0 9px 0;
    padding: 0;
}
.website-performance .performance-stats p {
    font-size: 12px;
    padding: 0;
    margin: 0 0 2px 0;
}
.website-performance .performance-stats p i {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 21px;
}
.website-performance .performance-stats p i.up {
    color: #3fcbca;
}
.website-performance .performance-stats p i.down {
    color: #ff5c56;
}
.user-profile {
    margin: 10px auto 0 auto;
    text-align: center;
    position: relative;
}
.user-profile .user-img {
    width: 120px;
    margin: auto;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.user-profile .user-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: auto;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    opacity: 0.8;
    border: 3px solid #ffcd35;
    padding: 2px;
}
.user-profile .user-img .completed-info {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #ff5c56;
    cursor: pointer;
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    box-shadow: 0 10px 15px #000000;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.user-profile .user-img .completed-info:hover {
    box-shadow: none;
}
.user-profile h5 {
    font-size: 14px;
    margin: 20px auto 15px auto;
    text-align: center;
}
.user-profile h3,
.user-profile h4 {
    margin: 10px;
}
.user-stats .like-photo {
    height: 115px;
    overflow: hidden;
    position: relative;
}
.user-stats .like-photo a.like {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff5c56;
    font-size: 20px;
}
.user-stats h1 {
    margin: 10px 0 0 0;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
}
.user-stats h1 small {
    font-size: 14px;
    color: #ffffff;
    text-shadow: none;
    font-style: italic;
}
.user-stats h5 {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}
.current-location {
    position: relative;
}
.current-location .location {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    margin: 0;
}
#d3PieChart {
    width: 260px;
    margin: auto;
}
#d3PieChart svg {
    height: 100%;
    width: 100%;
}
.axis path,
.axis line {
    fill: none;
    stroke: #353535;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.bar:hover {
    fill: #bcbcbc;
}
.x.axis path {
    display: none;
}
.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #efefef;
    border-radius: 2px;
}
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
.timeline {
    position: relative;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background-color: #ceddee;
    height: 100%;
    width: 1px;
    display: block;
}
.timeline .timeline-row {
    padding-left: 50%;
    position: relative;
}
.timeline .timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 40px;
    font-size: 16px;
    line-height: 1.3;
}
.timeline .timeline-row .timeline-time small {
    display: block;
    color: #4d4d4d;
}
.timeline .timeline-row .timeline-icon {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -20px;
    width: 38px;
    height: 38px;
    text-align: center;
    overflow: hidden;
    padding: 2px;
    color: #ffffff;
    font-size: 14px;
    z-index: 100;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.timeline .timeline-row .timeline-icon i {
    line-height: 34px;
    font-size: 16px;
}
.timeline .timeline-row .timeline-content {
    margin-left: 40px;
    position: relative;
    background: white;
    border: 1px solid #d5e2f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px;
}
.timeline .timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 48px;
    left: -41px;
    height: 1px;
    width: 40px;
    background-color: #ceddee;
}
.timeline .timeline-row .timeline-content .timeline-image {
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 10px;
}
.timeline .timeline-row .timeline-content h4 {
    margin: 0 0 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.timeline .timeline-row .timeline-content p {
    margin-bottom: 10px;
    font-size: 14px;
}
.timeline .timeline-row .timeline-content img {
    margin-bottom: 15px;
}
.timeline .timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline .timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 30px;
}
.timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
    margin-left: 0;
}
.timeline .timeline-row:nth-child(odd) .timeline-content:after {
    left: auto;
    right: -41px;
}
.timeline.animated .timeline-row .timeline-content {
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
.timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: -20px;
}
.timeline.animated .timeline-row.active .timeline-content {
    opacity: 1;
    left: 0;
}
.timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0;
}
@media (max-width: 972px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -41px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}
ul.imp-messages {
    width: 100%;
}
ul.imp-messages li {
    border-bottom: 1px dotted white;
    padding: 25px 0;
}
ul.imp-messages li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
ul.imp-messages li:first-child {
    border-bottom: 0;
    padding-top: 0;
}
ul.imp-messages li img.avatar {
    float: left;
}
ul.imp-messages li blockquote {
    padding: 0 20px;
    font-size: 14px;
}
ul.imp-messages li .message-wrapper {
    margin-left: 60px;
    margin-right: 60px;
}
ul.imp-messages li .message-wrapper .url i {
    font-size: 24px;
    margin-right: 4px;
    vertical-align: middle;
}
ul.imp-messages li .message-wrapper ul.images li {
    margin-right: 10px;
    width: 36px;
    float: left;
    padding: 0;
}
ul.imp-messages li .message-wrapper ul.images li a {
    padding: 0;
    background-color: transparent;
    margin: 0;
    border: 0;
    border-left: 3px solid #23b7e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
ul.imp-messages li .message-wrapper ul.images li a img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
ul.imp-messages li .message-date {
    float: right;
    text-align: right;
    font-size: 24px;
    line-height: 24px;
    color: #ff5c56;
}
ul.imp-messages li .message-date span.month {
    font-size: 12px;
    font-style: italic;
}
@media (max-width: 767px) {
    ul.imp-messages li .message-wrapper {
        margin-left: 60px;
        margin-right: 0px;
    }
    ul.imp-messages li .message-wrapper ul.images li {
        margin-right: 4px;
        width: 32px;
        height: 32px;
    }
}
.blog {
    counter-increment: blogCounter;
}
.blog .blog-wrapper {
    margin-bottom: 50px;
}
.blog .blog-wrapper:before {
    content: "0" counter(blogCounter);
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    display: block;
    height: 70px;
    color: #bbcfe7;
    font-style: italic;
}
.blog .blog-wrapper a.image-wrapper {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 160px;
    overflow: hidden;
    display: block;
}
.blog .blog-wrapper a.image-wrapper:hover {
    opacity: 0.6;
}
.blog .blog-wrapper h4 {
    max-width: 240px;
    margin: 15px 0;
    letter-spacing: .5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #23b7e5;
}
.blog .blog-wrapper p {
    margin-bottom: 20px;
}
.blog .blog-wrapper a.comments-link {
    margin-bottom: 15px;
    display: block;
}
.blog .blog-wrapper a.comments-link i {
    content: "";
    font-size: 14px;
    margin-right: 10px;
    color: #23b7e5;
    vertical-align: middle;
}
.blog-detail .blog-wrapper .image-wrapper {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog-detail h2 {
    margin: 20px 0;
    letter-spacing: .5px;
}
.blog-detail p {
    margin-bottom: 20px;
}
.blog-comments {
    margin-top: 70px;
}
.blog-comments h1 {
    margin-bottom: 30px;
}
.blog-comments .comments-block {
    margin-bottom: 20px;
}
.blog-comments .comments-block .media-left {
    padding-right: 20px;
    display: table-cell;
    vertical-align: top;
}
.blog-comments .comments-block .media-left img {
    width: 64px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.blog-comments .comments-block .comment-body {
    display: table-cell;
    vertical-align: top;
}
.blog-comments .comments-block .comment-body h4 {
    margin-bottom: 10px;
}
.blog-comments .comments-block .comment-body h5.time {
    margin-bottom: 10px;
}
.blog-comments .comment-reply {
    margin-left: 90px;
}
ul.blog-gallery li {
    width: 20%;
    float: left;
    height: auto;
}
ul.blog-gallery li img {
    width: 100%;
    border: 1px solid #f2f2f2;
}
.invoice a .logo {
    width: 110px;
    margin: 0 auto;
    text-align: center;
}
.invoice .invoice-num {
    margin-bottom: 30px;
}
.invoice address h4 {
    margin-bottom: 10px;
}
.invoice .table .btn {
    min-width: 36px;
}
h1.audience-total {
    position: absolute;
    font-size: 36px;
    left: 65px;
    top: 25px;
    margin: 0;
    color: #ffffff;
}
h1.audience-total span {
    font-size: 12px;
    color: #23b7e5;
    padding-left: 5px;
}
h1.audience-total i {
    font-size: 24px;
    color: #3fcbca;
}
.stats {
    text-align: center;
}
.stats .circliful {
    width: 140px;
}
ul.sales-q2 li {
    margin-bottom: 25px;
}
ul.sales-q2 li .month-type {
    position: relative;
    width: 56px;
    height: 56px;
    line-height: 38px;
    float: left;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ff5c56;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
ul.sales-q2 li .month-type:after {
    position: absolute;
    content: "";
    top: 0;
    right: 5px;
    width: 10px;
    height: 10px;
    background: #ff5c56;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
ul.sales-q2 li .month-type.info {
    border: 2px solid #23b7e5;
}
ul.sales-q2 li .month-type.info:after {
    background: #23b7e5;
}
ul.sales-q2 li .month-type.warning {
    border: 2px solid #ffcd35;
}
ul.sales-q2 li .month-type.warning:after {
    background: #ffcd35;
}
ul.sales-q2 li .sale-info {
    margin-left: 70px;
}
ul.sales-q2 li .sale-info h3 {
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 15px;
}
ul.sales-q2 li .sale-info h3 span i {
    vertical-align: middle;
    font-size: 20px;
}
ul.sales-q2 li:last-child {
    margin-bottom: 0;
}
ul.app-downloads {
    margin-top: 0;
}
ul.app-downloads li {
    margin-bottom: 25px;
}
ul.app-downloads li .progress {
    margin-top: 5px;
    margin-bottom: 0;
}
ul.app-downloads li p {
    margin: 0;
}
ul.app-downloads li p i {
    margin-right: 10px;
}
ul.app-downloads li p span {
    float: right;
}
ul.stocks li {
    margin-bottom: 11px;
}
ul.stocks li p {
    margin: 0;
}
ul.stocks li p span {
    float: right;
}
ul.stocks li p span i {
    font-size: 20px;
    vertical-align: middle;
}
ul.social-engagement {
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
ul.social-engagement li {
    width: 50px;
    display: inline-block;
    background: #4d4d4d;
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.social-engagement li a {
    height: 45px;
    display: block;
}
ul.social-engagement li a i {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
}
ul.social-engagement li.fb {
    background: #3B5998;
}
ul.social-engagement li.tw {
    background: #55ACEE;
}
ul.social-engagement li.linkedin {
    background: #007BB5;
}
ul.social-engagement li.gplus {
    background: #DD4C3B;
}
ul.social-engagement li span {
    display: block;
    padding: 2px;
    font-size: 11px;
    color: #b3b3b3;
    background: rgba(0, 0, 0, 0.3);
}
ul.social-engagement li:hover {
    opacity: 1;
}
.sessions {
    text-align: center;
    display: block;
}
.sessions .graph {
    display: block;
}
.sessions h2 {
    margin: 0;
}
.sessions h2 span.perc {
    float: right;
    font-size: 15px;
}
.sessions h2 span.perc sup {
    font-size: 40%;
}
.sessions h2.left {
    margin: 0 0 5px 0;
    text-align: left;
}
.sessions h2.left i {
    font-size: 30px;
    float: right;
}
.sessions h2.left i.up {
    color: #3fcbca;
}
.sessions h2.left i.down {
    color: #ff5c56;
}
.metrics-block {
    margin-bottom: 10px;
    background: #f2f2f2;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px;
}
.metrics-block .red-bg {
    background: #ff5c56;
}
.metrics-block .yellow-bg {
    background: #ffcd35;
}
.metrics-block .blue-bg {
    background: #23b7e5;
}
.metrics-block .green-bg {
    background: #3fcbca;
}
.metrics-block .total-number {
    position: relative;
    font-size: 30px;
    line-height: 36px;
    vertical-align: bottom;
    color: #ffffff;
}
.metrics-block .total-number .circle-graph {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    float: left;
}
.metrics-block .total-number .values {
    line-height: 40px;
}
.metrics-block .total-number span.value-title {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
.metrics-block .total-number .label {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 24px;
    opacity: 0.9;
    color: #ffffff;
    border: none;
}
.metrics-block .total-number .label:before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
}
.metrics-block .total-number .label:after {
    position: absolute;
    left: -10px;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
}
.metrics-block .total-number .label.label-danger:after {
    border-bottom: 10px solid #ff5c56;
}
.metrics-block .total-number .label.label-danger:before {
    border-top: 10px solid #ff5c56;
}
.metrics-block .total-number .label.label-warning:after {
    border-bottom: 10px solid #ffcd35;
}
.metrics-block .total-number .label.label-warning:before {
    border-top: 10px solid #ffcd35;
}
.metrics-block .total-number .label.label-success:after {
    border-bottom: 10px solid #3fcbca;
}
.metrics-block .total-number .label.label-success:before {
    border-top: 10px solid #3fcbca;
}
.metrics-block .total-number .label.label-info:after {
    border-bottom: 10px solid #23b7e5;
}
.metrics-block .total-number .label.label-info:before {
    border-top: 10px solid #23b7e5;
}
@media (min-width: 992px) and (max-width: 1024px) {
    .metrics-block .total-number {
        font-size: 24px;
    }
    .metrics-block .total-number i {
        margin-right: 5px;
    }
}
.GaugeMeter {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: default;
    display: inline-block;
}
.GaugeMeter span,
.GaugeMeter b {
    width: 54%;
    position: absolute;
    text-align: center;
    display: inline-block;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 23%;
}
.GaugeMeter[data-style="Semi"] b {
    width: 80%;
    margin: 0 10%;
}
.GaugeMeter s,
.GaugeMeter u {
    text-decoration: none;
    font-size: 12px;
    opacity: .8;
}
.GaugeMeter b {
    font-size: 12px;
    color: #000000;
}
.os {
    text-align: center;
}
.os p {
    line-height: 100%;
    margin: 0;
    padding: 0;
}
.os .GaugeMeter {
    height: 54px;
    margin: auto;
}
#power-gauge {
    margin: auto;
    height: 70px;
    text-align: center;
}
#power-gauge svg:not(:root) {
    height: 70px;
}
#power-gauge g.arc {
    fill: steelblue;
}
#power-gauge g.pointer {
    fill: #ffcd35;
    stroke: #ffcd35;
}
#power-gauge g.label text {
    text-anchor: middle;
    font-size: 13px;
}
ul.tickets li {
    width: 50%;
    float: left;
    text-align: center;
}
ul.tickets li h1.no-of-tickets {
    margin: 0 0 5px 0;
    color: #3fcbca;
}
ul.tickets li h1.no-of-tickets.high {
    color: #ff5c56;
}
ul.tickets li h1.no-of-tickets.low {
    color: #ffcd35;
}
ul.tickets li p.ticket-type {
    margin: 0;
}
ul.bank-balance {
    margin-top: 0;
    text-align: center;
}
ul.bank-balance li {
    padding: 0 10px;
    width: 50%;
    box-sizing: border-box;
    display: inline;
    font-size: 13px;
}
ul.bank-balance li span {
    font-size: 15px;
}
.customer-satisfaction {
    text-align: center;
}
.customer-satisfaction i {
    font-size: 30px;
    color: #3fcbca;
}
.customer-satisfaction h2 {
    margin: 5px 0;
    color: #ffffff;
}
.customer-satisfaction p {
    margin: 10px 0 0 0;
}
.heatmap {
    margin: 0 auto;
    text-align: center;
    width: 124px;
}
.heatmap h2 {
    margin: 0;
}
.heatmap #cal-heatmap {
    margin: auto;
}
ul.transactions {
    margin: 0;
}
ul.transactions li {
    padding: 6px 0;
    border-bottom: 1px dotted #E2E2E2;
}
ul.transactions li:first-child {
    padding-top: 0;
}
ul.transactions li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
ul.transactions a {
    position: relative;
    display: block;
    line-height: 17px;
}
ul.transactions a .tra-type {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90px;
    display: inline-block;
}
ul.transactions a .tra-icon {
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin-right: 5px;
    border: 2px solid #E2E2E2;
    display: inline-block;
}
ul.transactions a .tra-amount {
    position: absolute;
    right: 0;
    border: 2px solid #E2E2E2;
    padding: 5px 12px;
    font-size: 16px;
    width: 70px;
    text-align: center;
    margin-top: 3px;
}
.task-list li {
    display: block;
    padding: 11px 0;
    margin: 0;
    cursor: pointer;
    line-height: 16px;
    font-size: 13px;
    border-bottom: 1px solid #E5E5E5;
}
.task-list li.completed {
    text-decoration: line-through;
    color: #23b7e5;
}
.task-list li span {
    margin-right: 8px;
    font-size: 16px;
}
.task-list li:first-child {
    padding-top: 0;
}
.task-list li:last-child {
    border-bottom: 0;
}
ul.contacts li.client {
    padding: 11px 0;
    border-bottom: 1px solid #ffffff;
}
ul.contacts li.client img.avatar {
    height: 36px;
    width: 36px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
}
ul.contacts li.client .client-details {
    margin-left: 50px;
    position: relative;
}
ul.contacts li.client .client-details p {
    margin: 0;
}
ul.contacts li.client .client-details p span.name {
    color: #999999;
    line-height: 16px;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}
ul.contacts li.client .client-details p span.email {
    line-height: 12px;
    display: block;
}
ul.contacts li.client .client-details ul.icons-nav {
    position: absolute;
    right: 0;
    top: 10px;
}
ul.contacts li.client .client-details ul.icons-nav li {
    float: left;
    margin-left: 10px;
}
ul.contacts li.client .client-details ul.icons-nav li a {
    padding: 5px;
}
ul.contacts li.client .client-details ul.icons-nav li a i {
    cursor: pointer;
    font-size: 16px;
}
ul.contacts li.client .client-details ul.icons-nav li a i:hover {
    color: #ff5c56;
}
ul.contacts li.client .client-details ul.icons-nav li:first-child {
    padding-left: 0;
}
ul.contacts li.client .client-details ul.icons-nav li:last-child {
    padding-right: 0;
}
ul.contacts li.client:first-child {
    padding-top: 0;
}
ul.contacts li.client:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
.chats li {
    padding: 5px 0;
    margin: 4px auto;
    font-size: 13px;
}
.chats li img.avatar {
    height: 48px;
    width: 48px;
    float: left;
    border-left: 3px solid #23b7e5;
}
.chats li .progress-stats {
    margin-top: 5px;
}
.chats li .progress-stats .progress {
    margin: 5px 0 0 20px;
}
.chats li p.date {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chats li p.inffo {
    margin: 0;
    font-size: 13px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chats li .message {
    padding: 8px 10px;
    position: relative;
    background: #f3f7fb;
}
.chats li.in .message {
    text-align: left;
    margin-left: 64px;
}
.chats li.in .message:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #f3f7fb;
}
.chats li.out .message {
    margin-right: 64px;
    text-align: right;
}
.chats li.out .message:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -12px;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #fafafa;
}
.chats li.out img.avatar {
    float: right;
    margin-left: 10px;
}
.chats li:first-child {
    margin-top: 0;
}
.chats li:last-child {
    margin-bottom: 0;
}
.demography {
    margin: 10px 0;
    text-align: center;
}
.demography ul.male-female {
    width: 60%;
    margin: auto;
    text-align: center;
}
.demography ul.male-female li {
    margin: 0;
    display: inline-block;
    width: 48%;
}
.demography ul.male-female li h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.demography ul.male-female li h4 i {
    display: block;
    margin: 0 0 5px 0;
    font-size: 48px;
}
.demography ul.male-female li .male {
    color: #23b7e5;
}
.demography ul.male-female li .female {
    color: #F782AA;
}
.demography h3 {
    margin: 15px 0 0 0;
    padding: 0;
    color: #23b7e5;
}
ul.activity-list li {
    padding: 8px 0px;
    border-bottom: 1px solid #E5E5E5;
}
ul.activity-list li p i {
    height: 30px;
    width: 30px;
    background: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}
ul.activity-list li p .time {
    text-align: right;
    color: #23b7e5;
    float: right;
    line-height: 30px;
}
ul.activity-list li:last-child {
    border-bottom: 0;
}
ul.activity-list li:first-child {
    padding-top: 0;
}
ul.project-activity li {
    position: relative;
    border-left: 1px solid #fafafa;
    font-size: 13px;
}
ul.project-activity li:after {
    position: absolute;
    top: 0;
    left: -6px;
    font-size: 10px;
    content: "\e004";
    font-family: 'icomoon';
}
ul.project-activity li .detail-info {
    margin: 0 0 0 25px;
    padding-bottom: 10px;
}
ul.project-activity li p.date {
    color: #999999;
    font-style: italic;
    line-height: 16px;
    font-size: 12px;
}
ul.project-activity li p.message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.project-activity li.green {
    border-left-color: #3fcbca;
}
ul.project-activity li.green:after {
    color: #3fcbca;
}
ul.project-activity li.red {
    border-left-color: #ff5c56;
}
ul.project-activity li.red:after {
    color: #ff5c56;
}
ul.project-activity li.blue {
    border-left-color: #23b7e5;
}
ul.project-activity li.blue:after {
    color: #23b7e5;
}
ul.project-activity li.yellow {
    border-left-color: #ffcd35;
}
ul.project-activity li.yellow:after {
    color: #ffcd35;
}
ul.project-activity li:last-child .detail-info {
    padding-bottom: 0;
}
ul.experience li {
    position: relative;
    border-left: 1px solid #fafafa;
    font-size: 13px;
}
ul.experience li:after {
    position: absolute;
    top: 0;
    left: -6px;
    font-size: 12px;
    line-height: 16px;
    content: "\e919";
    font-family: 'icomoon';
}
ul.experience li .detail-info {
    margin: 0 0 0 25px;
    padding-bottom: 15px;
}
ul.experience li p.date {
    font-style: italic;
    line-height: 18px;
}
ul.experience li.green {
    border-left-color: #3fcbca;
}
ul.experience li.green:after {
    color: #3fcbca;
}
ul.experience li.red {
    border-left-color: #ff5c56;
}
ul.experience li.red:after {
    color: #ff5c56;
}
ul.experience li.blue {
    border-left-color: #23b7e5;
}
ul.experience li.blue:after {
    color: #23b7e5;
}
ul.experience li.yellow {
    border-left-color: #ffcd35;
}
ul.experience li.yellow:after {
    color: #ffcd35;
}
ul.experience li:last-child .detail-info {
    padding-bottom: 0;
}
ul.top-clients li {
    position: relative;
    height: 65px;
    display: block;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
}
ul.top-clients li .progress {
    height: 3px;
    margin: 6px 0 0 0;
}
ul.top-clients li .avatar {
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    border-left: 3px solid #333f88;
    z-index: 2;
    overflow: hidden;
}
ul.top-clients li .avatar img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
ul.top-clients li .biz {
    margin-left: 60px;
    font-size: 13px;
}
ul.top-clients li .biz p.biz-name {
    margin: 0;
}
ul.top-clients li .biz .value {
    margin: 5px 0 0 0;
    font-size: 16px;
}
ul.top-clients li:first-child {
    padding-top: 0;
}
ul.top-clients li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.smart-stats {
    text-align: center;
}
.smart-stats i {
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50px;
    border: 2px solid #c2d5ea;
    font-size: 24px;
    margin: auto;
    vertical-align: middle;
    color: #E8EFF7;
    margin: auto;
    line-height: 48px;
}
.smart-stats h4.num {
    margin: 10px 0 8px 0;
    font-size: 21px;
    color: #E8EFF7;
    line-height: 100%;
}
.smart-stats p.stats-title {
    font-size: 11px;
    margin: 0;
    font-weight: 600;
    color: white;
}
.smart-stats.blue i {
    border: 2px solid #23b7e5;
    color: #23b7e5;
}
.smart-stats.blue h4.num {
    color: #23b7e5;
}
.smart-stats.green i {
    border: 2px solid #3fcbca;
    color: #3fcbca;
}
.smart-stats.green h4.num {
    color: #3fcbca;
}
.smart-stats.red i {
    border: 2px solid #ff5c56;
    color: #ff5c56;
}
.smart-stats.red h4.num {
    color: #ff5c56;
}
.smart-stats.pink i {
    border: 2px solid #F782AA;
    color: #F782AA;
}
.smart-stats.pink h4.num {
    color: #F782AA;
}
.smart-stats.yellow i {
    border: 2px solid #ffcd35;
    color: #ffcd35;
}
.smart-stats.yellow h4.num {
    color: #ffcd35;
}
.smart-stats.brown i {
    border: 2px solid #ab7967;
    color: #ab7967;
}
.smart-stats.brown h4.num {
    color: #ab7967;
}
ul.social-metrics {
    text-align: center;
    margin: auto;
}
ul.social-metrics li {
    text-align: center;
    padding: 15px;
    display: inline-block;
    width: 10%;
    margin: 5px 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.social-metrics li:hover {
    zoom: 1;
}
ul.social-metrics li.facebook {
    background: #3B5998;
}
ul.social-metrics li.twitter {
    background: #55ACEE;
}
ul.social-metrics li.gplus {
    background: #DD4C3B;
}
ul.social-metrics li.pinterest {
    background: #cb2027;
}
ul.social-metrics li.linkedin {
    background: #007BB5;
}
ul.social-metrics li.blog {
    background: #FF8329;
}
ul.social-metrics li.youtube {
    background: #bb0000;
}
ul.social-metrics li.dribbble {
    background: #ea4c89;
}
ul.social-metrics li a {
    color: #ffffff;
    display: block;
}
ul.social-metrics li i {
    display: block;
    font-size: 36px;
    padding-bottom: 5px;
}
@media (max-width: 767px) {
    ul.social-metrics li {
        width: 20%;
    }
}
.socail-stats {
    margin-bottom: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    display: block;
}
.socail-stats h4 {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    text-shadow: none;
}
.socail-stats p {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}
.socail-stats i {
    color: #ffffff;
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #000000;
    border: 1px solid #000000;
}
footer {
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0 25px;
    background: #c2cfde;
    font-size: 12px;
}
footer span {
    font-weight: 600;
    color: #23b7e5;
}
@media (max-width: 991px) {
    footer {
        padding: 0 35px;
    }
}
@media (max-width: 767px) {
    footer {
        padding: 0 20px;
    }
}
.jvectormap-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
}
.jvectormap-tip {
    position: absolute;
    display: none;
    border: solid 1px #000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #000000;
    color: #ffffff;
    font-size: 11px;
    padding: 4px 9px;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    top: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #c2d5ea;
    color: #333f88;
    width: 16px;
    height: 16px;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
}
.jvectormap-zoomin {
    right: 0px;
}
.jvectormap-zoomout {
    right: 20px;
}
.legend div {
    background: transparent;
}
.legendLabel {
    padding-left: 7px;
    font-size: 13px;
    padding-right: 7px;
}
.thumbs-sm {
    background: url(../img/thumbs-sm.png) no-repeat;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.thumbs-sm.user-one {
    background-position: 0 -5px;
}
.thumbs-sm.user-two {
    background-position: 0 -72px;
}
.thumbs-sm.user-three {
    background-position: 0 -130px;
}
.thumbs-sm.user-four {
    background-position: 0 -200px;
}
.thumbs-sm.user-five {
    background-position: -260px 0px;
}
.thumbs-sm.user-six {
    background-position: -195px -5px;
}
.thumbs-sm.user-seven {
    background-position: -130px -10px;
}
.thumbs-sm.user-eight {
    background-position: -70px -140px;
}
.thumbs-sm.user-nine {
    background-position: -190px -135px;
}
.thumbs-sm.user-ten {
    background-position: -130px -130px;
}
.thumbs-sm.user-eleven {
    background-position: -64px -71px;
}
.thumbs-sm.user-twelve {
    background-position: -192px -203px;
}
.thumbs-md {
    background: url(../img/thumbs-md.jpg) no-repeat;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.thumbs-md.user-md-one {
    background-position: -124px -125px;
}
.thumbs-md.user-md-two {
    background-position: 0 0;
}
.thumbs-md.user-md-three {
    background-position: -62px 0px;
}
.thumbs-md.user-md-four {
    background-position: -124px 0px;
}
.thumbs-md.user-md-five {
    background-position: -248px 0px;
}
.thumbs-md.user-md-six {
    background-position: -186px 0px;
}
.thumbs-md.user-md-seven {
    background-position: -248px 0px;
}
.thumbs-md.user-md-eight {
    background-position: -248px -64px;
}
.thumbs-md.user-md-nine {
    background-position: -248px -249px;
}
.thumbs-md.user-md-ten {
    background-position: -124px -249px;
}
.thumbs-md.user-md-eleven {
    background-position: -62px -249px;
}
.thumbs-md.user-md-twelve {
    background-position: 0px -249px;
}
.material-btn {
    position: relative;
    overflow: hidden;
}
.circless {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    overflow: hidden;
}
.circless.animate {
    -webkit-animation: effect 0.65s linear;
    animation: effect 0.65s linear;
}
@-webkit-keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
.chart-height1 {
    position: relative;
    height: 225px;
    overflow: hidden;
}
.chart-height2 {
    position: relative;
    height: 80px;
    overflow: hidden;
}
.chart-height3 {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.chart-height4 {
    position: relative;
    height: 120px;
    overflow: hidden;
}
.chart-height5 {
    position: relative;
    height: 60px;
    overflow: hidden;
}
.chart-height6 {
    position: relative;
    height: 60px;
    margin-top: -15px;
    overflow: hidden;
}
.chart-height7 {
    position: relative;
    height: 190px;
    overflow: hidden;
}
.chart-height8 {
    position: relative;
    height: 360px;
    overflow: hidden;
}
.chart-height9 {
    position: relative;
    height: 243px;
    overflow: hidden;
}
.chart-height10 {
    position: relative;
    height: 50px;
    margin-top: -15px;
    overflow: hidden;
}
.dropdown-menu {
    padding: 0;
    min-width: 180px;
    float: left;
    position: absolute;
    border: none;
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #29336e;
}
.dropdown-menu form {
    padding: 15px;
}
.dropdown-menu.sm {
    min-width: 200px;
}
.dropdown-menu li > a {
    padding: 5px 10px;
    font-size: 13px;
}
.dropdown-menu li > a:hover {
    background-color: #23b7e5;
    color: #ffffff;
}
.dropdown-header {
    background: #ffffff;
    padding: 10px 15px;
    font-size: 13px;
    color: #353535;
    border-bottom: 1px solid #f2f2f2;
}
.dropdown-content {
    padding: 10px;
}
.dropdown-content a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
}
.dropdown-content a:hover {
    background: transparent;
    text-decoration: underline;
}
.dropdown-footer {
    border-top: 1px solid #f2f2f2;
    padding: 10px 15px;
    color: #23b7e5;
    font-size: 11px;
}
.panel-sortable {
    cursor: move;
}
.panel-sortable .panel {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.panel-sortable .panel:after {
    content: "\e5c8";
    font-family: 'icomoon';
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.panel-sortable .panel:hover {
    border: 1px dashed #23b7e5;
    background: #e6e6e6;
    background-color: #ffffff;
}
.panel-sortable .panel:hover:after {
    color: #23b7e5;
    font-size: 36px;
}
.gallery {
    margin: 0 auto;
}
.gallery a {
    border: 5px solid #f2f2f2;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
    margin: 0 0 10px 0;
}
.gallery a .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery a .expand {
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border: 5px solid #ffcd35;
    text-align: center;
    color: #ffcd35;
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.gallery a:hover .overlay {
    opacity: 1;
}
.gallery a:hover span.expand {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
@-webkit-keyframes "loading" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes "loading" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes "loading" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes "loading" {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #cccccc;
    z-index: 10000;
}
.loading-wrapper .loading {
    position: absolute;
    width: 120px;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    left: 50%;
    margin-left: -60px;
}
.loading-wrapper .loading span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    animation: loading 1s infinite alternate;
}
.loading-wrapper .loading span:nth-of-type(1) {
    background: #6FB4CE;
    animation-delay: 0.1s;
}
.loading-wrapper .loading span:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
}
.loading-wrapper .loading span:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
}
.loading-wrapper .loading span:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
}
.loading-wrapper .loading span:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
}
.loading-wrapper .loading span:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
}
.loading-wrapper .loading span:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
}
.loading-wrapper .loading h5 {
    margin: 0 0 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.icon-2x {
    font-size: 2em;
}
.icon-3x {
    font-size: 3em;
}
.icon-4x {
    font-size: 4em;
}
.icon-5x {
    font-size: 5em;
}
.icons {
    text-align: center;
}
.icons span {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.icons span:hover {
    background-color: #23b7e5;
    color: #ffffff;
    text-shadow: 0 10px 10px #000000;
}
.thumbnail-round {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.img-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.img-circle-sm {
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
}
.img-rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.img-36 {
    height: 36px;
    width: 36px;
}
.img-48 {
    height: 48px;
    width: 48px;
}
.img-64 {
    height: 64px;
    width: 64px;
}
.img-72 {
    height: 72px;
    width: 72px;
}
.img-90 {
    height: 90px;
    width: 90px;
}
.styled-input-wrapper .form-group {
    margin: 0;
}
.styled-input-wrapper .input-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    float: left;
    margin-top: 4px;
    background-color: #E8EFF7;
}
.styled-input-wrapper .input-icon i {
    line-height: 60px;
    font-size: 24px;
}
.styled-input-wrapper .styled-input {
    margin-left: 70px;
}
.styled-input-wrapper .styled-input label {
    margin-bottom: 2px;
}
ul.req-info li {
    margin-right: 30px;
    border-left: 3px solid #E5E5E5;
    padding-left: 10px;
    float: left;
}
ul.req-info li.danger {
    border-left: 3px solid #ff5c56;
}
ul.req-info li.info {
    border-left: 3px solid #23b7e5;
}
ul.req-info li.success {
    border-left: 3px solid #3fcbca;
}
ul.req-info li.warning {
    border-left: 3px solid #ffcd35;
}
ul.req-info li p.small {
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
ul.req-info li h3 {
    margin: 0;
    padding: 0;
}
blockquote {
    border-left: 2px solid #23b7e5;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px 12px;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 6px 12px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #d5e2f0;
}
.table > thead > tr > th,
.table > thead > tr > td {
    font-size: 15px;
    font-weight: 500;
}
.table > thead > tr > th {
    border-bottom: 2px solid #23b7e5;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background: #f0f4fa;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #d5e2f0;
}
.table-bordered {
    border: 1px solid #d5e2f0;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background: #E8EFF7;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background: #67d6d5;
    color: #ffffff;
    border-top: 0;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background: #3fcbca;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background: #ff5c56;
    color: #ffffff;
    border-top: 0;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background: #ff4842;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background: #ffcd35;
    color: #ffffff;
    border-top: 0;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background: #ffc516;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background: #23b7e5;
    color: #ffffff;
    border-top: 0;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background: #18a1cc;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: 1px solid #ffffff;
    }
}
.progress {
    background-color: #E8EFF7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar-danger {
    background-color: #ff5c56;
    box-shadow: none;
}
.progress-bar-success {
    background-color: #3fcbca;
    box-shadow: none;
}
.progress-bar-warning {
    background-color: #ffcd35;
    box-shadow: none;
}
.progress-bar-info {
    background-color: #23b7e5;
    box-shadow: none;
}
.progress-sm {
    height: 6px;
}
.progress-md {
    height: 10px;
}
.progress-xs {
    height: 3px;
}
.progress-xsx {
    height: 2px;
}
.progress-lg {
    height: 15px;
}
.progress-rounded {
    border-radius: 10px;
}
.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.btn .caret {
    margin-left: 7px;
}
.btn i {
    margin-right: 5px;
    font-size: 24px;
    vertical-align: middle;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    box-shadow: none;
    overflow: hidden;
}
/*.btn-default {
  background-color: #c2d5ea;
  border-color: #c2d5ea;
  color: #000000; }
  .btn-default:hover {
    color: #000000;
    background-color: #afc8e3;
    border: 1px solid #afc8e3; }
  .btn-default:focus, .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default.active.focus, .btn-default:active.focus, .btn-default:active:focus {
    background-color: #afc8e3;
    border: 1px solid #afc8e3;
    box-shadow: none;
    color: #000000; }*/
/*.btn-primary {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: #ffffff; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #595959;
    border: 1px solid #595959; }
  .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary.active.focus, .btn-primary:active.focus, .btn-primary:active:focus {
    background-color: #595959;
    border: 1px solid #595959;
    box-shadow: none; }*/

.btn-danger {
    background-color: #ff5c56;
    border-color: #ff5c56;
    color: #ffffff;
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #ff433d;
    border: 1px solid #ff433d;
}
.btn-danger:focus,
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active.focus,
.btn-danger:active.focus,
.btn-danger:active:focus {
    background-color: #ff433d;
    border: 1px solid #ff433d;
    box-shadow: none;
}
.btn-success {
    background-color: #3fcbca;
    border-color: #3fcbca;
    color: #ffffff;
}
.btn-success:hover {
    color: #ffffff;
    background-color: #33bdbc;
    border: 1px solid #33bdbc;
}
.btn-success:focus,
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success.active.focus,
.btn-success:active.focus,
.btn-success:active:focus {
    background-color: #2ea9a8;
    border: 1px solid #2ea9a8;
    box-shadow: none;
}
.btn-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #ffffff;
}
.btn-info:hover {
    color: #ffffff;
    background-color: #19a9d5;
    border: 1px solid #19a9d5;
}
.btn-info:focus,
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info.active.focus,
.btn-info:active.focus,
.btn-info:active:focus {
    background-color: #1797be;
    border: 1px solid #1797be;
    box-shadow: none;
}
.btn-warning {
    background-color: #ffcd35;
    border-color: #ffcd35;
    color: #ffffff;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #ffc71c;
    border: 1px solid #ffc71c;
}
.btn-warning:focus,
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active.focus,
.btn-warning:active.focus,
.btn-warning:active:focus {
    background-color: #ffc002;
    border: 1px solid #ffc002;
    box-shadow: none;
}
.btn-fb {
    background-color: #3B5998;
    border-color: #3B5998;
    color: #ffffff;
}
.btn-fb:hover {
    color: #ffffff;
    background-color: #344e86;
    border: 1px solid #344e86;
}
.btn-fb:focus,
.btn-fb.active,
.btn-fb:active,
.btn-fb:focus,
.btn-fb.active.focus,
.btn-fb:active.focus,
.btn-fb:active:focus {
    background-color: #2d4373;
    border: 1px solid #2d4373;
    box-shadow: none;
}
.btn-tw {
    background-color: #55ACEE;
    border-color: #55ACEE;
    color: #ffffff;
}
.btn-tw:hover {
    color: #ffffff;
    background-color: #3ea1ec;
    border: 1px solid #3ea1ec;
}
.btn-tw:focus,
.btn-tw.active,
.btn-tw:active,
.btn-tw:focus,
.btn-tw.active.focus,
.btn-tw:active.focus,
.btn-tw:active:focus {
    background-color: #2795e9;
    border: 1px solid #2795e9;
    box-shadow: none;
}
.btn-gp {
    background-color: #DD4C3B;
    border-color: #DD4C3B;
    color: #ffffff;
}
.btn-gp:hover {
    color: #ffffff;
    background-color: #d93826;
    border: 1px solid #d93826;
}
.btn-gp:focus,
.btn-gp.active,
.btn-gp:active,
.btn-gp:focus,
.btn-gp.active.focus,
.btn-gp:active.focus,
.btn-gp:active:focus {
    background-color: #c33322;
    border: 1px solid #c33322;
    box-shadow: none;
}
.btn-lkdn {
    background-color: #007BB5;
    border-color: #007BB5;
    color: #ffffff;
}
.btn-lkdn:hover {
    color: #ffffff;
    background-color: #006a9c;
    border: 1px solid #006a9c;
}
.btn-lkdn:focus,
.btn-lkdn.active,
.btn-lkdn:active,
.btn-lkdn:focus,
.btn-lkdn.active.focus,
.btn-lkdn:active.focus,
.btn-lkdn:active:focus {
    background-color: #005882;
    border: 1px solid #005882;
    box-shadow: none;
}
.btn-rounded {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.btn-transparent {
    background-color: transparent;
}
.btn-transparent.btn-danger {
    color: #ff5c56;
}
.btn-transparent.btn-warning {
    color: #ffcd35;
}
.btn-transparent.btn-success {
    color: #3fcbca;
}
.btn-transparent.btn-info {
    color: #23b7e5;
}
.btn-transparent.btn-danger {
    color: #ff5c56;
}
.demo-btn-group .btn {
    min-width: 80px;
}
.blog-btn-group .btn {
    margin-left: 2px;
    float: left;
    margin-bottom: 2px;
}
@media (max-width: 767px) {
    .demo-btn-group {
        text-align: center;
    }
    .demo-btn-group .btn {
        margin-bottom: 3px;
    }
}
.breadcrumb {
    background: #e0eaf4;
    margin: 0;
}
.breadcrumb .active {
    color: #23b7e5;
}
.breadcrumb-triangle {
    overflow: hidden;
}
.breadcrumb-triangle li {
    float: left;
}
.breadcrumb-triangle li a {
    text-decoration: none;
    padding: 10px 0 10px 45px;
    background: #e0eaf4;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb-triangle li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #e0eaf4;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb-triangle li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */

    border-bottom: 50px solid transparent;
    border-left: 30px solid #bbcfe7;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 0;
    left: 100%;
    z-index: 1;
}
.breadcrumb-triangle li:first-child a {
    padding-left: 10px;
}
.breadcrumb-triangle li:nth-child(2) a {
    background: #d9e4f2;
}
.breadcrumb-triangle li:nth-child(2) a:after {
    border-left-color: #d9e4f2;
}
.breadcrumb-triangle li:nth-child(3) a {
    background: #d1dfef;
}
.breadcrumb-triangle li:nth-child(3) a:after {
    border-left-color: #d1dfef;
}
.breadcrumb-triangle li:nth-child(4) a {
    background: #cadaec;
}
.breadcrumb-triangle li:nth-child(4) a:after {
    border-left-color: #cadaec;
}
.breadcrumb-triangle li:nth-child(5) a {
    background: #c2d5ea;
}
.breadcrumb-triangle li:nth-child(5) a:after {
    border-left-color: #c2d5ea;
}
.breadcrumb-triangle li:last-child a {
    background: #bbcfe7;
    pointer-events: none;
    cursor: default;
}
.breadcrumb-triangle li:last-child a:after {
    border: 0;
}
.breadcrumb-triangle li a:hover {
    background: #b7cde6;
}
.breadcrumb-triangle li a:hover:after {
    border-left-color: #b7cde6;
}
.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding: .2em .6em .2em;
}
.label-default {
    background: #bbcfe7;
    border: 1px solid #bbcfe7;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: white;
    border: 1px solid white;
}
.label-success {
    background-color: #3fcbca;
    border: 1px solid #3fcbca;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #2ea9a8;
    border: 1px solid #2ea9a8;
}
.label-info {
    background-color: #23b7e5;
    border: 1px solid #23b7e5;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #1797be;
    border: 1px solid #1797be;
}
.label-warning {
    background-color: #ffcd35;
    border: 1px solid #ffcd35;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ffc002;
    border: 1px solid #ffc002;
}
.label-danger {
    background-color: #ff5c56;
    border: 1px solid #ff5c56;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #ff2b23;
    border: 1px solid #ff2b23;
}
.label-bdr {
    background-color: transparent;
}
.label-bdr.label-default {
    color: #353535;
}
.label-bdr.label-danger {
    color: #ff5c56;
}
.label-bdr.label-success {
    color: #3fcbca;
}
.label-bdr.label-warning {
    color: #ffcd35;
}
.label-bdr.label-info {
    color: #23b7e5;
}
.badge {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding: .3em .8em;
}
.badge-default {
    background: #bbcfe7;
    border: 1px solid #bbcfe7;
}
.badge-default[href]:hover,
.badge-default[href]:focus {
    background-color: white;
    border: 1px solid white;
}
.badge-success {
    background-color: #3fcbca;
    border: 1px solid #3fcbca;
}
.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #2ea9a8;
    border: 1px solid #2ea9a8;
}
.badge-info {
    background-color: #23b7e5;
    border: 1px solid #23b7e5;
}
.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #1797be;
    border: 1px solid #1797be;
}
.badge-warning {
    background-color: #ffcd35;
    border: 1px solid #ffcd35;
}
.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #ffc002;
    border: 1px solid #ffc002;
}
.badge-danger {
    background-color: #ff5c56;
    border: 1px solid #ff5c56;
}
.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #ff2b23;
    border: 1px solid #ff2b23;
}
.badge-bdr {
    background-color: transparent;
}
.badge-bdr.badge-default {
    color: #353535;
}
.badge-bdr.badge-danger {
    color: #ff5c56;
}
.badge-bdr.badge-success {
    color: #3fcbca;
}
.badge-bdr.badge-warning {
    color: #ffcd35;
}
.badge-bdr.badge-info {
    color: #23b7e5;
}
.pager li > a,
.pager li > span {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #ffffff;
}
.pager li > a:hover,
.pager li > span:hover {
    color: #ffffff;
    background-color: #19a9d5;
    border: 1px solid #19a9d5;
}
.list-group-item {
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
a.list-group-item-info {
    background-color: #23b7e5;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
    background-color: #1797be;
    color: #ffffff;
}
a.list-group-item-warning {
    background-color: #ffcd35;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
    background-color: #ffc002;
    color: #ffffff;
}
a.list-group-item-success {
    background-color: #3fcbca;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
    background-color: #2ea9a8;
    color: #ffffff;
}
a.list-group-item-danger {
    background-color: #ff5c56;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
    background-color: #ff2b23;
    color: #ffffff;
}
.alert-dismissable .close {
    right: 0;
}
.alert.alert-transparent {
    background-color: transparent;
}
.alert.alert-transparent button.close {
    opacity: 0.7;
    text-shadow: none;
}
.alert.alert-transparent.alert-danger {
    color: #ff5c56;
}
.alert.alert-transparent.alert-success {
    color: #3fcbca;
}
.alert.alert-transparent.alert-warning {
    color: #ffcd35;
}
.alert.alert-transparent.alert-info {
    color: #23b7e5;
}
.alert {
    padding: 10px;
    margin-bottom: 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
}
.alert i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}
.alert-success {
    color: #ffffff;
    background-color: #3fcbca;
    border-color: #3fcbca;
}
.alert-info {
    color: #ffffff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}
.alert-warning {
    color: #ffffff;
    background-color: #ffcd35;
    border-color: #ffcd35;
}
.alert-danger {
    color: #ffffff;
    background-color: #ff5c56;
    border-color: #ff5c56;
}
.alert-borderd {
    background: transparent;
    color: #4d4d4d;
}
.callout {
    margin: 0 0 5px 0;
    padding: 10px 20px;
    background-color: #f3f7fb;
    border-left: 3px solid #d5e2f0;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout-danger {
    border-color: #ff5c56;
}
.callout-danger h4 {
    color: #ff5c56;
}
.callout-warning {
    border-color: #ffcd35;
}
.callout-warning h4 {
    color: #ffcd35;
}
.callout-info {
    border-color: #23b7e5;
}
.callout-info h4 {
    color: #23b7e5;
}
.callout-success {
    border-color: #3fcbca;
}
.callout-success h4 {
    color: #3fcbca;
}
.tooltip-inner {
    color: #ffffff;
    background-color: #ff5c56;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #ff5c56;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #ff5c56;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #ff5c56;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #ff5c56;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #ff5c56;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ff5c56;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #ff5c56;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #ff5c56;
}
.popover {
    background: #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.popover.left > .arrow:after {
    border-left-color: #4d4d4d;
}
.popover.right > .arrow:after {
    border-right-color: #4d4d4d;
}
.popover.top > .arrow:after {
    border-top-color: #4d4d4d;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #4d4d4d;
}
.pagination > li > a,
.pagination > li > span {
    background: #E8EFF7;
    border: 1px solid #d5e2f0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #ffffff;
    background-color: #ff5c56;
    border-color: #ff5c56;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #ffffff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: white;
    border-color: white;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #bbcfe7;
    background: #ffffff;
    height: 40px;
    padding: 6px 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.form-control:focus {
    border: 1px solid #b3b3b3;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #000000;
}
.input-lg,
.form-group-lg .form-control {
    height: 50px;
}
.input-sm,
.form-group-sm .form-control {
    height: 30px;
}
input[type=radio],
input[type=checkbox] {
    margin: 5px 0 0;
}
.form-control-feedback {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
label ~ .form-control-feedback {
    line-height: 40px;
}
.input-group-addon {
    border: 1px solid #d9d9d9;
    background: #ffffff;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background: white;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #3fcbca;
}
.has-success .form-control {
    border-color: #3fcbca;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #3fcbca;
}
.has-success .form-control:focus {
    border-color: #2ea9a8;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-success .form-control-feedback {
    color: #3fcbca;
}
.has-success .input-group-addon {
    border-color: #3fcbca;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #ff5c56;
}
.has-error .form-control {
    border-color: #ff5c56;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #ff5c56;
}
.has-error .form-control:focus {
    border-color: #ff2b23;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-error .form-control-feedback {
    color: #ff5c56;
}
.has-error .input-group-addon {
    border-color: #ff5c56;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #ffcd35;
}
.has-warning .form-control {
    border-color: #ffcd35;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-warning .form-control:focus {
    border-color: #ffc002;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-warning .form-control-feedback {
    color: #ffcd35;
}
.has-warning .input-group-addon {
    border-color: #ffcd35;
}
.has-info .help-block,
.has-info .control-label,
.has-info .radio,
.has-info .checkbox,
.has-info .radio-inline,
.has-info .checkbox-inline {
    color: #23b7e5;
}
.has-info .form-control {
    border-color: #23b7e5;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #23b7e5;
}
.has-info .form-control:focus {
    border-color: #1797be;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.has-info .form-control-feedback {
    color: #23b7e5;
}
.has-info .input-group-addon {
    border-color: #23b7e5;
}
legend {
    padding: 0 0 6px 0;
    font-size: 16px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 10px;
    top: 10px;
}
label {
    font-size: 14px;
    font-weight: 500;
}
.nav-tabs {
    border-bottom: 1px solid #afc8e3;
}
.nav-tabs li a {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #dde7f3;
}
.nav-tabs li a:hover {
    border: none;
    background: #23b7e5;
    color: #ffffff;
}
.nav-tabs li.active a {
    border: none;
    background: #23b7e5;
    position: relative;
    color: #ffffff;
}
.nav-tabs li.active a:hover {
    border: none;
    background: #23b7e5;
    color: #ffffff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background: #23b7e5;
    color: #ffffff;
    border: 0;
}
.tab-content {
    padding: 15px;
    border: 1px solid #afc8e3;
    border-top: 0;
    background: #ffffff;
}
.custom-tabs .nav-tabs > li a {
    padding: 20px 15px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #e0eaf4;
}
.custom-tabs .nav-tabs > li a i {
    font-size: 36px;
}
.custom-tabs .nav-tabs > li a:hover {
    border: none;
    background: #d5e2f0;
}
.custom-tabs .nav-tabs > li.active {
    border: 0;
}
.custom-tabs .nav-tabs > li.active a {
    border: 0;
    position: relative;
}
.custom-tabs .nav-tabs > li.active a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -10px;
    margin-left: -10px;
    width: 10px;
    border-top: 10px solid #23b7e5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.custom-tabs .nav-tabs > li.active a:hover {
    border: 0;
}
.custom-tabs .nav-tabs > li.active.fb a {
    background-color: #3B5998;
}
.custom-tabs .nav-tabs > li.active.fb a i {
    color: #ffffff;
}
.custom-tabs .nav-tabs > li.active.fb a:after {
    border-top: 10px solid #3B5998;
}
.custom-tabs .nav-tabs > li.active.tw a {
    background-color: #55ACEE;
}
.custom-tabs .nav-tabs > li.active.tw a i {
    color: #ffffff;
}
.custom-tabs .nav-tabs > li.active.tw a:after {
    border-top: 10px solid #55ACEE;
}
.custom-tabs .nav-tabs > li.active.gp a {
    background-color: #DD4C3B;
}
.custom-tabs .nav-tabs > li.active.gp a i {
    color: #ffffff;
}
.custom-tabs .nav-tabs > li.active.gp a:after {
    border-top: 10px solid #DD4C3B;
}
.custom-tabs .nav-tabs > li.active.lkdn a {
    background-color: #007BB5;
}
.custom-tabs .nav-tabs > li.active.lkdn a i {
    color: #ffffff;
}
.custom-tabs .nav-tabs > li.active.lkdn a:after {
    border-top: 10px solid #007BB5;
}
.custom-tabs .nav-tabs > li.active.blog a {
    background-color: #ffcd35;
}
.custom-tabs .nav-tabs > li.active.blog a i {
    color: #ffffff;
}
.custom-tabs .nav-tabs > li.active.blog a:after {
    border-top: 10px solid #ffcd35;
}
.custom-tabs .nav-tabs.nav-justified > li {
    float: none;
    display: table-cell;
    width: 1%;
}
.custom-tabs .nav-tabs.nav-justified > li a {
    margin-bottom: 0;
    border: 0 !important;
}
.custom-tabs .tab-content {
    padding: 30px 15px;
    border: 1px solid #afc8e3;
    border-top: 0;
    background: #ffffff;
}
.custom-tabs .tab-content .btn {
    min-width: 180px;
}
.navbar {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 10;
}
.navbar-default {
    border: none;
    background: #212121;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    /*box-shadow: 0 30px 30px 0 #E8EFF7; */
}
.navbar-default .navbar-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #3fcbca;
    margin-right: 24px;
    padding: 9px 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #3fcbca;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border-color: #3fcbca;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #3fcbca;
}
.navbar-default .navbar-collapse {
    border-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #a8b0df;
    padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background: #2c3675;
}
.navbar-default .navbar-nav > li > a i {
    display: block;
    font-size: 21px;
    text-align: center;
}
.navbar-default .navbar-nav > .open > a {
    color: #ffffff;
    background: #2c3675;
}
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background: #2c3675;
}
.navbar-default .navbar-nav > .active > a {
    position: relative;
    background-color: #2c3675;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #2c3675;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active .dropdown-menu {
    border: 2px solid #2c3675;
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > > li a {
        padding: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li a {
        padding: 15px 9px;
    }
}
@media (max-width: 767px) {
    .navbar {
        position: inherit;
        top: 0;
    }
    .navbar-default .navbar-nav > li a i {
        display: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        padding: 7px 25px;
    }
}
.modal-header {
    border-bottom: 1px solid #ffffff;
}
.modal-header h3 {
    text-shadow: none;
    margin-bottom: 0;
}
.modal-content {
    -moz-box-shadow: 0 5px 20px #000000;
    -webkit-box-shadow: 0 5px 20px #000000;
    box-shadow: 0 5px 20px #000000;
    background-color: #f2f2f2;
}
.modal.fade .modal-dialog {
    z-index: 10000;
}
.modal-footer {
    border-top: 1px solid #ffffff;
}
.close {
    color: #ff5c56;
    opacity: 0.8;
    text-shadow: 0 1px 0 #000000;
}
.close:hover {
    color: #ff5c56;
    text-shadow: none;
}
.gutter.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter > [class^="col-"],
.gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.dashboard-inner-list>li{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-inner-list li>div{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-inner-list li>div:last-child img{
  margin-right: 20px;
}
.dashboard-border-wrapper{
  border: 1px solid #ccc;
}
.wrapper-payment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.invoice-modal-body{
  padding: 15px 0;
}
.wrapper-payment> div.border-n-box{
  min-height: 200px;
  text-align: center;
}
.number-share{
  background-color: #4fbfa5;
  color: #fff;
}
.bitcoin, .red-color{
  color: #4fbfa5;
}
h4.border-n-box{
  border-radius: 0;
}
.border-n-box{
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 0;
}
.second-block ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}
.second-block ul li{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  margin: 0 auto;
}
.second-block ul li:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.qnty-number{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.bitcoin, .dollar, .red-color{
  font-size: 20px;
  margin: 10px 0;
}
.second-block ul li:last-child p:first-child{
color: #999999;
}
.pay-bitcoin{
  margin: 0;
}
.pay-bitcoin > h3{
  width: 25%;
  background-color: #f2f2f2;
  z-index: 9999;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.pay-bitcoin hr{
  position: absolute;
  width: 100%;
}
.pay-bitcoin>ul{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.pay-bitcoin>ul li{
  padding: 20px;
  width: 40%;
}
.pay-bitcoin>ul li:first-child{
  border-right: 1px dotted #bdbdbd;
  text-align: center;
}
.pay-bitcoin>ul li:first-child>p:first-child{
  margin-bottom: 20px;
}
.block-time-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.time{
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  border-radius: 6px;
  height: 50px;
  width: 70px;
  font-size: 25px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}
.block-time-wrapper >span{
  display: flex;
  align-items: center;
}
.invoice-bitcoin{
  margin: 15px;
}
.red-color{
  font-size: 17px;
}
.block-time>span{
  font-size: 13px;
}
form .fund-section{
  padding-left: 0!important;
}
wallet-info table{
  display: none;
}
.wallet-btns{
  text-align: right;
  margin-top: 30px;
}
span.btn-coming-soon{
  color: black;
  padding: 6px 10px;
}
.live-now{
  color: black;
  line-height: 12px;
  padding: 0 3px;
  font-size: 10px;
}
.instruction-block{
  padding: 15px 30px 0;
}
.instruction-block p{
  font-size: 13px;
  margin: 10px 0;
}
.instruction-block p strong{
  font-style: italic;
  color: red;
}
.break-word{
  word-break: break-all;
}
/*# sourceMappingURL=main.css.map */
