/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "bootstrap.min.css";
@import "bootstrap-override.css";*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
.validation-error {
    color: red;
}
.social-icons img {
    width: 200px;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.signup-success {
    width: 980px;
    margin: 0 auto;
}
.panel-success {
    padding: 0;
    margin: 80px auto;
    border-radius: 0;
}
.no-padding {
    padding: 0;
}
.social-icons {
    margin-left: 11px;
    margin-bottom: 0px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 992px) {
    .social-section {
        width: 100% !important;
    }
    .social-icons img {
        width: 170px;
    }
}
@media screen and (min-width: 1200px) {
    .social-icons img {
        width: 200px;
    }
    .social-icons {
        margin-left: 11px;
        margin-bottom: 0px;
    }
    .social-section {
        width: 83.333% !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .coin-vid {
        width: 100%;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .social-icons {
        margin-left: 40px;
        margin-bottom: 15px;
    }
    .social-icons.last {
        text-align: center;
        margin-left: 11px;
    }
    .arrow {
        display: none;
    }
    .coin-vid {
        margin-top: 60px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 1170px;*/
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (max-width: 767px) {
    .signup-success {
        padding: 0 80px;
    }
    .arrow {
        display: none;
    }
    .social-icons {
        margin-bottom: 30px;
        text-align: center;
    }
}
/*.rewards-achievers{
  border:1px solid #737373;
  padding:0px !important;
  margin:0px !important;
}*/

@media screen and (min-width: 992px) {
    .rewards-achievers {
        min-height: 320px;
    }
}
/* News Ticker */

.moving {
    animation: moveDown 1 1s ease-out;
}
.movingRewards {
    animation: moveDown-reward 1 1s ease-out;
}
/* Dashboard Page */

@keyframes moveDown {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-65px)
    }
}
/* Rewards Page */

@keyframes moveDown-reward {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-97px)
    }
}
.contentpanel {
    /*min-height: 1320px !important;*/
}
.leftpanel {
    /*min-height: 1400px !important;*/
}
@media screen and (min-width: 768px) {
    .mining-tabs {
        width: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
    .mining-tabs {
        min-height: 70px;
    }
}
.pv-block {
    font-size: 20px !important;
    color: #fff !important;
    padding-left: 10px;
    background: #fc2a1c;
    border-radius: 10px;
    padding: 5px;
}
.packageprice {
    float: right;
}
@media screen and (min-width: 1150px) {
    /*.network-tabs {
        width: 14.285%;
    }*/
    /*.network-tabs a {
        min-height: 84px;
    }*/
}
.wallet-list {
    background-color: rgba(128, 128, 128, 0.07);
    border-radius: 2%;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
}
.wallet-addFunds{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.wallet-addFunds button{
  margin: 0 10px;
}
@media screen and (max-width: 1200px) {
    .wallet-list {
        min-height: 371px;
    }
}
