<style>
  .modal-dialog { top: 7%; };
  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
<div class="modal-header" id="youtube-player" style="border:0;padding: 7px 7px 0!important;;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closePopup()" style="margin-top: 13px;"><span aria-hidden="true">×</span></button>
  <!-- ngIf: withdrawalHeading && !responseSuccess -->
  <!--<h4 class="modal-title ng-scope" id="myModalLabel">
    <strong class="ng-binding">&nbsp;Ethereum Cloud Mining @ nanopool</strong>
  </h4>-->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="">
      <a href=".part1" role="tab" data-toggle="tab" ng-click="part2.pauseVideo();part1.playVideo()">nanopool Academy Part - 1</a>
    </li>
    <li role="presentation" class="active">
      <a href=".part2" role="tab" data-toggle="tab" ng-click="part1.pauseVideo();part2.playVideo()">nanopool Academy Part - 2</a>
    </li>
  </ul>
  <!-- end ngIf: withdrawalHeading && !responseSuccess -->

  <!-- ngIf: responseSuccess && !convertSuccess && !convertError -->

  <!-- ngIf: convertUSDHeading -->
</div>
<div class="modal-body" style="padding: 0;">
  <div class="tab-content" style="padding:0;float:none;">
    <div id="part1" class="tab-pane part1 fade">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-video class="embed-responsive-item" video-id="videoOne" player="part1" player-width="'100%'" player-height="'520px'"></youtube-video>
      </div>
    </div>
    <div id="part2" class="tab-pane part2 fade in active">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-video class="embed-responsive-item" video-id="videoTwo" player-vars="playerAttr" player="part2" player-width="'100%'" player-height="'520px'"></youtube-video>
      </div>
    </div>
  </div>
  
 <!--<iframe width="100%" height="478" ng-src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePopup()">Close</button>
</div>
