<div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close no-print" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title no-print" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "><strong>&nbsp; Purchase Contract</strong></h4>
   </div>
   <div id="loadingDiv" ng-if="loadingData"></div>
   <div class="modal-body">
     <div align="center" class="col-md-12  col-sm-12 mar10">
       <!--<img ng-src="{{s3Url}}error_01.png" class="img-responsive">-->
       <img src="img/icon-payment.png" width="200" class="img-responsive">
     </div>
     <div class="clearfix"></div>
     <form>
        <h4 align="center">
           <hr>
           <strong>Please choose your payment
           option below, e.g.,<br>
           Bitcoin, nanopool Wallet</strong>
           <hr>
        </h4>
        <div class="row mar20">
           <div class="col-md-6  col-sm-12 mar10">
              <input name="check-ref" type="radio" ng-model="$parent.payment.mode" type="radio" value="BTC" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png" width="170">
           </div>
           <div class="col-md-6  col-sm-12"><input name="check-ref" ng-model="$parent.payment.mode" type="radio" value="WALLET">&nbsp;&nbsp;<img ng-src="{{s3Url}}nanopool-wallet.png" width="250"></div>
        </div>
     </form>
   </div>
   <div class="modal-footer no-print">
      <button type="button" class="btn btn-primary" ng-click="bookOrder(payment)"> Purchase</button>
   </div>
</div>
