<div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close no-print" data-dismiss="modal" aria-label="Close" ng-click="closePopup()"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title no-print" id="myModalLabel"><img src="img/usd-wallet.png" width="35" class="pull-left img-responsive "><strong>&nbsp; Internal Transfer</strong></h4>
   </div>
   <div class="modal-body">
    <h3 class="text-capitalize"><strong>Dear {{name}},</strong></h3>
    <hr>
    <div class="alert alert-danger fade in" ng-if="transferFailed">
       You don't have enough balance in your account.
     </div>
    <h3 ng-if="transferSuccess">
       <strong style="color:#F90">
          Amount of {{amount | currency}} has been successfully transferred to {{customerId}}
          <name email=""></name>
       </strong>
    </h3>
    <hr>
    <p><br>
       <br>
       <span><strong>Thank You,</strong><br>
       Team nanopool<br>
       <img src="img/logo-nanopool.png" width="60"></span>
    </p>
   </div>
   <div class="modal-footer no-print">
      <button type="button" class="btn btn-info" ng-click="closePopup()"> Close</button>
   </div>
</div>
