<section>
    <div>
        <div class="clearfix"></div>
        <div class="dashboard-wrapper" style="margin-top:20px; z-index:-1">
            <div class="container-fluid">
                <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="page-title">
                                <h3>Cockpit</h3>
                                <p>Welcome to Nanopool Cockpit</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="!isAxpired">

                            <ul class="right-stats" id="mini-nav-right">
                                <li>
                                    <h3> Launch Day </h3>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="btn btn-danger" id="demo1">{{days}} <br />days</a>
                                </li>
                                <li>
                                    <a href="/dashboard" class="btn btn-info" id="demo2">{{hours}} <br />hours</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="btn btn-danger" id="demo3">{{minutes}} <br />minutes </a>
                                </li>
                                <li>
                                    <a href="/dashboard" class="btn btn-success" id="demo4">{{seconds}} <br />seconds</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
              <!--<div class="row guatter">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dashboard-border-wrapper">
                  <ul class="dashboard-inner-list">
                    <li>
                      <div><b>USD Wallet</b></div>
                      <div>
                        <img src="img/icons-1/nanowallet.png" style="margin-top: 10px;" height="65" width="50">
                        <span>$0</span>
                      </div>
                    </li>
                    <li>
                      <div><b>Nano Wallet</b></div>
                      <div>
                        <img src="img/icons-1/usdwallet.png" style="margin-top: 10px;" height="65" width="50">
                        <span>$0</span>
                      </div>
                    </li>
                    <li>
                      <div><b>ETH Wallet</b></div>
                      <div>
                        <img src="img/icons-1/ethwallet.png" style="margin-top: 10px;" height="65" width="50">
                        <span>$0</span>
                      </div>
                    </li>
                    <li>
                      <div><b>Commissions</b></div>
                      <div>
                        <img src="img/icons-1/wallet1.png" style="margin-top: 10px;" height="65" width="50">
                        <span>$0</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-border-wrapper">
                  <div class="performance">
                    <h5>Total Token Sales</h5>
                    <div class="performance-graph">
                      <div id="tokenSalesChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-border-wrapper">
                  <div class="performance">
                    <h5>Total Signup Users</h5>
                    <div class="performance-graph">
                      <div id="totalSignupUsersChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-border-wrapper">
                  <div class="performance">
                    <h5>Your Total Income ($ USD)</h5>
                  </div>
                  <div class="performance-graph">
                    <div id="totalIncomeChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                  </div>
                </div>
              </div>
              <div class="row gutter" style="opacity: 0.3">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                  <div class="panel height2">
                    <div class="panel-heading">
                      <h4>Nano Token Price Graph</h4>
                    </div>
                    <div class="panel-body">
                      <nvd3 options="options" data="data"></nvd3>
                      <div id="stackedAreaChart" class="chart-height1">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>-->
                <div class="row gutter" style="opacity: 0.3">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel">
                            <div class="website-performance">
                                <div class="row gutter">
                                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
                                        <div class="performance">
                                            <h5>Total Token Sales</h5>
                                            <div class="performance-graph">
                                                <div id="tokenSalesChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                        <div class="performance-stats">
                                            <h3>
                                                <ng-odometer value="odometer_tokenSales"></ng-odometer>
                                            </h3>
                                            <!--<p>21.2%<i class="icon-triangle-up up"></i></p>
                                            <p>vs. 6.5% (prev.)</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel">
                            <div class="website-performance">
                                <div class="row gutter">
                                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
                                        <div class="performance">
                                            <h5>Total Signup Users</h5>
                                            <div class="performance-graph">
                                                <div id="totalSignupUsersChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                        <div class="performance-stats">
                                            <h3>
                                                <ng-odometer value="odometer_signup"></ng-odometer>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel">
                            <div class="website-performance">
                                <div class="row gutter">
                                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
                                        <div class="performance">
                                            <h5>Your Total Income ($ USD)</h5>
                                        </div>
                                        <div class="performance-graph">
                                            <div id="totalIncomeChart" class="chart-height5 c3" style="max-height: 60px; position: relative;"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                                        <div class="performance-stats">
                                            <h3>
                                                <ng-odometer value="odometer_income"></ng-odometer>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter" style="opacity: 0.3">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel height2">
                            <div class="panel-heading">
                                <h4>Nano Token Price Graph</h4>
                            </div>
                            <div class="panel-body">
                                <nvd3 options="options" data="data"></nvd3>
                                <div id="stackedAreaChart" class="chart-height1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="row gutter">
                            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
                                <div class="panel height1">
                                    <div class="stats">
                                        <div id="sessions"><b>USD Wallet</b></div>
                                    </div>
                                    <div class="col-sm-5 col-xs-5">
                                        <img src="img/icons-1/usdwallet.png" style="margin-top: 10px;" height="65" width="50">
                                    </div>
                                    <div class="col-sm-7 col-xs-7" style="text-align: left;font-size: 30px;margin-top: 25px;">
                                        <b>$0</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
                                <div class="panel height1">
                                    <div class="stats">
                                        <div id="users"><b>Nano Wallet</b></div>
                                    </div>
                                    <div class="col-sm-5 col-xs-5">
                                        <img src="img/icons-1/nanowallet.png" style="margin-top: 10px;" height="65" width="50">
                                    </div>
                                    <div class="col-sm-7 col-xs-7" style="text-align: left;font-size: 30px;margin-top: 25px;">
                                        <b>0</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
                                <div class="panel height1">
                                    <div class="stats">
                                        <div id="duration"><b>ETH Wallet</b></div>
                                    </div>
                                    <div class="col-sm-5 col-xs-5">
                                        <img src="img/icons-1/ethwallet.png" style="margin-top: 10px;" height="65" width="50">
                                    </div>
                                    <div class="col-sm-7 col-xs-7" style="text-align: left;font-size: 30px;margin-top: 25px;">
                                        <b>0</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-sm-3 col-xs-12">
                                <div class="panel height1">
                                    <div class="stats">
                                        <div id="bounce-rate"><b>Commissions</b></div>
                                    </div>
                                    <div class="col-sm-5 col-xs-5">
                                        <img src="img/icons-1/wallet1.png" style="margin-top: 10px;" height="65" width="50">
                                    </div>
                                    <div class="col-sm-7 col-xs-7" style="text-align: left;font-size: 30px;margin-top: 25px;">
                                        <b>$0</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter" style="opacity: 0.3">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row gutter">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel height1">
                                    <div class="panel-heading">
                                        <h4>Contracts</h4>
                                    </div>
                                    <div class="panel-body" style="padding-top:0px !important">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="os">
                                                    <div id="mac"></div>
                                                    <p class="no-margin">Cloud Cards</p>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <img src="img/cloudcard.png" style="margin-top: 10px;" height="65" width="100" title="Cloud Cards">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="os">
                                                    <div id="windows"></div>
                                                    <p class="no-margin">Cloud Rig</p>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <img src="img/cloudrigs.png" style="margin-top: 10px;" height="65" width="100" title="Cloud Rig">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="os">
                                                    <div id="linux"></div>
                                                    <p class="no-margin">Hardware Rig</p>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <img src="img/cloudhardware.png" style="margin-top: 10px;" height="65" width="100" title="Hardware Rig">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutter">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="panel height1">
                                    <div class="panel-heading">
                                        <h4>Investment</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-body center-text">
                                            <span class="updating-chart" style="display: none;">5,0,4,0,2,3,2,4,2,2,2,0,4,4,4,5,3,3,4,1</span>
                                            <svg class="peity" height="50" width="150">
                                                <polyline fill="none" points="0 1.5 7.894736842105263 48.5 15.789473684210526 10.899999999999999 23.684210526315788 48.5 31.57894736842105 29.7 39.473684210526315 20.3 47.368421052631575 29.7 55.26315789473684 10.899999999999999 63.1578947368421 29.7 71.05263157894737 29.7 78.94736842105263 29.7 86.84210526315789 48.5 94.73684210526315 10.899999999999999 102.63157894736841 10.899999999999999 110.52631578947368 10.899999999999999 118.42105263157895 1.5 126.3157894736842 20.3 134.21052631578948 20.3 142.10526315789474 10.899999999999999 150 39.1"
                                                    stroke="#ff7671" stroke-width="3" stroke-linecap="square"></polyline>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="panel height1">
                                    <div class="panel-heading">
                                        <h4>Coin Purchase</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div id="power-gauge"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="panel height2">
                            <div class="panel-heading">
                                <h4>Latest Signups</h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive overall-signup" style="height: 226px; overflow-x: auto;">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr ng-repeat="(key, row) in latestSignup | limitTo:10">
                                                <td><img ng-src="img/flags/{{allCountryCodes[row.country] | lowercase}}.png">                                                    {{row.membername | limitTo: 20}}</td>
                                                <td>
                                                    <span am-time-ago="row.DOJ"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter" style="display:none; opacity: 0.3">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>News</h3>
                            </div>
                            <div class="panel-body">
                                <div class="demo-btn-group">
                                    <div class="alert alert-info">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-trophy"></i><strong>Superb!</strong> This is a multi-purpose alert
                                        that's useful anywhere!.
                                    </div>
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-check2"></i><strong>Well done!</strong> You successfully read this
                                        important alert message.
                                    </div>
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-info2"></i><strong>Heads up!</strong> This alert needs your attention,
                                        it's kinda important.
                                    </div>
                                    <div class="alert alert-danger no-margin">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-cross2"></i><strong>Oh snap!</strong> You need to Change a few things
                                        up and try again.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row gutter">
                            <div class="col-md-12">
                                <div class="panel height2">
                                    <div class="panel-heading">
                                        <h4>Transactions</h4>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="transactions">
                                            <li>
                                                <a href="javascript:void(0)">
													<span class="tra-icon">
														<i class="icon-shield text-danger"></i>
													</span>
													<span class="tra-type">Month Salary</span>
													<span class="tra-amount text-success">+7250</span>
												</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
													<span class="tra-icon">
														<i class="icon-aircraft text-success"></i>
													</span>
													<span class="tra-type">Trip to Venice</span>
													<span class="tra-amount text-danger">-1100</span>
												</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
													<span class="tra-icon">
														<i class="icon-shopping-cart text-info"></i>
													</span>
													<span class="tra-type">Shopping</span>
													<span class="tra-amount text-danger">-1890</span>
												</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
													<span class="tra-icon">
														<i class="icon-bowl text-warning"></i>
													</span>
													<span class="tra-type">Lunch at work</span>
													<span class="tra-amount text-danger">-1250</span>
												</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
													<span class="tra-icon">
														<i class="icon-monetization_on text-danger"></i>
													</span>
													<span class="tra-type">Money left</span>
													<span class="tra-amount text-success">+9650</span>
												</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter text-center" style="opacity: 0.3">
                    <h2>
                        Comming Soon...
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
