<div class="clearfix">
</div>
<section>
  <div class="dashboard-wrapper">
    <!--<navigation></navigation>-->
    <style>
      .nav-tabs>li>a {
        color: #fff !important;
      }

      .error-padding {
        top: 4px;
      }

      .referral-tabs a {
        padding: 14px 0px !important;
        text-align: center;
      }
    </style>
    <div class="mainpanel">
      <div class="contentpanel">
        <div>
          <div class="col-md-12 nomargin nopadding">
            <div class="tabbable-panel">
              <div class="tabbable-line">
                <div class="row flex-display-md">
                  <div class="side-view-mob" style="padding-right: 0px;" style="background-color: #23b7e5">
                    <div align="center">
                      <ul class="nav nav-tabs">
                        <li class="active referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_3" data-toggle="tab">
                             <i class="fa fa-shopping-cart icon-lg" aria-hidden="true"></i>
                             <span>My Products</span>
                             </a>
                        </li>
                        <li class="referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_4" data-toggle="tab">
                             <i class="fa fa-ticket icon-lg" aria-hidden="true"></i>
                             <span>Buy Token</span>
                             </a>
                        </li>
                        <li class="referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_5" data-toggle="tab">
                             <i class="fa fa-file-archive-o icon-lg" aria-hidden="true"></i>
                             <span>Buy Contracts</span>
                              </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-11 col-sm-12" style="margin: 40px 0px 20px 80px;">
                    <div class="tab-content" style="padding:20px 20px; ">
                      <div class="tab-pane tab_default_3 active">
                        <h2 class="mb35-sm  top-spacemob10"><i class="fa fa-ticket icon-lg-red border-round-red" aria-hidden="true"></i> <strong>My Products</strong></h2>
                        <hr />
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs newtab" role="tablist" style="border-bottom :1px solid #afc8e3 !important;background: #fff !important; color:#525252 !important;width :100% !important">
                          <li role="presentation" class="active" style="width: 324px;">
                            <a href=".token" aria-controls="dmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                              <img src="img/token.png" height="31" ;width="48">
                              <strong style="margin-left: 10px;">Token</strong></a>
                          </li>
                          <li role="presentation" ng-click="getTotalIncome(currentPage)" style="width: 324px;margin-left: 5px !important;">
                            <a href=".cloudcards" aria-controls="rmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                              <img src="img/whitecloudcard.png" height="31" ;width="48">
                              <strong style="margin-left: 10px;">Cloud Cards</strong></a>
                          </li>
                          <li role="presentation" ng-click="getTotalIncome(currentPage)" style="width: 324px;margin-left: 5px !important;">
                            <a href=".cloudrigs" aria-controls="rmp" role="tab" data-toggle="tab" style="background: #4286f7 !important;">
                              <img src="img/whitecloudrigs.png" height="31" ;width="48">
                              <strong style="margin-left: 10px;">Cloud Rigs</strong></a>
                          </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="overflow:hidden;">
                          <div role="tabpanel" class="tab-pane active token">
                            <br />
                            <h5 class="red-text02"><strong>Token</strong></h5>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row">
                                <p class="plan2-recommended">Total Token</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Estimated Income</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Current Rate of Nano</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"> </div>
                            <br />
                            <div class="table-responsive">
                              <table class="table table-striped table-bordered no-margin">
                                <thead>
                                  <tr>
                                    <th><strong>Date</strong></th>
                                    <th><strong>Product </strong></th>
                                    <th><strong>Units</strong></th>
                                    <th><strong>Total No. Of Nano</strong></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="!(directIncome.count>0)">
                                    <td colspan="4" style="text-align: center">No Records Found</td>
                                  </tr>
                                  <tr ng-repeat="referralIncome in directIncome">
                                    <td>{{referralIncome.Date}}</td>
                                    <td>{{referralIncome.Description}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="pagination-default">
                                <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                                  total-items="totalRecords" ng-model="currentPage" max-size="5" ng-change="getDirectIncome(currentPage)"></ul>
                              </div>
                              <br />
                              <br />
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane cloudcards">
                            <br />
                            <h5 class="red-text02"><strong>Cloud Cards</strong></h5>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row">
                                <p class="plan2-recommended">Total Token</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Estimated Income</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Current Rate of Nano</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"> </div>
                            <br />
                            <div class="table-responsive">
                              <table class="table table-striped table-bordered no-margin">
                                <thead>
                                  <tr>
                                    <th><strong>Date</strong></th>
                                    <th><strong>Product </strong></th>
                                    <th><strong>Units</strong></th>
                                    <th><strong>Total No. Of Nano</strong></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="!(directIncome.count>0)">
                                    <td colspan="4" style="text-align: center">No Records Found</td>
                                  </tr>
                                  <tr ng-repeat="referralIncome in directIncome">
                                    <td>{{referralIncome.Date}}</td>
                                    <td>{{referralIncome.Description}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="pagination-default">
                                <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                                  total-items="totalRecords" ng-model="currentPage" max-size="5" ng-change="getDirectIncome(currentPage)"></ul>
                              </div>
                              <br />
                              <br />
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane cloudrigs">
                            <br />
                            <h5 class="red-text02"><strong>Cloud Rigs</strong></h5>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row">
                                <p class="plan2-recommended">Total Token</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Estimated Income</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="plan2 row" style="margin-left : 5px">
                                <p class="plan2-recommended">Current Rate of Nano</p>
                                <div class="right-block col-md-8 col-md-offset-2" style="margin-top: 30px;height: auto">
                                  <div class="row ng-binding" style="background-color: #fff;">
                                    $0.00
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"> </div>
                            <br />
                            <div class="table-responsive">
                              <table class="table table-striped table-bordered no-margin">
                                <thead>
                                  <tr>
                                    <th><strong>Date</strong></th>
                                    <th><strong>Product </strong></th>
                                    <th><strong>Units</strong></th>
                                    <th><strong>Total No. Of Nano</strong></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="!(directIncome.count>0)">
                                    <td colspan="4" style="text-align: center">No Records Found</td>
                                  </tr>
                                  <tr ng-repeat="referralIncome in directIncome">
                                    <td>{{referralIncome.Date}}</td>
                                    <td>{{referralIncome.Description}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                    <td>{{referralIncome.USD | currency}}</td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="pagination-default">
                                <ul class="pagination pagination-metro nomargin mt10" uib-pagination items-per-page="pagination.perpage" boundary-links="true"
                                  total-items="totalRecords" ng-model="currentPage" max-size="5" ng-change="getDirectIncome(currentPage)"></ul>
                              </div>
                              <br />
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane tab_default_4">
                        <h2 class="mb35-sm  top-spacemob10"><i class="fa fa-ticket icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Buy Token</strong></h2>
                        <hr />
                        <div class="row gutter">
                          <div class="col-md-4 col-sm-12">
                            <div class="plan2" style="margin-top: 0px;">
                              <p class="plan2-recommended">Order Summary</p>
                              <div class="right-block">
                                <!--<p align="center">Hashpower contract overview</p>-->
                                <div class="panel-body summary-panel">
                                <!--  <div class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                      <h2 class="mb38 nopadding nomargin">
                                        <img ng-src="{{s3Url}}viacoin.png" width="25" class="pull-left img-responsive top-spacemob10" />&nbsp;Nano</h2>
                                    </p>
                                    <h3 class="mb36">${{nano.value * nano.nanoMining/nano.nanominingpower}}</h3>
                                   &lt;!&ndash; <h3 class="mb36">{{nano.nanoMining}} MH/s</h3>&ndash;&gt;
                                    <input type="hidden" id="via-0" value="{{nano.amount * nano.nanoMining/nano.miningpower}}" />
                                  </div>-->
                                  <div class="clearfix"></div>
                                  <div align="center"  style="padding: 0px 16px;margin-top: 20px">
                                    <h3 class="total-price" style="background-color: #269abc;border-radius: 0px"><strong>Total <span> - </span>{{nano.value * nano.nanoMining/nano.nanominingpower}}</strong></h3>
                                  </div>
                                  <div align="center" class="col-md-12   col-sm-12">
                                    <div class="" style="margin-top:20px;">
                                      <button type="button" class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#add-funds"   ng-click="selectPayment(addAmount);">Continue <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                                                </button>
                                      <div class="alert alert-danger fade in" ng-if="noOrder">
                                        Please select any package.
                                      </div>
                                    </div>


                                    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive " src="img/usd-wallet.png"></h4>
                                          </div>
                                          <!-- ngIf: loadingData --><div id="loadingDiv" ng-if="loadingData"></div>
                                          <div class="modal-body">
                                            <form class="ng-pristine ng-valid">
                                              <strong>Choose Your Payment Method</strong>
                                              <div class="row mar20">
                                                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked="">&nbsp;&nbsp;<img ng-src="https://users.nanopool.io/img/bitcoin-logo.png" width="200" src="https://users.nanopool.io/img/bitcoin-logo.png"></div>
                                              </div>
                                            </form>
                                          </div>
                                          <br>
                                          <br>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" ng-click="addFund1(nano.value)" ng-disabled="amountError">Add Funds</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>




                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="users-wrapper red" style="border-left: 2px solid #eee;border-right: 2px solid #eee;border-bottom: 2px solid #eee;">
                              <h2 align="center" class="mb35 top-spacemob10">Nano Token</h2>
                              <p align="center">contract overview</p>
                              <div class="users-info clearfix">
                                <rzslider rz-slider-model="nano.value" rz-slider-options="nano.options"></rzslider>
                              </div>
                              <ul class="users-footer clearfix">
                                <li>
                                  <p class="light">
                                    <input type="number" class="form-control" ng-model="nano.value" min="0" ng-change="calculateViaAmount(key, nano.nanoquantity, nano.nanominingpower, nano.nanomaxunit)"
                                      style="width: 80px;" />Number by Packs
                                  </p>
                                </li>
                                <li>
                                  <p class="light"></p>
                                  <p><strong class="price pull-right lead">Amount : ${{nano.value * 100}}</strong></p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane tab_default_5" style="padding-bottom:150px;">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-file-archive-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Buy Contracts</strong></h2>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
