<div class="clearfix">
</div>
<section>
  <div class="dashboard-wrapper">
    <!--<navigation></navigation>-->
    <style>
      .nav-tabs>li>a {
        color: #fff !important;
      }
      /*.nav-tabs {
        background: #d9534f none repeat scroll 0 0 !important;
      }

      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:hover,
      .nav-tabs>li.active>a:focus {
        background: #b73632 !important;
      }*/

      .error-padding {
        top: 4px;
      }

      .referral-tabs a {
        padding: 14px 0px !important;
        text-align: center;
      }
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-attr="landingPages"></coming-soon> -->
      <div class="contentpanel">
        <div>
          <div class="col-md-12 nomargin nopadding">
            <!--<h2 class="mb35"><i class="fa fa-link  icon-lg border-round" aria-hidden="true" ></i> <strong>My Referral Links</strong></h2>-->
            <!--<div class="top-bar clearfix">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="page-title">
                    <img src="img/refer1.png" style="margin-left: 10px;height: 50px;">&nbsp; My Referral Links
                  </div>
                </div>
              </div>
            </div>-->
            <div class="tabbable-panel">
              <div class="tabbable-line">
                <div class="row flex-display-md">
                  <div class="side-view-mob" style="padding-right: 0px;" style="background-color: #23b7e5">
                    <div align="center">
                      <ul class="nav nav-tabs">
                        <li class="active referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_4" data-toggle="tab">
                             <i class="fa fa-newspaper-o icon-lg" aria-hidden="true"></i>
                             <span>Landing Pages</span>
                             </a>
                        </li>
                        <li class="referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_5" data-toggle="tab">
                             <i class="fa fa-sitemap icon-lg" aria-hidden="true"></i>
                             <span class="small-font">Tree Placement Management</span>
                              </a>
                        </li>
                        <li class="referral-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                          <a href=".tab_default_6" data-toggle="tab">
                             <i class="fa fa-user-plus icon-lg" aria-hidden="true"></i>
                             <span>Signup User</span>
                              </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-11 col-sm-12"  style="margin: 40px 0px 20px 80px;">
                    <div class="tab-content" style="padding:20px 20px; ">
                      <div class="tab-pane tab_default_4 active">
                        <h2 class="mb35-sm  top-spacemob10"><i class="fa fa-newspaper-o icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Landing Pages</strong></h2>
                        <hr />
                        <div class="table-responsive">
                          <div class="ref-box clr-white alert-success" ng-repeat="referral in landingPages | filter:{id:landingPage}" style="margin-bottom: 10px">
                            <span id="copy-text-clipboard">{{referral.path}}{{sponsorId}}&campaignid=0</span>
                            <button ngclipboard data-clipboard-target="#copy-text-clipboard" class="pull-right copy-btn "><i class="fa fa-chain "></i> Copy Link</button>
                            <div class="clearfix"></div>
                          </div>
                          <table class="table table-striped table-bordered no-margin">
                            <thead>
                              <tr>
                                <td><strong>S.No</strong></td>
                                <td><strong>Title</strong></td>
                                <td><strong>Referral Link</strong></td>
                                <td><strong>Action</strong></td>
                              </tr>
                            </thead>
                            <tr ng-repeat="referral in landingPages">
                              <td>{{$index+1}}</td>
                              <td><strong>{{referral.Title}}</strong> </td>
                              <td>{{referral.Title}}<br />
                                <small class="red-text02">{{referral.path}}{{sponsorId}}&campaignid=0</small>
                              </td>
                              <td><button type="button" class="btn btn-warning" ng-disabled="landingPage==referral.id" ng-click="updatePage(referral.id)">Use this landing page</button>                                </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane tab_default_5" style="padding-bottom:150px;">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-sitemap icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Tree Placement Management</strong></h2>
                        <hr />
                        <div class="alert alert-success" role="alert"><strong>Note</strong> : {{activePlacement}} Active !!!</div>
                        <form class="form-horizontal " method="post" action="">
                          <div data-toggle="buttons">
                            <div class="row">
                              <div class="col-md-3 col-md-offset-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-outline tpm-1 tpm-2" ng-click="updatePlacement('L')" style="border:none">
                                  <img ng-src="img/left.png" width="100" ng-hide="autorotator=='L'" />
                                  <img ng-src="img/lefttick.png" width="100" ng-show="autorotator=='L'" /> <br />
                                  <input type="radio" class="hidden" name="q1" value="0" />
                                  <i class="fa fa-check-circle-o lg-icon font-14 pl5" aria-hidden="true"></i> <span class="font-14"> Left Placement </span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-outline tpm-2" ng-click="updatePlacement('R')" style="border:none">
                                  <img ng-src="img/right.png" width="100" ng-hide="autorotator=='R'" />
                                  <img ng-src="img/righttick.png" width="100" ng-show="autorotator=='R'" /><br />
                                  <input type="radio" class="hidden" name="q1" value="1">
                                  <i class="fa fa-check-circle-o lg-icon font-14 pl5" aria-hidden="true"></i> <span class="font-14"> Right Placement </span>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3 col-md-offset-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-outline tpm-1 tpm-2 " ng-click="updatePlacement('A')">
                                  <img ng-src="img/alternate.png" width="100" ng-hide="autorotator=='A'" />
                                  <img ng-src="img/alternatetick.png" width="100" ng-show="autorotator=='A'" /><br />
                                  <input type="radio" class="hidden" value="R">
                                  <i class="fa fa-check-circle-o lg-icon font-14 pl5" aria-hidden="true"></i> <span class="font-14">  Alternate Placement </span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="col-lg-6 col-md-6 col-sm-12 no-outline tpm-2" ng-click="updatePlacement('W')">
                                  <img ng-src="img/balance.png" width="100" ng-hide="autorotator=='W'" />
                                  <img ng-src="img/balancetick.png" width="100" ng-show="autorotator=='W'" /><br />
                                  <input type="radio" name="q1" class="hidden" value="2">
                                  <i class="fa fa-check-circle-o lg-icon font-14 pl5" aria-hidden="true"></i> <span class="font-14">Balance Weak Leg </span>
                                </div>
                              </div>
                            </div>
                        </form>
                        </div>
                      </div>
                      <div class="tab-pane tab_default_6">
                        <h2 class="mb35-sm top-spacemob10"> <i class="fa fa-user-plus icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Signup User</strong></h2>
                        <hr />
                        <br />
                        <div class="col-md-6 col-md-offset-3 form-signup-reffer-outer">
                          <p align="center">
                            <a id="drop4" href="#">
                            <img src="img/users/logo-green.gif" alt="logo" width="38" height="33" class="img-circle">
                          </a>
                          </p>
                          <!--<i class="fa fa-user-plus icon-lg border-round " aria-hidden="true">
                            <img src="img/users/logo-green.gif" />
                            </i></p>-->
                          <h3 align="center" style="padding:0px; margin:0px;"><strong>Create a New Account</strong></h3>
                          <p align="center"><strong>Please enter your credentials below</strong></p>
                          <form name="signup" ng-submit="next()" class="form-signup-reffer" novalidate>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Sponsor ID</strong></label>
                              <input type="text" class="form-control" ng-model="sponsorId" value="{{sponsorId}}" readonly="readonly" />
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Sponsor Name</strong></label>
                              <input type="text" class="form-control" ng-model="name" value="{{name}}" readonly="readonly" />
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>First Name</strong></label>
                              <input type="text" name="firstName" ng-model="user.firstName" class="form-control" placeholder="First Name" ng-maxlength="15"
                                ng-pattern="/^[a-zA-Z]+$/" required />
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.firstName.$touched && signup.firstName.$invalid && !signup.firstName.$error.pattern && !signup.firstName.$error.maxlength">
                                First Name is required.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.firstName.$touched && signup.firstName.$error.pattern && !signup.firstName.$error.maxlength">
                                Only Alphabets are allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.name.$touched && signup.name.$invalid && signup.name.$error.maxlength">
                                Maximum 15 characters are allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="!signup.name.$error.pattern && firstNameError">{{nameError}}</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Last Name</strong></label>
                              <input type="text" name="lastName" ng-model="user.lastName" class="form-control" placeholder="Last Name" ng-maxlength="15"
                                ng-pattern="/^[a-zA-Z]+$/" required />
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.lastName.$touched && signup.lastName.$invalid && !signup.lastName.$error.pattern && !signup.lastName.$error.maxlength">
                                Last Name is required.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.lastName.$touched && signup.lastName.$error.pattern && !signup.lastName.$error.maxlength">
                                Only Alphabets are allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.lastName.$touched && signup.lastName.$invalid && signup.lastName.$error.maxlength">
                                Maximum 15 characters are allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="!signup.lastName.$error.pattern && lastNameError">{{nameError}}</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Desired User ID</strong></label>
                              <input type="text" name="userid" ng-model="user.userid" class="form-control userid" placeholder="Create a Username" ng-minlength=4
                                ng-maxlength=20 ng-pattern="/^[a-zA-Z0-9]+$/" required />
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.userid.$touched && signup.userid.$invalid && !signup.userid.$error.pattern && !signup.userid.$error.maxlength && !signup.userid.$error.minlength">
                                User Id is required</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.userid.$touched && signup.userid.$error.pattern && !signup.userid.$error.maxlength && !signup.userid.$error.minlength">
                                Special characters are not allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.userid.$touched && (signup.userid.$error.minlength || signup.userid.$error.maxlength)">
                                Min. 4 and Max. 15 characters are allowed.</div>
                              <div class="alert alert-danger fade in error-padding" ng-if="userIdError">{{userIdError}}</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Email</strong></label>
                              <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Enter your Email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i"
                                required />
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.email.$touched && signup.email.$invalid && !signup.email.$error.pattern">
                                Email is required</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.email.$error.pattern && signup.email.$touched">
                                Please enter a valid email address.</div>
                              <div class="alert alert-danger fade in error-padding" ng-if="emailError">{{emailError}}</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Password</strong></label>
                              <input type="password" name="password" ng-model="user.password" class="form-control" ng-minlength="6" ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).+$/"
                                placeholder="Password" required />
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$invalid && !signup.password.$error.minlength && !signup.password.$error.pattern">
                                Password is required.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$invalid && signup.password.$error.minlength">
                                Password must be 6 characters long.</div>
                              <div class="alert alert-danger fade in error-padding" ng-show="signup.password.$touched && signup.password.$error.pattern && !signup.password.$error.minlength">
                                Password must be alphanumeric.</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Confirm Password</strong></label>
                              <input type="password" name="confirmpassword" ng-model="user.confirmPassword" class="form-control" ng-keyup="confirmPass()"
                                placeholder="Confirm Password" required />
                              <div class="alert alert-danger fade in error-padding" ng-show="(signup.confirmpassword.$touched && signup.confirmpassword.$invalid) || confirmPassError">
                                Password does not match</div>
                            </div>
                            <div class="col-md-6">
                              <label class="mar10"><strong>Country</strong></label>
                              <div class="col-md-12 input-group mb15">
                                <i class="fa fa-sort select" aria-hidden="true"></i>
                                <div ng-model="user.country" country-select></div>
                              </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 45px;">
                                <label><input name="placement" type="radio" ng-model="user.placement" value="L" /> <strong>Left Placement</strong></label>
                                <label><input name="placement" type="radio" ng-model="user.placement" value="R" /> <strong>Right Placement</strong></label>
                              <div class="alert alert-danger fade in error-padding" ng-if="errorPlacement">{{errorPlacementMessage }}</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                              <button type="submit" class="btn btn-success pull-right" ng-disabled="signup.$invalid"><strong>Join Now</strong></button>
                            </div>
                            <br />
                            <br />
                            <div class="alert alert-success fade in" ng-if="signupMessage">
                              <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Account created succesfully.
                            </div>
                            <div class="alert alert-danger fade in" ng-if="errorMessage" style="text-transform:capitalize;">
                              <strong>OOPS!</strong> {{errorMessage}}.
                            </div>
                          </form>
                          <!-- Begin MailChimp Signup Form -->
                          <div id="mc_embed_signup" style="display: none">
                            <form action="//nanopool.us16.list-manage.com/subscribe/post?u=962799c07287fb1d52d81661b&amp;id=e8818d171d" method="post"
                              id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                              novalidate>
                              <div id="mc_embed_signup_scroll">
                                <h2>Subscribe to our mailing list</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                                  <input id="mce-EMAIL" name="EMAIL" type="email" class="text" value="{{user.email}}" onfocus=" if (this.value == '') { this.value = ''; }"
                                    onblur="if (this.value == '') { this.value='';} " tabindex="500" />
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-NAME">Name </label>
                                  <input id="mce-NAME" type="text" class="text" value="{{user.firstName}} {{user.lastName}}" onfocus=" if (this.value == '') { this.value = ''; }"
                                    onblur="if (this.value == '') { this.value='';} " tabindex="500" />
                                </div>
                                <div class="mc-field-group">
                                  <label for="mce-MMERGE3">Country </label>
                                  <input id="mce-MMERGE3" name="MMERGE3" type="text" class="text" value="{{user.country}}" onfocus=" if (this.value == '') { this.value = ''; }"
                                    onblur="if (this.value == '') { this.value='';} " tabindex="500" />
                                </div>
                                <div id="mce-responses" class="clear">
                                  <div class="response" id="mce-error-response" style="display:none"></div>
                                  <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_962799c07287fb1d52d81661b_e8818d171d" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- table-responsive -->
            </div>
          </div>
        </div>
        <!-- contentpanel -->
      </div>

    </div>
    <!-- mainwrapper -->
</section>
