<style>
  body {
    background-color: #333f88
  }
</style>
<section style="padding: 10%;">
  <div class="panel" style="border: 1px solid #ceddee;border-radius: 2px;padding: 8px;">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="mb15"></div>
          <div id="top_header">
            <img src="img/logo-nanopool.png" class="logo" alt="Nanopool" />
          </div>
          <h3 class="text-center mb5 mail-box-text">Find Our Mail Inside Your Mail Box.</h3>
          <h4 class="text-center mb5">We would appreciate if you visit your email and verify yourself for a wonderful beginning!</h4>
          <br />
          <br />
          <img ng-src="{{s3Url}}welcomemailnano.png" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
  <!-- panel -->
</section>