<div class="modal-content">
   <div class="modal-header" style="background-color: #fff">
      <button type="button" class="close no-print" data-dismiss="modal" aria-label="Close" ng-click="closePopup()"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title no-print" style="color: black!important;display: flex;height: 35px; align-items: center;" id="myModalLabel" ng-if="!earningSuccess && !noBalance"><!--<img src="img/usd-wallet.png" width="35" class="pull-left img-responsive " style="margin-right: 20px">--> <strong>&nbsp;{{affiliateAccount?"Active Affiliate Account":"Package Detail"}}</strong></h4>
      <h4 class="modal-title no-print" id="myModalLabel" ng-if="earningSuccess || noBalance"><strong>&nbsp;Payment Invoice</strong></h4>
   </div>
   <div class="modal-body invoice-modal-body">
     <div class="alert alert-danger fade in" ng-if="notPaid">
       You have not paid any amount yet.
     </div>
     <div class="alert alert-warning fade in" ng-if="pendingStatus">
       Your transaction confirmation is still pending.
     </div>
     <div class="alert alert-success fade in" ng-if="successStatus">
       Your transaction has been confirmed.
     </div>
     <div class="alert alert-success fade in" ng-if="accountStatus">
       Your Account is already Activated.
     </div>
     <div class="alert alert-danger fade in" ng-if="noBalance">
       Balance Not Available.
     </div>
     <div ng-if="earningSuccess && !accountStatus">
      <h4><strong style="color:#F90;">Congratulations ! Your affiliate panel is active. Now withdraw your payouts without any hassle.</strong></h4>
      <hr>
      <h4><strong>Invoice Number :</strong> {{transactionDetails.invoice_number}}</h4>
      <h4><strong>Expiry Date :</strong>  {{expiryDate}}</h4>
      <br>
      <br>
      <span style="font-size:12px;"><strong>Thank You,</strong><br>
      Team nanopool<br>
      <img src="img/logo-nanopool.png" width="60"></span>
     </div>
     <!--<form ng-if="!noBalance && !accountStatus && !earningSuccess">
         <h4>Transaction Funding</h4>
         <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
         <div class="row">
            <div class="col-md-12 col-sm-12" style="font-size:14px">
               <h4 class="no-margin no-padding">Invoice Number : {{transactionDetails.invoice_number}}</h4>
               <h3><strong>Add Funds : {{transactionDetails.value_in_usd | currency}}</strong></h3>
               <small class="col-xs-12 col-sm-12 red-text02"><strong>Note:</strong> Please pay the exact amount of BTC mentioned here. Any underpayments will remain unattended!</small>
               <h4 class="add-funds-popup">You have to Pay <strong>{{transactionDetails.value_in_btc}} BTC </strong> </h4><br>
               <div class="col-xs-12 col-sm-12 col-md-12">
                 <strong>Date :</strong> {{transactionDate}}<br><br>
               </div>
               <div class="col-xs-8 col-sm-8 col-md-8 bit-address">
                 <strong>Bitcoin Address :
                 {{transactionDetails.address}}</strong>
               </div>
               <div class="qr_code">
                 <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{transactionDetails.address}}?&amount={{transactionDetails.value_in_btc}}" width="100">
               </div>
               <br><br>
               <small class="col-xs-12 col-sm-12 col-md-12 red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
               <br>
               <small class="col-md-12 red-text02 mt10">Note : The invoice will be expired in Half an hour. Make sure you make the payment before expiry of the invoice!</small>
               <br><br />
               <div class="col-xs-12 col-sm-12 col-md-12 mt10">
                 <span><strong>Thank You,</strong><br>
                 Team nanopool<br>
                 <img src="img/logo-nanopool.png" width="60"></span>
               </div>
            </div>
         </div>-->
     <form ng-if="!noBalance && !accountStatus && !earningSuccess">
       <!--
                <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
       -->
       <div class="row wrapper-payment">
         <div class="col-md-5 col-sm-12 border-n-box">
           <p class="invoice-bitcoin">
             Invoice Id <br/>
             <span class="red-color"><b>{{transactionDetails.invoice_number}}</b></span> <br/>
             Expires in
           </p>
           <div class="block-time-wrapper">
             <div class="block-time">
               <div class="time">{{counter | secondsToDateTime | date:'mm'}}</div>
               <span>Minutes</span>
             </div>
             <span>:</span>
             <div class="block-time">
               <div class="time">{{counter | secondsToDateTime | date:'ss'}}</div>
               <span>Seconds</span>
             </div>
           </div>
         </div>
         <div class="col-md-5 col-sm-12 border-n-box second-block">
           <ul>
           <!--<li class="number-share">
             <p>NUMBER OF SHARE</p>
             <div class="qnty-number">
               <p><b>{{nano.value}}</b> Shares</p>
             </div>
           </li>-->
           <li>
             <p><b>Package Price conversion in Bitcoin</b></p>
             <p>
               <span class="dollar"><b>{{transactionDetails.value_in_usd | currency}}</b></span> = <span class="bitcoin"><b>{{(transactionDetails.value_in_btc)}} BTC</b></span>
             </p>
             <p><b>Transaction in progress.</b></p>
           </li>
           </ul>
         </div>
       </div>
       <div class="row pay-bitcoin">
         <hr/>
         <h3>Pay with Bitcoin</h3>
         <ul>
           <li>
             <p><b class="bitcoin">{{transactionDetails.value_in_btc}} BTC</b></p>
             <p>Send Bitcoin Here</p>
             <p><b class="break-word">{{transactionDetails.address}}</b></p>
           </li>
           <li>
             <div class="qr_code">
               <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{transactionDetails.address}}?&amount={{transactionDetails.value_in_btc}}" width="100">
             </div>
           </li>
         </ul>
       </div>
      </form>
     <div class="instruction-block">
       <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
       <p><strong>Note:</strong> Please pay the exact amount of BTC mentioned here. Any underpayments will remain unattended!</p>
       <p><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once.
         Each new funding has to be initiated in Add Funds inside your account.</p>
       <p><strong>Note:</strong> The invoice will be expired in Half an hour. Make sure you make the payment before expiry of the invoice!</p>
     </div>
   </div>
   <br>
   <br>
   <div class="modal-footer no-print">
      <button type="button" class="btn btn-info" ng-click="printInvoice()"><i class="fa fa-print"></i> Print</button>
      <button type="button" class="btn btn-primary" ng-if="!affiliateAccount" ng-click="checkStatus(transactionDetails.address)">I have paid</button>
      <button type="button" class="btn btn-primary" ng-click="closePopup()" ng-if="affiliateAccount">{{noBalance || earningSuccess?'Payment':'Done'}}</button>
   </div>
</div>
