<div class="clearfix"></div>
<section>
<!--  <div class="dashboard-wrapper">
    &lt;!&ndash;<navigation class="no-print"></navigation>&ndash;&gt;

    </div>-->
  <div class="mainpanel">
    <!-- <coming-soon text-value="'Mining'"></coming-soon> -->

    <div id="wallet-content">
      <div class="">
        <div class="col-lg-4 col-md-12 left-side">
          <div id="wallet-cards">
            <h2>My Wallets</h2>
            <!--<div id="cards-list">-->
              <!--&lt;!&ndash;ether-wallet&ndash;&gt;-->
              <!--<div class="ether-wallet cards" ng-click="activeCard('ether')">-->
                <!--<div class="image-title">-->
                  <!--<div class="image">-->
                    <!--<img src="../img/ether-wallet.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">-->
                    <!--<p>Ether wallet</p>-->
                    <!--<span>0.00</span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="buttons-list">-->
                  <!--<button class="withdraw">-->
                    <!--<img src="../img/withdraw-icon.png" alt="">-->
                    <!--<span>Withdraw</span>-->
                  <!--</button>-->
                  <!--<button class="exchange">-->
                    <!--<img src="../img/exchange-icon.png" alt="">-->
                    <!--<span>Exchange with USD</span>-->
                  <!--</button>-->
                  <!--<button class="other">-->
                    <!--<img src="../img/other-icon.png" alt="">-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;USD  wallet&ndash;&gt;-->
              <!--<div class="usd-wallet cards" ng-click="activeCard('usd')">-->
                <!--<div class="image-title">-->
                  <!--<div class="image">-->
                    <!--<img src="../img/usd-wallet1.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">-->
                    <!--<p>USD  wallet</p>-->
                    <!--<span>0.00</span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="buttons-list">-->
                  <!--<button class="withdraw">-->
                    <!--<img src="../img/withdraw-icon.png" alt="">-->
                    <!--<span>Withdraw</span>-->
                  <!--</button>-->
                  <!--<button class="exchange">-->
                    <!--<img src="../img/exchange-icon.png" alt="">-->
                    <!--<span>Exchange with USD</span>-->
                  <!--</button>-->
                  <!--<button class="other">-->
                    <!--<img src="../img/other-icon.png" alt="">-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;Ether wallet second&ndash;&gt;-->
              <!--<div class="ether-wallet cards"  ng-click="activeCard('etherB')">-->
                <!--<div class="image-title">-->
                  <!--<div class="image">-->
                    <!--<img src="../img/ether-walletb.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">-->
                    <!--<p>Ether wallet</p>-->
                    <!--<span>0.00</span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="buttons-list">-->
                  <!--<button class="withdraw">-->
                    <!--<img src="../img/withdraw-icon.png" alt="">-->
                    <!--<span>Withdraw</span>-->
                  <!--</button>-->
                  <!--<button class="exchange">-->
                    <!--<img src="../img/exchange-icon.png" alt="">-->
                    <!--<span>Exchange with USD</span>-->
                  <!--</button>-->
                  <!--<button class="other">-->
                    <!--<img src="../img/other-icon.png" alt="">-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="ETH" success-message="successMessage"
                         error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                         s3-url="s3Url"></wallet-info>
            <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="USD" success-message="successMessage"
                         error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                         s3-url="s3Url"></wallet-info>
            <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="NANO" success-message="successMessage"
                         error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                         s3-url="s3Url">
            </wallet-info>
            <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info mock-none" wallet-data="walletData" wallet-type="COMMISSIONS" success-message="successMessage"
                         error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 right-side">
          <div id="wallet-list">
            <h3>Last Transaction and withdrawal</h3>
            <div class="wallet-list-blocks" ng-repeat="transaction in transactionData">
              <div class="block">
                <!--NUMBER-->
                <div class="number">
                  <p>#</p>
                  <span>{{$index+1}}</span>
                </div>
                <!--DATE-->
                <div class="date">
                  <p>Date</p>
                  <span >{{transaction.Date | date:'MM.dd.yyyy'}}</span>
                </div>
                <!--User ID-->
                <div class="user-id">
                  <p>User ID</p>
                  <span>{{transaction.userid}}</span>
                </div>
                <!--Transaction-->
                <div class="transaction">
                  <p>Transaction</p>
                  <span>${{transaction.Amount}}</span>
                </div>
                <!--Transaction No-->
                <div class="transaction-no">
                  <p>Transaction No</p>
                  <span>{{transaction.transaction_number ? transaction.transaction_number : '-'}}</span>
                </div>
                <!--Invoice no-->
                <div class="invoice-no">
                  <p>Invoice no</p>
                  <span>{{transaction.invoice_number}}</span>
                </div>
                <!--Description-->
                <div class="description">
                  <p>Description</p>
                  <span>{{transaction.Description}}</span>
                </div>
                <!--Status-->
                <div class="status">
                  <p>Status</p>
                  <span>Not Paid</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <!-- ngIf: withdrawalHeading && !responseSuccess -->
            <!-- ngIf: responseSuccess && !convertSuccess && !convertError -->
            <!-- ngIf: convertUSDHeading -->
          </div>
          <div class="modal-body">
            <!-- ngIf: withdrawalSuccess -->
            <!-- ngIf: convertSuccess -->
            <!-- Withdrawal Error-->
            <!-- ngIf: withdrawalError || convertError -->
            <br>
            <!-- ngIf: loadingData -->
            <!-- ngIf: withdrawalInfo && !withdrawalSuccess && !withdrawalError -->
            <!-- ngIf: !convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo --><form name="withdrawal" class="form-inline ng-pristine ng-scope ng-valid-min ng-invalid ng-invalid-required" ng-submit="verifyAndSubmit(walletType, walletAmount, walletName)" ng-if="!convertSuccess &amp;&amp; ! withdrawalSuccess &amp;&amp; !withdrawalError &amp;&amp; !convertError &amp;&amp; !withdrawalInfo" novalidate="">
            <div class="form-group">
              <label>
                <strong class="ng-binding">No Of  you want to Convert</strong>
              </label>
              <input type="number" name="walletAmount" min="0" ng-model="walletAmount" class="form-control ng-pristine ng-untouched ng-empty ng-valid-min ng-invalid ng-invalid-required" style="width:80%;" required="" aria-invalid="true">
              <!-- ngIf: walletName === 'BTC' -->
              <!-- ngIf: walletName === 'ETH' -->
              <!-- ngIf: walletName === 'DASH' -->
              <!-- ngIf: walletName === 'MONERO' -->
              <!-- ngIf: walletName === 'VIA' -->
              <button type="submit" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" ng-disabled="withdrawal.$invalid" disabled="disabled">OK</button>
              <div class="alert alert-danger fade in error-padding ng-hide" ng-show="withdrawal.walletAmount.$touched &amp;&amp; withdrawal.walletAmount.$invalid" style="width:80%;" aria-hidden="true">
                Please enter any amount
              </div>
              <!-- ngIf: withdrawalAmountError -->
            </div>
          </form><!-- end ngIf: !convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="https://users.nanopool.io/img/eth.png" width="35" class="pull-left img-responsive " src="https://users.nanopool.io/img/eth.png"> <strong>&nbsp;Ether Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <div class="form-group">
                <label><strong>No Of Ether you want to Withdraw</strong></label>
                <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;">
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="https://users.nanopool.io/img/usd-wallet.png" width="35" class="pull-left img-responsive " src="https://users.nanopool.io/img/usd-wallet.png"> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <div class="form-group">
                <label><strong>Withdraw USD Dollar</strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" class="form-control" style="margin-top:10px;">
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <!-- ngIf: loadingData -->
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-keyup="verifyUserId(userId)" aria-invalid="false">
                <!-- ngIf: verifiedStatus -->
                <!-- ngIf: verifiedUserId --><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-disabled="verifiedStatus===false" disabled="disabled" aria-invalid="false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false" ng-click="transferFund(transferAmount, userId)" disabled="disabled">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <!-- ngIf: loadingData -->
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-keyup="verifyUserId(userId)" aria-invalid="false">
                <!-- ngIf: verifiedStatus -->
                <!-- ngIf: verifiedUserId --><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-disabled="verifiedStatus===false" disabled="disabled" aria-invalid="false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false" ng-click="transferAcademyFund(transferAmount, userId)" disabled="disabled">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive " src="img/usd-wallet.png"> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <!-- ngIf: loadingData -->
          <div class="modal-body">
            <form class="ng-pristine ng-valid">
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked="">&nbsp;&nbsp;<img ng-src="https://users.nanopool.io/img/bitcoin-logo.png" width="200" src="https://users.nanopool.io/img/bitcoin-logo.png"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-funds-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive " src="img/usd-wallet.png"> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <!-- ngIf: loadingData -->
          <div class="modal-body">
            <form class="ng-pristine ng-valid">
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked="">&nbsp;&nbsp;<img ng-src="https://users.nanopool.io/img/bitcoin-logo.png" width="200" src="https://users.nanopool.io/img/bitcoin-logo.png"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addAcademyFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <!-- Transaction Details -->
    <!-- <div class="modal fade in" id="add-funds1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
             <form>
                <h4>Transaction Funding</h4>
                <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
                <div class="row">
                   <div class="col-md-12 col-sm-12" style="font-size:14px; text-align:justify;">
                      <h4 class="no-margin no-padding">Invoice Number : #3987981279379</h4>
                      <h3><strong>Add Funds : $200</strong></h3>
                      <h4 class="add-funds-popup">You have to Pay <strong>3213.90 BTC </strong> </h4>
                      <br><img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=XXXXXXXXXXXXXXX" class="pull-right" width="100">
                      <strong>Date :</strong> 12/12/2016<br><br>
                      <strong class="bit-address">Bitcoin Address :
                      sdkjfhkh3274923849238432dsjfhsdj</strong><br>
                      <br><br>
                      <br>
                      <small class="red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
                      <br>
                      <span><strong>Thank You,</strong><br>
                      Team nanopool<br>
                      <img ng-src="img/logo-nanopool.png" width="60"></span>
                   </div>
                </div>
             </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Add Funds</button>
          </div>
       </div>
    </div>
 </div> -->
    <!-- Transaction Details -->
    <!-- contentpanel -->
    <style>
      .nav-tabs>li>a {
        padding: 14px 45px !important;
        color: #fff !important;
      }
    </style>

    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" ng-if="withdrawalHeading && !responseSuccess">
              <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " />
              <strong>&nbsp;{{walletName}} Wallet</strong>
            </h4>
            <h4 class="modal-title" id="myModalLabel" ng-if="responseSuccess && !convertSuccess && !convertError">
              <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " />
              <strong>&nbsp;Withdrawal</strong>
            </h4>
            <h4 class="modal-title" id="myModalLabel" ng-if="convertUSDHeading">
              <img ng-src="{{s3Url}}{{btcImage?'btc':'dollar'}}.png" width="35" class="pull-left img-responsive ">
              <strong>&nbsp;{{convertUSDName}} ({{walletName}} Wallet)</strong>
            </h4>
          </div>
          <div class="modal-body">
            <h4 ng-if="withdrawalSuccess"><strong>Congratulations !!!</strong> You have Successfully Withdrawal. </h4>
            <h4 ng-if="convertSuccess"><strong>Congratulations !!!</strong> You have Successfully Converted your {{walletName}} Coins.
            </h4>
            <!-- Withdrawal Error-->
            <h4 ng-if="withdrawalError || convertError">{{errorMessage}}</h4>
            <br />
            <div class="ajax_loader" ng-if="loadingData"></div>
            <div ng-if="withdrawalInfo && !withdrawalSuccess && !withdrawalError">
              <div class="col-xs-8 col-sm-8 col-md-8">
                <h4><strong>Request Amount :
                  {{requestAmount}}</strong>
                </h4>
              </div>
              <div class="col-xs-8 <col-sm-8></col-sm-8> col-md-8">
                <h4><strong>Network Fees :
                  {{fees}}</strong>
                </h4>
              </div>
              <h4 class="add-funds-popup">Withdraw Amount <strong class="ng-binding">{{withdrawalAmount | number:6}} </strong> </h4>
              <br />
              <div class="mt10">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="walletActivity(requestAmount, walletName, walletType)">Confirm</button>
              </div>
            </div>
            <form name="withdrawal" class="form-inline" ng-submit="verifyAndSubmit(walletType, walletAmount, walletName)" ng-if="!convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo"
                  novalidate>
              <div class="form-group">
                <label>
                  <strong>No Of {{walletName}} you want to {{withdrawalHeading?'Withdraw':'Convert'}}</strong>
                </label>
                <input type="number" name="walletAmount" min="0" ng-model="walletAmount" class="form-control" style="width:80%;" required
                />
                <small class="col-md-12 red-text02" ng-if="walletName === 'BTC'">Note : Minimum balance should be 0.0005 BTC</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'ETH'">Note : Minimum balance should be 0.05 ETH</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'DASH'">Note : Minimum balance should be 0.05 DASH</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'MONERO'">Note : Minimum balance should be 0.05 MONERO</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'VIA'">Note : Minimum balance should be 0.05 VIA</small>
                <button type="submit" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" ng-disabled="withdrawal.$invalid">OK</button>
                <div class="alert alert-danger fade in error-padding" ng-show="withdrawal.walletAmount.$touched && withdrawal.walletAmount.$invalid"
                     style="width:80%;">
                  Please enter any amount
                </div>
                <div class="alert alert-danger fade in error-padding" ng-if="withdrawalAmountError" style="width:80%;">
                  Please enter sufficient amount to withdraw
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}eth.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;Ether Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label><strong>No Of Ether you want to Withdraw</strong></label>
                <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;" />
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}usd-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label><strong>Withdraw USD Dollar</strong></label><br />
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" class="form-control" style="margin-top:10px;" />
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="ajax_loader" ng-if="loadingData"></div>
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control" style="margin-top:0px;" ng-keyup="verifyUserId(userId)">
                <i class="fa fa-check" ng-if="verifiedStatus" style="color:#0C0; font-size:30px;"></i>
                <i class="fa fa-times" ng-if="verifiedUserId" style="color:red; font-size:30px;"></i><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control" style="margin-top:0px;" ng-disabled="verifiedStatus===false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false"
                          ng-click="transferFund(transferAmount, userId)">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="ajax_loader" ng-if="loadingData"></div>
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control" style="margin-top:0px;" ng-keyup="verifyUserId(userId)">
                <i class="fa fa-check" ng-if="verifiedStatus" style="color:#0C0; font-size:30px;"></i>
                <i class="fa fa-times" ng-if="verifiedUserId" style="color:red; font-size:30px;"></i><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control" style="margin-top:0px;" ng-disabled="verifiedStatus===false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false"
                          ng-click="transferAcademyFund(transferAmount, userId)">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "><!-- <strong>&nbsp;Add Funds</strong>--></h4>
          </div>
          <div id="loadingDiv" ng-if="loadingData"></div>
          <div class="modal-body">
            <form>
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png"
                                                                                                                                        width="200"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-funds-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <div id="loadingDiv" ng-if="loadingData"></div>
          <div class="modal-body">
            <form>
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png"
                                                                                                                                        width="200"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addAcademyFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <!-- Transaction Details -->
    <!-- <div class="modal fade in" id="add-funds1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
             <form>
                <h4>Transaction Funding</h4>
                <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
                <div class="row">
                   <div class="col-md-12 col-sm-12" style="font-size:14px; text-align:justify;">
                      <h4 class="no-margin no-padding">Invoice Number : #3987981279379</h4>
                      <h3><strong>Add Funds : $200</strong></h3>
                      <h4 class="add-funds-popup">You have to Pay <strong>3213.90 BTC </strong> </h4>
                      <br><img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=XXXXXXXXXXXXXXX" class="pull-right" width="100">
                      <strong>Date :</strong> 12/12/2016<br><br>
                      <strong class="bit-address">Bitcoin Address :
                      sdkjfhkh3274923849238432dsjfhsdj</strong><br>
                      <br><br>
                      <br>
                      <small class="red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
                      <br>
                      <span><strong>Thank You,</strong><br>
                      Team nanopool<br>
                      <img ng-src="img/logo-nanopool.png" width="60"></span>
                   </div>
                </div>
             </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Add Funds</button>
          </div>
       </div>
    </div>
 </div> -->
    <!-- Transaction Details -->
    <!-- contentpanel -->
  </div>

  <!-- mainwrapper -->
</section>
