<h2 class="mb35-sm top-spacemob10"><i class="fa fa-star icon-lg-red border-round-red" aria-hidden="true"></i> <strong>Change Password</strong></h2>
<hr />
<form name="changePassword" ng-submit="changeUserPassword()" novalidate>
  <div class="alert alert-success fade in" ng-if="successMessage">
    <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> {{successMessage}}</strong>
  </div>
  <div class="alert alert-danger fade in text-capitalize" ng-if="errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="col-md-8 col-sm-12 ">
    <label for="exampleInputName2"><strong>Old Password</strong></label>
    <div class="mb15">
      <input type="password"
             class="form-control"
             name="oldPassword"
             id="exampleInputName2"
             ng-model="userValue.OldPassword"
             required />
     </div>
     <div class="alert alert-danger fade in error-padding"
      ng-show="changePassword.oldPassword.$touched && changePassword.oldPassword.$invalid">
      Old Password is required.</div>
  </div>
  <div class="col-md-8 col-sm-12 mt10">
    <label for="exampleInputName2"><strong>New Password</strong></label>
    <div class="mb15">
      <input type="password"
             name="newPassword"
             class="form-control"
             ng-model="userValue.NewPassword"
             ng-minlength="6"
             ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).+$/"
             required />
    </div>
    <div class="alert alert-danger fade in error-padding"
      ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$invalid && !changePassword.newPassword.$error.minlength && !changePassword.newPassword.$error.pattern">
      Password is required.</div>
   <!-- Minimum Lenght Validation -->
    <div class="alert alert-danger fade in error-padding"
      ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$invalid && changePassword.newPassword.$error.minlength">
      Password must be 6 characters long.</div>
    <!-- Alphanumeric Validation -->
    <div class="alert alert-danger fade in error-padding"
      ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$error.pattern && !changePassword.newPassword.$error.minlength">
      Password must be alphanumeric.</div>
  </div>

  <div class="col-md-8 col-sm-12 mt10">
    <div class="mb15">
      <label for="exampleInputName2"><strong>Confirm Password</strong></label>
      <input type="password"
             name="confirmPassword"
             class="form-control"
             ng-model="userValue.ConfirmPassword"
             id="exampleInputName2"
             ng-keyup="confirmPass()"
             required />
    </div>
    <div class="alert alert-danger fade in error-padding"
       ng-show="(changePassword.confirmPassword.$touched && changePassword.confirmPassword.$invalid) || confirmPassError">
       Password does not match</div>
  </div>
  <div class="clearfix"></div>
  <p style="padding: 0 10px;">
    <input type="submit" class="btn white-btn btn-lg" value="Save" name="submit" ng-disabled="changePassword.$invalid || confirmPassError">
    <input type="reset" class="btn btn-default btn-lg" ng-click="reset()" value="Reset" name="reset">
  </p>
</form>
