<!-- Modal Content -->
<div class="modal-content">
    <div class="modal-header" style="background:#b73632 !important">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title text-capitalize" style="color:#fff"><i class="fa fa-user "></i> Hey {{name}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3> We're Coming Soon</h3>
                <h4>Stay tuned for something Amazing</h4>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a class="btn btn-danger roundTimer" id="demo1">{{days}} <br />days</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a class="btn btn-success roundTimer" id="demo2">{{hours}} <br />hours</a>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a class="btn btn-danger roundTimer" id="demo3">{{minutes}} <br />minutes </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a class="btn btn-success roundTimer" id="demo4">{{seconds}} <br />seconds</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
    </div>
</div>
<!-- /.modal-content -->