<div class="app">
<main-header class="main-header"></main-header>
<div ui-view="" class="container"></div>
</div>
<div class="clearfix"></div>
<div class="app" style="position: absolute;min-height:initial;width: 100%;"> 
	<main-footer></main-footer> 
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>