<div class="clearfix"></div>
<section>
   <div class="dashboard-wrapper">
      <!--<navigation></navigation>-->
      <style>.nav-tabs > li > a{ padding: 14px 15px !important; color:#fff !important;
         }
         /*.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}
         .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}*/
         .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { padding: 8px 5px;}
      </style>
      <div class="mainpanel">
         <div class="pageheader">
            <div  ><iframe class="news-feeds"    height="60" width="90%" src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Ffeeds.feedburner.com%2FCoinDesk%3Fformat%3Dxml&rssmikle_frame_width=900&rssmikle_frame_height=60&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=off&text_align=left&text_align2=left&corner=off&scrollbar=off&autoscroll=on&scrolldirection=up&scrollstep=3&mcspeed=10&sort=New&rssmikle_title=off&rssmikle_title_bgcolor=%23FFD700&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23FFFFFF&rssmikle_item_title_length=55&rssmikle_item_title_color=%23FF4B14&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe></div>
            <!-- media -->
            <div  ></div>
            <div class="media" style="margin-top:-2px;">
            </div>
         </div>
         <!-- pageheader -->
         <div class="contentpanel">
            <div class="container academy-container">
               <div class="col-md-3 col-sm-12" style="border-right:5px solid #FC0;"><img src="img/nanopoolcademy.png" width="300" class="img-responsive" style=" padding:10px;"/></div>
               <div class="col-md-9 col-sm-12 academy-heading" style="padding-left:40px;">
                  <h2 class="mt5" style="font-size:35px !important; text-transform:uppercase;">
                     You platform for Personal and Business Success
                  </h2>
                  <p>A cryptocurrency (or crypto currency) is a medium of exchange using cryptography to secure the transactions and to control the creation of new units. Cryptocurrencies are a subset of alternative currencies or specifically of digital currencies. Bitcoin became the first decentralized cryptocurrency in 2009.</p>
               </div>
            </div>
            <div class="clearfix"></div>
            <h2 class="mb37 payment-desc" align="center" style="width:60%;">
               <span class="glyphicon glyphicon-minus"></span>
               Review What Products are in Your Shopping Cart<span class="glyphicon glyphicon-minus"></span>
            </h2>
            <br />
            <div class="container cart-container" style=" min-height:400px; overflow:hidden;">
               <table class="table table-striped table-bordered no-margin">
                  <thead>
                     <td><strong></strong></td>
                     <td><strong>Product Name</strong></td>
                     <td><strong>Price</strong></td>
                     <td><strong>Action</strong></td>
                  </thead>
                  <tr ng-show="showTable == true">
                     <td><img ng-src="{{s3Url}}nanopool-Academy/package{{index+1}}.png" style="border:1px solid #ccc; padding:5px;" class="academy-invoice-pkg" /></td>
                     <td style="vertical-align:middle;"> <strong>{{cartItem.PackageName}}</strong><br />
                     </td>
                     <td>
                        <h3 style="margin-top:10px;"><strong>{{cartItem.Price}}</strong></h3>
                     </td>
                     <td>
                        <button type="button" class="btn btn-danger btn-xs mar10" ng-click="removeFromCart(cartItem, $index);">Delete</button>
                     </td>
                  </tr>
               </table>
               <p style="border-bottom:4px solid #ccc; border-top:1px solid #ccc; padding:5px; height:60px;">
                  <span class="mt5 pull-right" style=" color:#999;">Total Price: ${{totalPrice}}</span>
               </p>
               <p style="border-bottom:1px solid #ccc;  padding:5px; height:80px;">
                  <span class="mt5 pull-right payment-type" style="color:#999;">Select Payment :
                     <input name="bitcoin" type="radio" value="1" ng-model="payment"/>
                     <!--<img src="img/btc-wallet.png" width="60" title="Bitcoin Wallet" />&nbsp;&nbsp;-->
                     <input name="usd" type="radio" value="2" ng-model="payment"/>
                     <img src="img/usd-wallet.png" width="60" title="USD Wallet" />&nbsp;&nbsp;
                     <input name="academy" type="radio" value="3" ng-model="payment"/>
                     <img src="img/academy-wallet.png" width="60" title="Academy Wallet" />
                  </span>
               </p>
               <p>
                  <button type="button" ng-disabled="!payment" data-toggle="modal" data-target="#purchase-summry" ng-click="placeOrder();" class="btn  btn-lg  btn-block btn-warning mar10">Proceed to Checkout</button>
               </p>
               <div class="clearfix"></div>
               <hr />
            </div>
            <div class="modal fade" id="purchase-summry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 align="left" class="modal-title" id="myModalLabel">Purchase Invoice</h4>
                     </div>
                     <div align="left" class="modal-body text-capitalize" style="font-size:16px;">
                        <div class="alert alert-danger fade in" ng-if="noBalance" style="font-size:13px;">
                           {{message}}
                        </div>
                        <div ng-if="!noBalance">
                           <em><strong>Hello {{name}},</strong></em><br />
                           <br />
                           Please Find the Details About Your New Purchase Below.<br />
                           <hr />
                           <strong>Mode of Purchase</strong>: <img ng-src="{{s3Url}}{{payment === '1' ? 'bitcoin-logo':'nanopool-wallet'}}.png" width="100" /><br /><br />
                           <p ng-if="payment === '1'" class="add-funds-popup btc-address-academypg">Bitcoin Address : <strong>{{invoiceInfo.address}}</strong></p>
                           <br />
                           <p class="bit-address"><strong>Invoice Number</strong> : {{invoiceInfo.invoice_number}}</p>
                           <table class="table table-bordered">
                              <tr>
                                 <td><strong>Package Name</strong></td>
                                 <td><strong>Price</strong></td>
                              </tr>
                              <tr>
                                 <td><img src="img/package1.png" width="30" />{{cartItem.PackageName}}</td>
                                 <td>{{cartItem.Price}}</td>
                              </tr>
                           </table>
                           <h3 ng-if="payment === '1'" class="pull-right nomargin nopadding"><strong>Total : ${{invoiceInfo.value_in_usd}}</strong></h3>
                           <h3 ng-if="payment === '2'" class="pull-right nomargin nopadding"><strong>Total : ${{cartItem.Price}}</strong></h3>
                           <div class="clearfix"></div>
                           <hr />
                           </p>
                           <br />
                           <span><strong>Thank You,</strong><br />
                           Team nanopool<br />
                           <img src="img/logo-nanopool.png" width="60" /></span>
                        </div>
                        <div ng-if="invoiceInfo.error" align="left" class="modal-body" style="font-size:16px;">
                           <em><strong>Hello {{name}},</strong></em><br />
                           <br />
                           The purchase could not be made. Please try after some time.<br />
                           <hr />
                           <span><strong>Thank You,</strong><br />
                           Team nanopool<br />
                           <img src="img/logo-nanopool.png" width="60" /></span>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal();">OK</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>