<section>
  <div class="panel panel-signin">
    <div class="panel-body">
      <div class="logo text-center">
        <img ng-src="img/logo-nanopool.png" alt="nanopool" >
      </div>
      <br />
      <h4 class="text-center mb5">Reset Password?</h4>
      <p class="text-center">Please enter your New Password below</p>
      <div class="mb30"></div>
      <div class="alert alert-success fade in text-center" ng-if="hasSuccess">
        <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></strong> Your Password has been succesfully changed. <a href="#/login">Click here</a> to Login.
      </div>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="resetPassError" style="position:relative;">{{resetPassError}}</div>
      <form name="resetPassword" ng-submit="submit()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password"
                 name="password"
                 ng-model="user.password"
                 class="form-control"
                 ng-minlength="6"
                 ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).+$/"
                 placeholder="New Password"
                 required />
        </div>
        <div class="alert alert-danger fade in error-padding"
           ng-show="resetPassword.password.$touched && resetPassword.password.$invalid && !resetPassword.password.$error.minlength && !resetPassword.password.$error.pattern">
           Password is required.</div>
        <!-- Minimum Lenght Validation -->
        <div class="alert alert-danger fade in error-padding"
           ng-show="resetPassword.password.$touched && resetPassword.password.$invalid && resetPassword.password.$error.minlength">
           Password must be 6 characters long.</div>
         <!-- Alphanumeric Validation -->
        <div class="alert alert-danger fade in error-padding"
           ng-show="resetPassword.password.$touched && resetPassword.password.$error.pattern && !resetPassword.password.$error.minlength">
           Password must be alphanumeric.</div>

       <div class="input-group mb15">
         <span class="input-group-addon"><i class="fa fa-lock"></i></span>
         <input type="password"
                name="confirmpassword"
                ng-model="user.confirmPassword"
                class="form-control"
                ng-keyup="confirmPass()"
                placeholder="Confirm Password"
                required />
       </div>
       <div class="alert alert-danger fade in error-padding"
          ng-show="(resetPassword.confirmpassword.$touched && resetPassword.confirmpassword.$invalid) || confirmPassError">
          Password does not match</div>
        <!-- input-group -->
        <div class="clearfix row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success full-width">Submit<i class="fa fa-arrow-circle-o-right ml5"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- panel -->
</section>
