<div class="clearfix"></div>
<section>
  <div class="dashboard-wrapper">
    <style>
      .nav-tabs>li>a {
        color: #fff !important;
      }
      .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 100px;
        height: 100px;
      }
    </style>
    <div class="mainpanel">
      <div class="contentpanel">
        <div class="tabbable-panel">
          <div class="tabbable-line">
            <div class="row flex-display-md">
              <div class="side-view-mob" style="padding-right:0px;">
                <div align="center">
                  <ul class="nav nav-tabs">
                    <li class="active settings-tabs col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
                      <a href=".tab_default_4" data-toggle="tab">
                        <img src="img/myprofile.png" height="31" ;width="48" style="width: 47px;">
                        <span>My Profile</span> </a>
                    </li>
                    <li class="settings-tabs col-lg-12 col-sm-12 col-xs-12" style="padding:0px;" ng-click="walletInfo()">
                      <a href=".tab_default_5" data-toggle="tab">
                        <img src="img/walletaddress.png" height="31" ;width="48" style="width: 47px;">
                        <span>Wallet Address</span> </a>
                    </li>
                    <li class="settings-tabs col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
                      <a href=".tab_default_6" data-toggle="tab">
                        <img src="img/changepassword.png" height="31" ;width="48" style="width: 47px;">
                        <span>Change Password</span> </a>
                    </li>
                    <li class="settings-tabs col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
                      <a href=".tab_default_7" data-toggle="tab">
                        <img src="img/otpsettings.png" height="31" ;width="48" style="width: 47px;">
                        <span>OTP Settings</span> </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-11 col-sm-12" style="margin: 40px 0px 20px 80px;">
                <div class="tab-content" style="padding:20px 20px; float:left;">
                  <!-- User Info -->
                  <div class="tab-pane tab_default_4 active">
                    <h2 class="mb35-sm top-spacemob10"><i class="fa fa-user icon-lg-red border-round-red" aria-hidden="true"></i> <strong> Personal Information</strong></h2>
                    <hr />
                    <div class="row">
                      <div class="col-md-9">
                        <user-profile user-info="userInfo" update-profile="updateProfile(userInfo)" custom-class="custom-select" dial-code="dialCode"
                          parent-sponsor="parentSponsor" success-message="successMessage" error-message="errorMessage"></user-profile>
                      </div>
                      <div align="center" class="col-md-3 col-sm-3">
                        <div class="cropArea" ng-hide="changeImage">
                          <img-crop ng-hide="changeImage" image="myImage" result-image="userInfo.avatar" area-type="square" width="100" height="100"
                            class="img-circle" area-min-size="30"></img-crop>
                        </div>
                        <br />
                        <img ng-hide="!changeImage" ng-src="{{userInfo.avatar?userInfo.avatar:'img/users/logo-green.gif'}}" width="100" height="100"
                          class="img-circle" style="background:transparent" />
                        <h3 class="nomargin nopadding red-text02 mt10"><strong>{{userInfo.name}}</strong></h3><br />
                        <div class="fileUpload btn btn-primary yelo-btn btn-sm">
                          <i class="fa fa-edit icon-lg-sm" aria-hidden="true"></i>
                          <strong>Change Avatar</strong>
                          <input id="fileInput" type="file" class="upload" accept="image/*" />
                        </div>
                        <br />
                        <small>Note: Only images (i.e. PNG, GIF, JPG, JPEG) files are allowed</small>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane tab_default_5">
                    <h2 class="mb35-sm top-spacemob10">
                      <i class="fa fa-google-wallet icon-lg-red border-round-red" aria-hidden="true"></i>
                      <strong>Wallet Address</strong>
                    </h2>
                    <hr />
                    <div class="alert alert-success fade in" ng-if="successMessage">
                      <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></strong> {{successMessage}}
                    </div>
                    <div class="alert alert-danger fade in text-capitalize" ng-if="errorMessage">
                      <strong>{{errorMessage}}</strong>
                    </div>
                    <wallet-info class="col-xs-12 col-md-4 col-sm-6" wallet-data="walletData" wallet-type="NANO" update-wallet="updateWallet(wallet, address)"
                      success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                    <wallet-info class="col-xs-12 col-md-4 col-sm-6" wallet-data="walletData" wallet-type="ETH" update-wallet="updateWallet(wallet, address)"
                      success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                    <wallet-info class="col-xs-12 col-md-4 col-sm-6" wallet-data="walletData" wallet-type="COMMISSIONS" update-wallet="updateWallet(wallet, address)"
                      success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                  </div>

                  <div class="tab-pane tab_default_6">
                    <change-password change-user-password="changeUserPassword(user)" user-value="user" confirm-pass="confirmPass()" confirm-pass-error="confirmPassError"
                      success-message="successMessage" error-message="errorMessage"></change-password>
                  </div>

                  <div class="tab-pane tab_default_7">
                    <h2 class="mb35-sm top-spacemob10">
                      <i class="fa fa-key icon-lg-red border-round-red" aria-hidden="true"></i>
                      <strong>OTP Setting</strong>
                    </h2>
                    <hr />
                    <div id="loadingDiv" ng-if="loadingMessage"></div>
                    <table class="table table-striped table-bordered no-margin">
                      <thead>
                        <tr>
                          <td><strong></strong></td>
                          <td><strong>Status</strong></td>
                          <td><strong>Action</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Manage OTP Setting</td>
                          <td>
                            <h5>
                              <spanstyle="padding: 10px 20px;"><strong>{{otpStatus=='true'?'Enable':'Disable'}}</strong></span>
                            </h5>
                          </td>
                          <td><button type="button" class="btn" ng-class="(otpStatus=='true'?'btn-danger':'btn-success')" ng-click=changeStatus(otpStatus=='true'?'0':'1')>{{otpStatus=='true'?'Disable':'Enable'}}</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>