<div class="clearfix"></div>
<section>
<!--  <div class="dashboard-wrapper">
    &lt;!&ndash;<navigation class="no-print"></navigation>&ndash;&gt;

    </div>-->
  <div class="mainpanel">
    <!-- <coming-soon text-value="'Mining'"></coming-soon> -->
    <div class="contentpanel no-print">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content" style="padding:20px 20px; ">
            <div class="tab-pane tab_default_11" style="display: block">
              <div class="top-bar clearfix">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-title">
                      <h3>Wallet</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabbable-panel" style="min-height:800px;">
                <div class="tabbable-line">
                  <div class="tab-pane tab_default_7 active">
                    <!--<div class="row">
                      <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info ng-isolate-scope" wallet-data="walletData" wallet-type="ETH" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url">&lt;!&ndash; ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;<div class="cardWallet ng-scope" ng-repeat="info in walletData | filter:{'Wallet':walletType}" style="">
                        <div class="card card1">
                          &lt;!&ndash;<div class="topRow">3 Cards</div>&ndash;&gt;
                          <div class="topLeft"><img ng-src="img/eth.png" class="img-responsive" style="height: 50px;width: 50px;" src="img/eth.png"></div>
                          <div class="topRight ng-binding">Balance Ether</div>
                          <div class="bottomLeft ng-binding">0 ETH</div>
                          &lt;!&ndash; ngIf: info.Wallet === 'USD' &ndash;&gt;
                          <div class="centerElement">
                            <div class="ng-binding">Ether Wallet</div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered no-margin">
                            <tbody>
                            &lt;!&ndash; To show the Wallet Address &ndash;&gt;
                            &lt;!&ndash; ngIf: info.Wallet !== 'USD' && info.Wallet !== 'ACADEMY' &ndash;&gt;<tr ng-if="info.Wallet !== 'USD' &amp;&amp; info.Wallet !== 'ACADEMY'" class="ng-scope">
                              <td valign="middle" style="vertical-align:middle;"><strong class="red-text02">Wallet Address</strong></td>
                              <td>
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin:0px;" ng-model="info.Address" aria-invalid="false">
                              </td>
                              <td></td>
                            </tr>&lt;!&ndash; end ngIf: info.Wallet !== 'USD' && info.Wallet !== 'ACADEMY' &ndash;&gt;
                            &lt;!&ndash; Applicable to all wallets having the Fund Withdraw feature &ndash;&gt;
                            <tr>
                              &lt;!&ndash; ngIf: (info.Wallet == 'USD' || info.Wallet == 'ACADEMY') &ndash;&gt;
                              &lt;!&ndash; ngIf: type &&(info.Wallet !== 'USD' && info.Wallet !== 'ETH' && info.Wallet !== 'ACADEMY') &ndash;&gt;
                              &lt;!&ndash; ngIf: type && info.Wallet === 'ETH' &ndash;&gt;<td align="center" valign="middle" colspan="3" ng-if="type &amp;&amp; info.Wallet === 'ETH'" class="ng-scope">
                              <a data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">Withdraw</a>
                              <a data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'convertUSD', info.Wallet)">Convert to USD</a>
                            </td>&lt;!&ndash; end ngIf: type && info.Wallet === 'ETH' &ndash;&gt;
                            </tr>
                            &lt;!&ndash; Internal Transfer option for USD Wallet &ndash;&gt;
                            &lt;!&ndash; ngIf: type && info.Wallet === 'USD' &ndash;&gt;
                            &lt;!&ndash; Internal Transfer option for Academy Wallet &ndash;&gt;
                            &lt;!&ndash; ngIf: info.Wallet === 'ACADEMY' &ndash;&gt;
                            &lt;!&ndash; ngIf: !type && info.Wallet !== 'ACADEMY' &ndash;&gt;
                            </tbody>
                          </table>
                        </div>
                      </div>&lt;!&ndash; end ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;</wallet-info>
                      <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info ng-isolate-scope" wallet-data="walletData" wallet-type="USD" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url">&lt;!&ndash; ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;<div class="cardWallet ng-scope" ng-repeat="info in walletData | filter:{'Wallet':walletType}" style="">
                        <div class="card card1">
                          &lt;!&ndash;<div class="topRow">3 Cards</div>&ndash;&gt;
                          <div class="topLeft"><img ng-src="img/usd.png" class="img-responsive" style="height: 50px;width: 50px;" src="img/usd.png"></div>
                          <div class="topRight ng-binding">Balance </div>
                          <div class="bottomLeft ng-binding">0 USD</div>
                          &lt;!&ndash; ngIf: info.Wallet === 'USD' &ndash;&gt;<div class="bottomRight ng-binding ng-scope" ng-if="info.Wallet === 'USD'">$0.00<span class="glyphicon glyphicon-phone"></span></div>&lt;!&ndash; end ngIf: info.Wallet === 'USD' &ndash;&gt;
                          <div class="centerElement">
                            <div class="ng-binding">USD Wallet</div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered no-margin">
                            <tbody>
                            &lt;!&ndash; To show the Wallet Address &ndash;&gt;
                            &lt;!&ndash; ngIf: info.Wallet !== 'USD' && info.Wallet !== 'ACADEMY' &ndash;&gt;
                            &lt;!&ndash; Applicable to all wallets having the Fund Withdraw feature &ndash;&gt;
                            <tr>
                              &lt;!&ndash; ngIf: (info.Wallet == 'USD' || info.Wallet == 'ACADEMY') &ndash;&gt;<td align="center" valign="middle" colspan="3" ng-if="(info.Wallet == 'USD' || info.Wallet == 'ACADEMY')" class="ng-scope">
                              <form name="fund" class="form-inline ng-pristine ng-invalid ng-invalid-required" ng-submit="submit(amount)" novalidate="">
                                <div class="col-xs-8 col-sm-8 col-md-8 text-left fund-section">
                                  <div class="col-xs-12 col-sm-12 col-md-12 input-group fund-box">
                                    <span class="input-group-addon ng-binding">$</span>
                                    <input type="number" name="amount" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="amount" ng-change="checkAmount(amount)" required="" aria-invalid="true">
                                  </div>
                                  <div class="alert alert-danger fade in error-padding text-center ng-hide" ng-show="fund.amount.$touched &amp;&amp; fund.amount.$invalid" aria-hidden="true">
                                    Please enter any amount
                                  </div>
                                  &lt;!&ndash; ngIf: amountError &ndash;&gt;
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 text-left fund-button">
                                  &lt;!&ndash; ngIf: info.Wallet == 'USD' &ndash;&gt;<button ng-if="info.Wallet == 'USD'" type="submit" data-toggle="modal" data-target="#add-funds" class="btn btn-cardWallet ng-scope" ng-disabled="fund.$invalid || amountError" disabled="disabled">Add Funds</button>&lt;!&ndash; end ngIf: info.Wallet == 'USD' &ndash;&gt;
                                  &lt;!&ndash; ngIf: info.Wallet == 'ACADEMY' &ndash;&gt;
                                </div>
                              </form>
                            </td>&lt;!&ndash; end ngIf: (info.Wallet == 'USD' || info.Wallet == 'ACADEMY') &ndash;&gt;
                              &lt;!&ndash; ngIf: type &&(info.Wallet !== 'USD' && info.Wallet !== 'ETH' && info.Wallet !== 'ACADEMY') &ndash;&gt;
                              &lt;!&ndash; ngIf: type && info.Wallet === 'ETH' &ndash;&gt;
                            </tr>
                            &lt;!&ndash; Internal Transfer option for USD Wallet &ndash;&gt;
                            &lt;!&ndash; ngIf: type && info.Wallet === 'USD' &ndash;&gt;<tr ng-if="type &amp;&amp; info.Wallet === 'USD'" class="ng-scope">
                              <td align="center" valign="middle" colspan="3">
                                <a data-toggle="modal" data-target="#btc-wallet" class="btn btn-cardWallet" ng-click="getWallet(info, 'withdrawal', info.Wallet)">
                                  Withdraw</a>
                                <a data-toggle="modal" data-target="#internal-transfer" class="btn btn-cardWallet">Internal Transfer</a>
                              </td>
                            </tr>&lt;!&ndash; end ngIf: type && info.Wallet === 'USD' &ndash;&gt;
                            &lt;!&ndash; Internal Transfer option for Academy Wallet &ndash;&gt;
                            &lt;!&ndash; ngIf: info.Wallet === 'ACADEMY' &ndash;&gt;
                            &lt;!&ndash; ngIf: !type && info.Wallet !== 'ACADEMY' &ndash;&gt;
                            </tbody>
                          </table>
                        </div>
                      </div>&lt;!&ndash; end ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;</wallet-info>
                      <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info ng-isolate-scope" wallet-data="walletData" wallet-type="NANO" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url">&lt;!&ndash; ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;</wallet-info>
                      <br>
                      <br>
                      <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info ng-isolate-scope" wallet-data="walletData" wallet-type="COMMISSIONS" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url">&lt;!&ndash; ngRepeat: info in walletData | filter:{'Wallet':walletType} &ndash;&gt;</wallet-info>
                    </div>-->
                    <div class="row wallets-list">
                      <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="ETH" success-message="successMessage"
                                   error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                                   s3-url="s3Url"></wallet-info>
                      <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="USD" success-message="successMessage"
                                   error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                                   s3-url="s3Url"></wallet-info>
                      <wallet-info class="wallet-info" wallet-data="walletData" wallet-type="NANO" success-message="successMessage"
                                   error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal"
                                   s3-url="s3Url">
                      </wallet-info>
                      <wallet-info class="col-md-4 col-sm-6 col-xs-12 wallet-info mock-none" wallet-data="walletData" wallet-type="COMMISSIONS" success-message="successMessage"
                                   error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                    </div>


                    <div class="transaction-info">
                      <!--<tbody>
                      <tr ng-repeat="transaction in transactionData">
                      <td>{{$index+1}}</td>
                      <td>{{transaction.Date}}</td>
                      <td>{{transaction.userid}}</td>
                      <td>{{transaction.Amount | currency }}</td>
                      <td>{{transaction.transaction_number?transaction.transaction_number:'-'}}
                      </td>
                      <td>{{transaction.invoice_number}} </td>
                      <td>{{transaction.Description}} </td>
                      <td>{{transaction.payment_status?transaction.payment_status:'Not Paid'}}
                      </td>
                      </tr>
                      </tbody>
                      <img src="../img/transaction.jpg" class="no-transaction-img">
                      <h3 class="no-transaction-title">No transactions</h3>-->
                    </div>

                    <div class="page-title" style="margin-top:10px">
                      <h4>Latest Transaction and Withdrawal</h4>
                    </div>
                    <br>
                    <div class="table-responsive transaction">
                      <table class="table table-striped table-bordered no-margin">
                        <thead>
                        <tr>
                          <th width="4%"><strong>#</strong></th>
                          <th width="8%"><strong>Date</strong></th>
                          <th width="12%"><strong>User ID</strong> </th>
                          <th width="10%"><strong>Transaction</strong> </th>
                          <th><strong>Transaction No</strong> </th>
                          <th><strong>Invoice No</strong> </th>
                          <th><strong>Description</strong></th>
                          <th width="8%"><strong>Status</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ngRepeat: transaction in transactionData --><tr ng-repeat="transaction in transactionData" class="ng-scope" style="">
                          <td class="ng-binding">{{$index+1}}</td>
                          <td class="ng-binding">{{transaction.Date}}</td>
                          <td class="ng-binding">{{transaction.userid}}</td>
                          <td class="ng-binding">${{transaction.Amount}}</td>
                          <td class="ng-binding">{{transaction.transaction_number ? transaction.transaction_number : '-'}}
                          </td>
                          <td class="ng-binding">{{transaction.invoice_number}}</td>
                          <td class="ng-binding">{{transaction.Description}}</td>
                          <td class="ng-binding">Not
                            Paid
                          </td>
                        </tr><!-- end ngRepeat: transaction in transactionData <tr ng-repeat="transaction in transactionData" class="ng-scope">
                          <td class="ng-binding">{{$index}}</td>
                          <td class="ng-binding">{{transaction.Date}}</td>
                          <td class="ng-binding">{{transaction.userid}}</td>
                          <td class="ng-binding">${{transaction.Amount}}</td>
                          <td class="ng-binding">{{transaction.transaction_number ? transaction.transaction_number : '-'}}
                          </td>
                          <td class="ng-binding">{{transaction.invoice_number}}</td>
                          <td class="ng-binding">{{transaction.Description}}</td>
                          <td class="ng-binding">Not
                            Paid
                          </td>
                        </tr> end ngRepeat: transaction in transactionData -->
                        </tbody>
                      </table>
                      <div class="pagination-default">
                        <ul class="pagination pagination-metro nomargin mt10 ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" uib-pagination="" items-per-page="pagination.perpage" boundary-links="true" total-items="totalTransactions" ng-model="currentPage" max-size="5" ng-change="getTransctions(currentPage, pagination.perpage)" role="menu" aria-invalid="false"><!-- ngIf: ::boundaryLinks --><li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first ng-scope disabled"><a href="" ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle="" class="ng-binding" disabled="disabled" tabindex="-1">First</a></li><!-- end ngIf: ::boundaryLinks -->
                          <!-- ngIf: ::directionLinks --><li role="menuitem" ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev ng-scope disabled"><a href="" ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle="" class="ng-binding" disabled="disabled" tabindex="-1">Previous</a></li><!-- end ngIf: ::directionLinks -->
                          <!-- ngRepeat: page in pages track by $index --><li role="menuitem" ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&amp;&amp;!page.active}" class="pagination-page ng-scope active"><a href="" ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&amp;&amp;!page.active" uib-tabindex-toggle="" class="ng-binding">1</a></li><!-- end ngRepeat: page in pages track by $index -->
                          <!-- ngIf: ::directionLinks --><li role="menuitem" ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next ng-scope disabled"><a href="" ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle="" class="ng-binding" disabled="disabled" tabindex="-1">Next</a></li><!-- end ngIf: ::directionLinks -->
                          <!-- ngIf: ::boundaryLinks --><li role="menuitem" ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last ng-scope disabled"><a href="" ng-click="selectPage(totalPages, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle="" class="ng-binding" disabled="disabled" tabindex="-1">Last</a></li><!-- end ngIf: ::boundaryLinks -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <!-- ngIf: withdrawalHeading && !responseSuccess -->
            <!-- ngIf: responseSuccess && !convertSuccess && !convertError -->
            <!-- ngIf: convertUSDHeading -->
          </div>
          <div class="modal-body">
            <!-- ngIf: withdrawalSuccess -->
            <!-- ngIf: convertSuccess -->
            <!-- Withdrawal Error-->
            <!-- ngIf: withdrawalError || convertError -->
            <br>
            <!-- ngIf: loadingData -->
            <!-- ngIf: withdrawalInfo && !withdrawalSuccess && !withdrawalError -->
            <!-- ngIf: !convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo --><form name="withdrawal" class="form-inline ng-pristine ng-scope ng-valid-min ng-invalid ng-invalid-required" ng-submit="verifyAndSubmit(walletType, walletAmount, walletName)" ng-if="!convertSuccess &amp;&amp; ! withdrawalSuccess &amp;&amp; !withdrawalError &amp;&amp; !convertError &amp;&amp; !withdrawalInfo" novalidate="">
            <div class="form-group">
              <label>
                <strong class="ng-binding">No Of  you want to Convert</strong>
              </label>
              <input type="number" name="walletAmount" min="0" ng-model="walletAmount" class="form-control ng-pristine ng-untouched ng-empty ng-valid-min ng-invalid ng-invalid-required" style="width:80%;" required="" aria-invalid="true">
              <!-- ngIf: walletName === 'BTC' -->
              <!-- ngIf: walletName === 'ETH' -->
              <!-- ngIf: walletName === 'DASH' -->
              <!-- ngIf: walletName === 'MONERO' -->
              <!-- ngIf: walletName === 'VIA' -->
              <button type="submit" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" ng-disabled="withdrawal.$invalid" disabled="disabled">OK</button>
              <div class="alert alert-danger fade in error-padding ng-hide" ng-show="withdrawal.walletAmount.$touched &amp;&amp; withdrawal.walletAmount.$invalid" style="width:80%;" aria-hidden="true">
                Please enter any amount
              </div>
              <!-- ngIf: withdrawalAmountError -->
            </div>
          </form><!-- end ngIf: !convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo -->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="https://users.nanopool.io/img/eth.png" width="35" class="pull-left img-responsive " src="https://users.nanopool.io/img/eth.png"> <strong>&nbsp;Ether Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <div class="form-group">
                <label><strong>No Of Ether you want to Withdraw</strong></label>
                <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;">
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="https://users.nanopool.io/img/usd-wallet.png" width="35" class="pull-left img-responsive " src="https://users.nanopool.io/img/usd-wallet.png"> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <div class="form-group">
                <label><strong>Withdraw USD Dollar</strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" class="form-control" style="margin-top:10px;">
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <!-- ngIf: loadingData -->
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-keyup="verifyUserId(userId)" aria-invalid="false">
                <!-- ngIf: verifiedStatus -->
                <!-- ngIf: verifiedUserId --><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-disabled="verifiedStatus===false" disabled="disabled" aria-invalid="false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false" ng-click="transferFund(transferAmount, userId)" disabled="disabled">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline ng-pristine ng-valid">
              <!-- ngIf: loadingData -->
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-keyup="verifyUserId(userId)" aria-invalid="false">
                <!-- ngIf: verifiedStatus -->
                <!-- ngIf: verifiedUserId --><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top:0px;" ng-disabled="verifiedStatus===false" disabled="disabled" aria-invalid="false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false" ng-click="transferAcademyFund(transferAmount, userId)" disabled="disabled">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive " src="img/usd-wallet.png"> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <!-- ngIf: loadingData -->
          <div class="modal-body">
            <form class="ng-pristine ng-valid">
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked="">&nbsp;&nbsp;<img ng-src="https://users.nanopool.io/img/bitcoin-logo.png" width="200" src="https://users.nanopool.io/img/bitcoin-logo.png"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-funds-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive " src="img/usd-wallet.png"> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <!-- ngIf: loadingData -->
          <div class="modal-body">
            <form class="ng-pristine ng-valid">
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked="">&nbsp;&nbsp;<img ng-src="https://users.nanopool.io/img/bitcoin-logo.png" width="200" src="https://users.nanopool.io/img/bitcoin-logo.png"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addAcademyFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <!-- Transaction Details -->
    <!-- <div class="modal fade in" id="add-funds1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
             <form>
                <h4>Transaction Funding</h4>
                <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
                <div class="row">
                   <div class="col-md-12 col-sm-12" style="font-size:14px; text-align:justify;">
                      <h4 class="no-margin no-padding">Invoice Number : #3987981279379</h4>
                      <h3><strong>Add Funds : $200</strong></h3>
                      <h4 class="add-funds-popup">You have to Pay <strong>3213.90 BTC </strong> </h4>
                      <br><img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=XXXXXXXXXXXXXXX" class="pull-right" width="100">
                      <strong>Date :</strong> 12/12/2016<br><br>
                      <strong class="bit-address">Bitcoin Address :
                      sdkjfhkh3274923849238432dsjfhsdj</strong><br>
                      <br><br>
                      <br>
                      <small class="red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
                      <br>
                      <span><strong>Thank You,</strong><br>
                      Team nanopool<br>
                      <img ng-src="img/logo-nanopool.png" width="60"></span>
                   </div>
                </div>
             </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Add Funds</button>
          </div>
       </div>
    </div>
 </div> -->
    <!-- Transaction Details -->
    <!-- contentpanel -->
    <style>
      .nav-tabs>li>a {
        padding: 14px 45px !important;
        color: #fff !important;
      }
    </style>

    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel" ng-if="withdrawalHeading && !responseSuccess">
              <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " />
              <strong>&nbsp;{{walletName}} Wallet</strong>
            </h4>
            <h4 class="modal-title" id="myModalLabel" ng-if="responseSuccess && !convertSuccess && !convertError">
              <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " />
              <strong>&nbsp;Withdrawal</strong>
            </h4>
            <h4 class="modal-title" id="myModalLabel" ng-if="convertUSDHeading">
              <img ng-src="{{s3Url}}{{btcImage?'btc':'dollar'}}.png" width="35" class="pull-left img-responsive ">
              <strong>&nbsp;{{convertUSDName}} ({{walletName}} Wallet)</strong>
            </h4>
          </div>
          <div class="modal-body">
            <h4 ng-if="withdrawalSuccess"><strong>Congratulations !!!</strong> You have Successfully Withdrawal. </h4>
            <h4 ng-if="convertSuccess"><strong>Congratulations !!!</strong> You have Successfully Converted your {{walletName}} Coins.
            </h4>
            <!-- Withdrawal Error-->
            <h4 ng-if="withdrawalError || convertError">{{errorMessage}}</h4>
            <br />
            <div class="ajax_loader" ng-if="loadingData"></div>
            <div ng-if="withdrawalInfo && !withdrawalSuccess && !withdrawalError">
              <div class="col-xs-8 col-sm-8 col-md-8">
                <h4><strong>Request Amount :
                  {{requestAmount}}</strong>
                </h4>
              </div>
              <div class="col-xs-8 <col-sm-8></col-sm-8> col-md-8">
                <h4><strong>Network Fees :
                  {{fees}}</strong>
                </h4>
              </div>
              <h4 class="add-funds-popup">Withdraw Amount <strong class="ng-binding">{{withdrawalAmount | number:6}} </strong> </h4>
              <br />
              <div class="mt10">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="walletActivity(requestAmount, walletName, walletType)">Confirm</button>
              </div>
            </div>
            <form name="withdrawal" class="form-inline" ng-submit="verifyAndSubmit(walletType, walletAmount, walletName)" ng-if="!convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError && !withdrawalInfo"
                  novalidate>
              <div class="form-group">
                <label>
                  <strong>No Of {{walletName}} you want to {{withdrawalHeading?'Withdraw':'Convert'}}</strong>
                </label>
                <input type="number" name="walletAmount" min="0" ng-model="walletAmount" class="form-control" style="width:80%;" required
                />
                <small class="col-md-12 red-text02" ng-if="walletName === 'BTC'">Note : Minimum balance should be 0.0005 BTC</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'ETH'">Note : Minimum balance should be 0.05 ETH</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'DASH'">Note : Minimum balance should be 0.05 DASH</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'MONERO'">Note : Minimum balance should be 0.05 MONERO</small>
                <small class="col-md-12 red-text02" ng-if="walletName === 'VIA'">Note : Minimum balance should be 0.05 VIA</small>
                <button type="submit" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" ng-disabled="withdrawal.$invalid">OK</button>
                <div class="alert alert-danger fade in error-padding" ng-show="withdrawal.walletAmount.$touched && withdrawal.walletAmount.$invalid"
                     style="width:80%;">
                  Please enter any amount
                </div>
                <div class="alert alert-danger fade in error-padding" ng-if="withdrawalAmountError" style="width:80%;">
                  Please enter sufficient amount to withdraw
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}eth.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;Ether Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label><strong>No Of Ether you want to Withdraw</strong></label>
                <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;" />
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}usd-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group">
                <label><strong>Withdraw USD Dollar</strong></label><br />
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" class="form-control" style="margin-top:10px;" />
                <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="ajax_loader" ng-if="loadingData"></div>
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control" style="margin-top:0px;" ng-keyup="verifyUserId(userId)">
                <i class="fa fa-check" ng-if="verifiedStatus" style="color:#0C0; font-size:30px;"></i>
                <i class="fa fa-times" ng-if="verifiedUserId" style="color:red; font-size:30px;"></i><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control" style="margin-top:0px;" ng-disabled="verifiedStatus===false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false"
                          ng-click="transferFund(transferAmount, userId)">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internal-transfer-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <!--<img ng-src="img/transfer-funds.png" width="35" class="pull-left img-responsive ">-->
              <strong>&nbsp;Internal Transfer</strong></h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="ajax_loader" ng-if="loadingData"></div>
              <div class="form-group">
                <label><strong>User ID </strong></label><br>
                <input type="text" name="user-id" ng-model="userId" class="form-control" style="margin-top:0px;" ng-keyup="verifyUserId(userId)">
                <i class="fa fa-check" ng-if="verifiedStatus" style="color:#0C0; font-size:30px;"></i>
                <i class="fa fa-times" ng-if="verifiedUserId" style="color:red; font-size:30px;"></i><br>
                <label class="mar10"><strong>Transfer USD Dollar </strong></label><br>
                <b style="font-size:25px; ">$</b>
                <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control" style="margin-top:0px;" ng-disabled="verifiedStatus===false"><br>
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false"
                          ng-click="transferAcademyFund(transferAmount, userId)">Send</button>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "><!-- <strong>&nbsp;Add Funds</strong>--></h4>
          </div>
          <div id="loadingDiv" ng-if="loadingData"></div>
          <div class="modal-body">
            <form>
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png"
                                                                                                                                        width="200"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="add-funds-academy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;Add Funds</strong></h4>
          </div>
          <div id="loadingDiv" ng-if="loadingData"></div>
          <div class="modal-body">
            <form>
              <strong>Choose Your Payment Method</strong>
              <div class="row mar20">
                <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png"
                                                                                                                                        width="200"></div>
              </div>
            </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="addAcademyFund(addAmount)" ng-disabled="amountError">Add Funds</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Funds -->
    <!-- Transaction Details -->
    <!-- <div class="modal fade in" id="add-funds1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             <h4 class="modal-title" id="myModalLabel"><img ng-src="img/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;USD Wallet</strong></h4>
          </div>
          <div class="modal-body">
             <form>
                <h4>Transaction Funding</h4>
                <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
                <div class="row">
                   <div class="col-md-12 col-sm-12" style="font-size:14px; text-align:justify;">
                      <h4 class="no-margin no-padding">Invoice Number : #3987981279379</h4>
                      <h3><strong>Add Funds : $200</strong></h3>
                      <h4 class="add-funds-popup">You have to Pay <strong>3213.90 BTC </strong> </h4>
                      <br><img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=XXXXXXXXXXXXXXX" class="pull-right" width="100">
                      <strong>Date :</strong> 12/12/2016<br><br>
                      <strong class="bit-address">Bitcoin Address :
                      sdkjfhkh3274923849238432dsjfhsdj</strong><br>
                      <br><br>
                      <br>
                      <small class="red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
                      <br>
                      <span><strong>Thank You,</strong><br>
                      Team nanopool<br>
                      <img ng-src="img/logo-nanopool.png" width="60"></span>
                   </div>
                </div>
             </form>
          </div>
          <br>
          <br>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Add Funds</button>
          </div>
       </div>
    </div>
 </div> -->
    <!-- Transaction Details -->
    <!-- contentpanel -->
  </div>

  <!-- mainwrapper -->
</section>
