<header>
  <!-- Logo starts -->
  <a href="#/dashboard" class="logo">
				<img src="img/logo-nanopool.png" alt="Nanopool" />
			</a>
  <!-- Logo ends -->

  <!-- Header actions starts -->
  <ul id="header-actions" class="clearfix">
    <li class="list-box user-admin dropdown">
      <div class="admin-details">
        <div class="name">Welcome</div>
        <div class="designation">{{name}}</div>
         <div class="designation"><img ng-src="img/flags/{{allCountryCodes[country] | lowercase}}.png" alt="{{country}}" /> {{country}}</div>
      </div>
      <a id="drop4" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<img ng-src="{{userInfo.avatar?userInfo.avatar:'img/users/logo-green.gif'}}" alt="{{name}}" width="60" height="60" class="img-circle"/>
					</a>
      <ul class="dropdown-menu sm">
        <li class="dropdown-content">
          <a href="#/setting">Settings</a>
          <a ng-click="logout()">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  <!--<ul id="header-actions" class="clearfix">
    <li class="list-box user-admin dropdown">
      <div class="admin-details">
        <div class="name">{{name}}</div>
        <div class="designation">{{userRole}}</div>
      </div>
      <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-account_circle"></i>
					</a>
      <ul class="dropdown-menu sm">
        <li class="dropdown-content">
          <a href="#/dashboard">Edit Profile</a>
          <a href="#/dashboard">Change Password</a>
          <a href="#/dashboard">Settings</a>
          <a href="#/login">Logout</a>
        </li>
      </ul>
    </li>
  </ul>-->
  <!-- Header actions ends -->

  <!--<div class="custom-search hidden-sm hidden-xs">
    <input type="text" class="search-query" placeholder="Search here ...">
    <i class="icon-search3"></i>
  </div>-->
</header>
<!-- Header ends -->

<!-- Navbar starts -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/dashboard" id="default" ng-class="(activeMenu==='dashboard'?'highlite':'')" ng-click="getClass('dashboard'); closeMenu()">
          <img src="img/icons-1/dashboard.png" style="margin-left:8px;" height="31";width="48"> <br />
          Cockpit</a>
        </li>
        <li>
          <a href="#/referral-link" ng-click="getClass('referral-link');closeMenu()" ng-class="(activeMenu==='referral-link'?'highlite':'')">
             <img src="img/icons-1/link.png" style="margin-left: 18px;" height="31";width="48"> <br />Share Link</a>
          <!--<ul class="dropdown-menu">
            <li>
              <a href='#/dashboard'>Tasks</a>
            </li>
            <li>
              <a href='#/dashboard'>Cards</a>
            </li>
            <li>
              <a href='/dashboard'>Users</a>
            </li>
            <li>
              <a href='/dashboard'>Projects</a>
            </li>
          </ul>-->
        </li>
        <li>
          <a href='#/promote-nanopool' ng-click="getClass('promote-nanopool'); closeMenu()" ng-class="(activeMenu==='promote-nanopool'?'highlite':'')">
           <img src="img/icons-1/promotion.png" style="margin-left: 32px;" height="31";width="48"> <br />
           Share Nanopool</a>
        </li>
        <li>
          <a href="#/networks" ng-click="getClass('networks'); closeMenu()" ng-class="(activeMenu==='networks'?'highlite':'')">
          <img src="img/icons-1/network.png" style="margin-left: 16px;" height="31";width="48"> <br />
          Networks</a>
        </li>
        <li>
          <a href="#/products" ng-click="getClass('products'); closeMenu()" ng-class="(activeMenu==='products'?'highlite':'')">
           <img src="img/icons-1/buy.png" style="margin-left: 12px;" height="31";width="48"> <br />
           Products</a>
        </li>
        <li>
          <a href="#/wallet" ng-click="getClass('wallet'); closeMenu()" ng-class="(activeMenu==='wallet'?'highlite':'')">
           <img src="img/icons-1/walletmainmenu.png" style="margin-left: 6px;" height="31";width="48"> <br />
           Wallets</a>
        </li>
        <li>
          <a href="#/setting" ng-click="getClass('setting'); closeMenu()" ng-class="(activeMenu==='setting'?'highlite':'')">
           <img src="img/icons-1/setting.png" style="margin-left: 10px;" height="31";width="48"> <br />
           Settings </a>
        </li>
        <li class="parent">
          <a href="#/support" ng-click="getClass('support'); closeMenu()" ng-class="(activeMenu==='support'?'highlite':'')">
           <img src="img/icons-1/support.png" style="margin-left: 10px;" height="31";width="48"> <br />
           Support</a>
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-business_center"></i> Networks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="calendar.html">Calendar</a>
            </li>
            <li>
              <a href='profile.html'>Profile</a>
            </li>
            <li>
              <a href='blog.html'>Blog</a>
            </li>
            <li>
              <a href='invoice.html'>Invoice</a>
            </li>
            <li>
              <a href='timeline.html'>Timeline</a>
            </li>
            <li>
              <a href="pricing.html">Pricing</a>
            </li>
            <li>
              <a href="gallery.html">Gallery</a>
            </li>
            <li>
              <a href='default.html'>Default Layout</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-terrain"></i> Buy Contracts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href='c3-graphs.html'>C3 Graphs</a>
            </li>
            <li>
              <a href='small-graphs.html'>Small Graphs</a>
            </li>
            <li>
              <a href='maps.html'>Vector Maps</a>
            </li>
            <li>
              <a href='flot.html'>Flot</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-subtitles"></i>Wallets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href='styled-inputs.html'>Styled Inputs</a>
            </li>
            <li>
              <a href='check-radio.html'>Check &amp; Radios</a>
            </li>
            <li>
              <a href='form-inputs.html'>Form Inputs</a>
            </li>
            <li>
              <a href='editor.html'>WYSIWYG Editor</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-palette2"></i>Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href='components.html'>Components</a>
            </li>
            <li>
              <a href='progressbars.html'>Progress Bars</a>
            </li>
            <li>
              <a href='notifications.html'>Notifications</a>
            </li>
            <li>
              <a href='buttons.html'>Buttons</a>
            </li>
            <li>
              <a href='custom-drag.html'>Drag &amp; Drop Panels</a>
            </li>
            <li>
              <a href='custom-panels.html'>Custom Panels</a>
            </li>
            <li>
              <a href='custom-grid.html'>Custom Grid</a>
            </li>
            <li>
              <a href='icons.html'>Icons</a>
            </li>
            <li>
              <a href='typography.html'>Typography</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-view_week"></i>Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href='tables.html'>Tables</a>
            </li>
            <li>
              <a href="data-tables.html">Data Tables</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-add_alert"></i>Error <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href='login.html'>Login</a>
            </li>
            <li>
              <a href='signup.html'>SignUp</a>
            </li>
            <li>
              <a href='forgot-pwd.html'>Forgot Password</a>
            </li>
            <li>
              <a href='error.html'>Page not Found</a>
            </li>
            <li>
              <a href='coming-soon.html'>Coming Soon</a>
            </li>
            <li>
              <a href="maintenance.html">Maintenance</a>
            </li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<div class="clearfix"></div>
