<style>
   .textpop01{
   font-family: 'Antic Slab', serif; color:#FC0; font-size:50px;}
   .textpop02{
   font-family: 'Pavanam', sans-serif; text-align:justify;
   color:#f2f2f2; font-size:16px; padding:5px 20px 20px; background: rgba(6, 43, 103, .8);  border-radius:0px  50px 50px 0px; margin-right:100px; border-bottom:5px solid #FC0;
   }
   .textpop03{
   font-family: 'Pavanam', sans-serif; text-align:justify;
   color:#f2f2f2; font-size:16px; padding:5px 40px 20px; background: rgba(20, 71, 157, .8); border-radius:50px 0px 0px 50px; margin-left:100px; border-bottom:5px solid #FC0;
   }
   .textpop03 strong{ font-size:40px;}
   .textpop03 span{ font-size:16px; font-weight:bold;}
   .textpop02 strong{ font-size:40px;}
   .block-pop01{ background:#fff; padding:10px; font-size:12px; margin:5px 20px; background: rgba(255, 255, 255, .8); height:310px; border-radius:5px;}
   .img-bor-pop{ width:90px;}
   .yeloow-txt{ color: #F90 !important;}
   .block-pop01 img{ padding:5px; background:#fff; border:1px solid #ccc;}
   @media screen and (max-width: 767px) {
     .modal-text-mbl strong{
       font-size:30px;
     }
     .modal-text-mbl{
         font-size:13px;
         margin-right:10px;
         margin-left:10px;
     }
     .modal-text-block-mbl{
         font-size:9px;
     }
     .modal-row-mbl{
         margin-left: 4px !important;
         margin-right: 4px !important;
     }
   }
   .modal-btn{
      font-size:36px;
      margin-top:-20px !important;
      opacity: 0.7;
      color:#000;
   }
</style>
<div class="leftpanel left-navigation" id="bs-example-navbar-collapse-1">
   <div class="media profile-left">
      <div class="media-body lft-menu">
         <a class="pull-left profile-thumb" href="#/setting">
         <img class="img-circle" ng-src="{{userInfo.avatar?userInfo.avatar:'img/users/logo-green.gif'}}" alt="">
         </a><br />
         <h4 class="media-heading">{{name}}</h4>
         <a class="logout" href="" ng-click="logout()"> <span class="label label-danger"><i class="fa fa-lock"></i> <strong>Logout</strong></span></a>
      </div>
   </div>
   <!-- media -->
   <nav id="nav">
      <ul class="nav nav-pills nav-stacked" id="menu-content">
         <li><a data-toggle="modal" data-target=".bs-example-modal-lg" ng-class="(activeMenu==='btccoin'?'highlite':'')">
            <img ng-src="img/btccoin.png" width="100%" style="padding:5px;">
            </a>
         </li>
         <li><a href="#/reward" ng-class="(activeMenu==='reward'?'highlite':'')">
            <img ng-src="img/reward-icon.png" width="100%" style="padding:5px;">
            </a>
         </li>
         <li ><a href="#/dashboard" id="default" ng-class="(activeMenu==='dashboard'?'highlite':'')"><i class="fa fa-home lg-i"></i> <br />
            <span>Dashboard</span></a>
         </li>
         <li ><a href="#/referral-link" ng-class="(activeMenu==='referral-link'?'highlite':'')"><i class="fa fa-chain lg-i" aria-hidden="true"></i>
            <br />
            <span>My Referral Links</span></a>
         </li>
         <li ><a href='#/promote-nanopool' ng-class="(activeMenu==='promote-nanopool'?'highlite':'')"><i class="fa fa-bullhorn lg-i" aria-hidden="true"></i>
            <br />
            <span>Promote nanopool</span></a>
         </li>
         <!-- <li ><a href="#/payouts" onclick="highlite(this);"><i class="fa fa-list lg-i" aria-hidden="true"></i>
            <br />
            <span>Payouts</span></a>
            </li>
            <li ><a href="#/business-plan" onclick="highlite(this);"><i class="fa fa-edit lg-i"></i><br />
            <span>Business Plan</span></a>
            </li> -->
         <li ><a href="#/networks" ng-class="(activeMenu==='networks'?'highlite':'')"><i class="fa fa-sitemap lg-i" aria-hidden="true"></i>
            <br />
            <span>Networks</span></a>
         </li>
         <li ><a href="#/mining" ng-class="(activeMenu==='mining'?'highlite':'')"><i class="fa fa-line-chart lg-i"></i><br />
            <span>Mining</span></a>
         </li>
         <!-- <li><a href="#my-account" onclick="highlite(this);"><i class="fa fa-user lg-i" style="margin-right:5px;"></i> <br />
            <span>My Account</span></a>
            </li> -->
         <li><a href="#/wallet" ng-class="(activeMenu==='wallet'?'highlite':'')"><i class="fa fa-google-wallet lg-i" aria-hidden="true"></i>
            <br>
            <span>Wallets</span></a>
         </li>
         <li ><a href="#/setting" ng-class="(activeMenu==='setting'?'highlite':'')"><i class="fa fa-cog lg-i" aria-hidden="true"></i> <br />
            <span>Settings</span></a>
         </li>
         <li class="parent">
            <a href="#/support" ng-class="(activeMenu==='support'?'highlite':'')"><i class="fa fa-phone lg-i"></i><br /><span>Support</span></a>
         </li>
         <li data-toggle="collapse" data-target=".banlinks" class="parent">
            <a href=""><img src="img/icon0letf.png" width="100%" style="border:1px solid #fff; padding:5px;"></a>
            <ul class="sub-menu banlinks collapse" style="text-align: left; margin-left: -30px; margin-top: 10px; padding-right: 10px; height: 0px;" aria-expanded="false">
               <li style="word-break:break-all;margin-bottom:10px;"><a class="left-menu-link" target="_blank" href="https://www.humaneyeballs.com/nanopool/" title="https://www.humaneyeballs.com/nanopool">Human <br>
                  Eye<br>
                  Balls</a>
               </li>
               <li style="word-break:break-all; border-top:1px solid #fff">
                  <a target="_blank" href="http://www.riskfreenanopoolleads.com" title="http://www.riskfreenanopoolleads.com" class="left-menu-link" style="top:10px">
                  Risk <br>
                  Free <br>
                  Leads</a>
               </li>
            </ul>
         </li>
         <!-- <li class="parent">
            <a href="https://www.humaneyeballs.com/nanopool/" target="_blank" onclick="highlite(this);"><img src="img/icon0letf.png" width="100%" style="border:1px solid #fff; padding:5px;"></a>
            </li> -->
         <!-- <li class="parent">
            <a href="http://104.131.186.149/nanopool_helpdesk/upload/login.php?do=ext&bk=nanopool.users" target="nanopool_osticket" ng-class="(activeMenu==='support'?'highlite':'')"><i class="fa fa-phone lg-i"></i><br /><span>Support</span></a>
            </li> -->
      </ul>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
         <div class="modal-dialog modal-lg" role="document"  >
            <div class="modal-content" style="background:url(img/cover.jpg); background-image:cover; min-height:750px;">
               <div class="modal-header">
                  <button type="button" class="close pull-right modal-btn" data-dismiss="modal">&times;</button>
               </div>
               <h1 align="center" class="textpop01"><img src="img/bitcoin-img.png" width="350" class="pull-right">
                  The World On Bitcoin
               </h1>
               <p align="center" class="textpop02"><strong>Overview</strong><br>
                  Bitcoin was invented as a peer-to- peer system for online payments that does
                  not require a trusted central authority. Since its inception in 2008, Bitcoin has
                  grown into a technology, a currency, an investment vehicle, and a community
                  of users. In this guide, i hope to explain what Bitcoin is, what are the views of
                  some prominent people about it and how it works as well as describe how you
                  can use it to improve your life.
               </p>
               <p class="textpop03"><strong>Goals</strong><br>
                  <span>To provide a collective feedback and views of some trusted and famous people
                  on Bitcoin</span>
                  The inception of cryptocurrencies has laid a remarkable hand on
                  the economy of the whole world, while bitcoin holds the prominent
                  and robust place, all the other
                  Cryptocurrencies drift and fade away. More and more people are
                  embracing this cryptographic achievement and Bitcoin due to its
                  fame and unrelenting surge will continue to exist forever. Now let's
                  have a glimpse of what some renowned people have to say about
                  bitcoin.
               </p>
               <div class="row modal-row-mbl" style="margin:5px 30px;">
                  <div class="col-md-6" style="margin-right:0px !important; padding-right:0px !important;">
                     <div class="block-pop01" style="margin-right:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Arnon_Grunberg.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><strong><em>"The relative success of the Bitcoin proves that money first
                              and foremost depends on trust. Neither gold nor bonds are
                              needed to back up a currency."</em>
                              </strong><br>
                              <br>
                              Arnon Yasha Yves Grunberg is a Dutch writer of novels, essays, and
                              columns, as well as a journalist.<br>
                              <br>
                              <strong class="yeloow-txt">Arnon Grunberg</strong><br>
                              Duch Writer
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6" style="margin-left:0px !important; padding-left:0px !important;">
                     <div class="block-pop01" style="margin-left:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Mike_Tyson.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><em><strong>"People don't really understand a currency based on numerical equations. I
                              personally still don't ... but I'm grateful to be a part of the revolution and
                              hoping that my participation in this space will lead to more conversations and
                              help increase knowledge and awareness"</strong></em>
                              <br>
                              <br>
                              Branded Mike Tyson Bitcoin ATMs sit near the Las Vegas strip. He
                              has also joined together with a few online Bitcoin companies to make
                              a Bitcoin wallet service.<br>
                              <br>
                              <strong class="yeloow-txt">Mike Tyson</strong>
                              <br>
                              American former professional boxer<br>
                              June 30, 1966 (age 50) Brooklyn, New York City, New York, U.S.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin:5px 30px;">
                  <div class="col-md-6" style="margin-right:0px !important; padding-right:0px !important;">
                     <div class="block-pop01" style="margin-right:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Dmitry_Medvedev.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><em><strong>"I ask to consider the possibility of using Blockchain technology in the system
                              of public administration and the economy of the Russian Federation".</strong></em><br>
                              <br>
                              I gave instructions to the Ministry of Communications and the Ministry of
                              Economic Development to consider the possibility of using these technologies in
                              preparing the program "<strong>Digital Economy</strong>"<br>
                              <br>
                              <strong class="yeloow-txt">Dmitry Medvedev</strong><br>
                              Prime Minister, ex-president of the Russian Federation, Russia<br>
                              Dmitry Medvedev was born on 14 September 1965 in Leningrad, in
                              the Soviet Union.
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6" style="margin-left:0px !important; padding-left:0px !important;">
                     <div class="block-pop01" style="margin-left:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Donald Glover.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><strong><em>“Yeah I know a lot of people are skeptical, but I feel like if everything's going
                              to live online, why not bitcoins. Being backed by gold seems very old and
                              nostalgic to me.<br>
                              <br>
                              Being back to bitcoin, which takes the time to actually make and there's this
                              equation that has to be done, that feels more real to me and makes more sense”.</strong></em><br>
                              <br>
                              <strong class="yeloow-txt">Donald Glover</strong><br>
                              Donald McKinley Glover, American actor, writer, producer, director,
                              comedian, rapper, singer, and songwriter.
                              <br>
                              Donald McKinley Glover, September 25, 1983, California, U.S
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin:5px 30px;">
                  <div class="col-md-6" style="margin-right:0px !important; padding-right:0px !important;">
                     <div class="block-pop01" style="margin-right:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/hal-finney.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><em><strong>“Bitcoin seems to be a very promising idea. I like the idea of basing security on
                              the assumption that the CPU power of honest participants outweighs that of the
                              attacker. It is a very modern notion that exploits the power of the long tail.”</strong></em><br>
                              <br>
                              <strong class="yeloow-txt">Hal Finney</strong><br>
                              Computer scientist, Developer, Cryptographer. America<br>
                              Harold Thomas Finney II (May 4, 1956 – August 28, 2014)
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6" style="margin-left:0px !important; padding-left:0px !important;">
                     <div class="block-pop01" style="margin-left:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/wences casares.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><strong>“Bitcoin is not a currency for a government, it is a global currency
                              for the people”</strong><br>
                              <br>
                              Wences Casares is a technology entrepreneur with global business
                              experience specializing in technology and financial ventures. He is an
                              advocate of the Bitcoin revolution and he has said he believes that
                              Bitcoin will be bigger than the internet.<br>
                              <br>
                              <strong class="yeloow-txt">Wences Casares</strong><br>
                              Technology Entrepreneur, Businessman, Argentina<br>
                              February 26, 1974 (age 43)
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin:5px 30px;">
                  <div class="col-md-6" style="margin-right:0px !important; padding-right:0px !important;">
                     <div class="block-pop01" style="height:390px; margin-right:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Peter-Diamandis.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><strong><em>"At its core, bitcoin is a smart currency, designed by forwarding thinking-engineers, it
                              eliminates the need for banks, gets rid of credit card fees, money transfer fees, and
                              reduces the need for lawyers in transition for God things".</em></strong><br>
                              <br>
                              Greek American engineer, physician, and entrepreneur best known
                              for being the founder and chairman of the X Prize Foundation, the co-
                              founder and Executive Chairman of Singularity University and the co-
                              author of the New York Times Bestsellers Abundance:the Future Is
                              Beter Than You think and BOLD : How To Go Big, Create Wealth,and Impact The World.<br>
                              <br>
                              <strong class="yeloow-txt">Peter Diamandis</strong><br>
                              Engineer, Physician, and Entrepreneur<br>
                              May 20, 1961 (age 55) The Bronx, New York City, United States.<br>
                              Education- MIT, Harvard Medical
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6" style="margin-left:0px !important; padding-left:0px !important;">
                     <div class="block-pop01" style="margin-left:5px; height:390px">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/Bob-Greideld.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><em><strong>“I’m a big believer in the ability of blockchain technology to effect
                              fundamental change in the infrastructure of the financial service industry”.</strong></em><br>
                              <br>
                              Robert Greifeld is an American businessman and is the chairman of 
                              Nasdaq, the largest electronic screen-based equity securities market in the
                              United States.<br>
                              <br>
                              <strong class="yeloow-txt">Bob Greifeld</strong><br>
                              CEO of NASDAQ, U.S.A
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin:5px 30px;">
                  <div class="col-md-6" style="margin-right:0px !important; padding-right:0px !important;">
                     <div class="block-pop01" style="margin-right:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/MAX.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12">“<em><strong>Bitcoin is the currency of resistance
                              If Satoshi had released Bitcoin 10 yrs. earlier, 9/11 would never have
                              happened"</strong></em><br>
                              <br>
                              <strong class="yeloow-txt">Max Keiser</strong><br>
                              Timothy Maxwell "Max" Keiser (born January 23, 1960) is an American<br>
                              broadcaster and filmmaker.
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6" style="margin-left:0px !important; padding-left:0px !important;">
                     <div class="block-pop01" style="margin-left:5px;">
                        <div class="row">
                           <div class="col-md-3 col-sm-12"><img src="img/charles hoskinson.jpg" width="120" class="img-bor-pop"></div>
                           <div class="col-md-9 col-sm-12"><em><strong>"Solidify bitcoin technology for complete decentralization
                              Charles Hoskinson is a Colorado-based technology entrepreneur and
                              mathematician. He attended the Metropolitan State University of Denver and the
                              University of Colorado at Boulder to study Number Theory and Mathematical
                              Logic prior to moving into cryptography via industry exposure."</strong></em><br>
                              <br>
                              <strong class="yeloow-txt">Charles Hoskinson</strong><br>
                              Entrepreneur and Mathematician. Core Developer- Ethereum.<br>
                              Founder of The Bitcoin Project, and former Ethereum CEO,
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <br>
            </div>
         </div>
      </div>
   </nav>
</div>

